﻿@model FireRuleProposalViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> AYA SOMPO Insurance - Your  partner for life </title>
    <link rel="canonical" href="https://ayasompo.com/" />
    <link rel="icon" href="https://premiumcalculator.ayasompo.com/img/favicon_ayasompo_new.png" sizes="32x32" />
    <!-- Bootstrap -->
    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    @* <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">*@

    <link href="~/css/icheck-bootstrap/css/icheck-bootstrap.css" rel="stylesheet" />
    <link href="~/css/icheck-bootstrap/css/icheck-bootstrap.min.css" rel="stylesheet" />

    <!-- bootstrap-wysiwyg -->
    <link href="~/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="~/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    @*<link href="~/vendors/switchery/dist/switchery.min.css" rel="stylesheet">*@
    <!-- starrr -->
    <link href="~/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    @*<link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">*@

    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet" />

    <!-- AYASOMPO Theme Style -->
    <link href="~/css/smsstyle.css" rel="stylesheet" />

    <!--DataTable-->
    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                </div>

                <div class="col-md-12 col-sm-12">
                    <div class="x_content">
                        <h2 class="text-center">Summary Rule Result</h2>
                        <h4 class="text-center">Fire UW Approval</h4>
                        <div class="row">

                            <div class="col-md-5">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td><strong>Reference No</strong></td>
                                            <td>@Model.ReferenceNo</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Version</strong></td>
                                            <td>@Model.Version</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Submitted Date</strong></td>
                                            <td>@Model.IssueDate</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Requested BU</strong></td>
                                            <td>@Model.createdby</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @foreach (var risk in Model.fireRiskdetails)
                        {
                            <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                <tbody>
                                    <tr>
                                        <td style="width:50px;">1</td>
                                        <td>New or Renew</td>
                                        <td colspan="4">@Model.TransactionType</td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;">2</td>
                                        <td>Channel</td>
                                        <td colspan="4">@Model.AgentName</td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;">3</td>
                                        <td>Insured Name</td>
                                        <td colspan="4">@Model.CusName</td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;">4</td>
                                        <td>Insured Mailing Address</td>
                                        <td colspan="4">@Model.InsuredMailingAddress</td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;">5</td>
                                        <td>POI</td>
                                        <td colspan="4">365 days from 00:00 hrs on @Convert.ToDateTime(Model.PolicyStartDate).ToString("dd MMM yyyy") to 00:00 hrs @Convert.ToDateTime(Model.PolicyEndDate).ToString("dd MMM yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;">6</td>
                                        <td>Risk Name</td>
                                        <td colspan="4">@risk.RiskName</td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;">7</td>
                                        <td>Risk Location</td>
                                        <td colspan="4">@risk.RiskLocation</td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;">8</td>
                                        <td>Occupancy</td>
                                        <td colspan="4">@risk.Occupancy</td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;">9</td>
                                        <td>Total TSI</td>
                                        <td colspan="4">@Model.TotalSumInsured</td>
                                    </tr>

                                    <tr>
                                        @{
                                            int count = 3;
                                            @if (risk.firecoverage.RiotStrikeAndMaliciousDamage == true)
                                            {
                                                count++;
                                            }
                                            @if (risk.firecoverage.AircraftDamage == true)
                                            {
                                                count++;
                                            }
                                            @if (risk.firecoverage.ImpactDamage == true)
                                            {
                                                count++;
                                            }
                                            @if (risk.firecoverage.SubsidenceAndLandslide == true)
                                            {
                                                count++;
                                            }
                                            @if (risk.firecoverage.EarthQuakeFireFireAndShockDamage == true)
                                            {
                                                count++;
                                            }
                                            @if (risk.firecoverage.Explosion == true)
                                            {
                                                count++;
                                            }
                                            @if (risk.firecoverage.SpontaneousCombustion == true)
                                            {
                                                count++;
                                            }
                                            @if (risk.firecoverage.StormTyphoonHurricaneTempest == true)
                                            {
                                                count++;
                                            }
                                            @if (risk.firecoverage.Burglary == true)
                                            {
                                                count++;
                                            }
                                            @if (risk.firecoverage.WarRisk == true)
                                            {
                                                count++;
                                            }
                                            @if (risk.firecoverage.FloodAndInundation == true)
                                            {
                                                count++;
                                            }
                                        }
                                        <td rowspan="@count" style="width:50px;">10</td>
                                        <td rowspan="@count"><strong>Coverage</strong></td>
                                        <td colspan="4"><strong>Basic Cover</strong></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">Insured Interest: Building, Furniture & Fixtures, Office Equipment</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"><strong>Additional Cover</strong></td>
                                    </tr>
                                    @if (risk.firecoverage.RiotStrikeAndMaliciousDamage == true)
                                    {
                                        <tr>
                                            <td colspan="4">RIOT STRIKE AND MALICIOUS DAMAGE</td>
                                        </tr>

                                    }
                                    @if (risk.firecoverage.AircraftDamage == true)
                                    {
                                        <tr>
                                            <td colspan="4">AIRCRAFT DAMAGE</td>
                                        </tr>

                                    }
                                    @if (risk.firecoverage.ImpactDamage == true)
                                    {
                                        <tr>
                                            <td colspan="4">IMPACT DAMAGE</td>
                                        </tr>

                                    }
                                    @if (risk.firecoverage.SubsidenceAndLandslide == true)
                                    {
                                        <tr>
                                            <td colspan="4">SUBSIDENCE & LANDSLIDE</td>
                                        </tr>

                                    }
                                    @if (risk.firecoverage.EarthQuakeFireFireAndShockDamage == true)
                                    {
                                        <tr>
                                            <td colspan="4">EARTH-QUAKE FIRE, FIRE AND SHOCK DMG CAUSED BY EQ</td>
                                        </tr>

                                    }
                                    @if (risk.firecoverage.Explosion == true)
                                    {
                                        <tr>
                                            <td colspan="4">EXPLOSION</td>
                                        </tr>

                                    }
                                    @if (risk.firecoverage.SpontaneousCombustion == true)
                                    {
                                        <tr>
                                            <td colspan="4">SPONTANEOUS COMBUSTION</td>
                                        </tr>

                                    }
                                    @if (risk.firecoverage.StormTyphoonHurricaneTempest == true)
                                    {
                                        <tr>
                                            <td colspan="4">STORM, TYPHOON, HURRICANE, TEMPEST</td>
                                        </tr>

                                    }
                                    @if (risk.firecoverage.Burglary == true)
                                    {
                                        <tr>
                                            <td colspan="4">BURGLARY</td>
                                        </tr>

                                    }
                                    @if (risk.firecoverage.WarRisk == true)
                                    {
                                        <tr>
                                            <td colspan="4">WAR RISK</td>
                                        </tr>

                                    }
                                    @if (risk.firecoverage.FloodAndInundation == true)
                                    {
                                        <tr>
                                            <td colspan="4">FLOOD AND INUNDATION</td>
                                        </tr>

                                    }

                                    <tr>
                                        <td rowspan="7" style="width:50px;">11</td>
                                        <td rowspan="7"><strong>Inventory Detail</strong></td>
                                        <td colspan="4">Sum Insured</td>
                                    </tr>

                                    <tr>
                                        <td>Building</td>
                                        <td style="width:50px;">@risk.Currency</td>
                                        <td>
                                            @{
                                                decimal? buildingDeclaredAmt = 0;
                                                buildingDeclaredAmt = risk.fireinventory.Where(i => i.ItemCode == "BLD" && i.RiskId == risk.Id).Select(b => b.DeclaredAmount).FirstOrDefault();
                                            }
                                            @Convert.ToDecimal(buildingDeclaredAmt).ToString("N2")
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Machinery</td>
                                        <td style="width:50px;">@risk.Currency</td>
                                        <td>
                                            @{
                                                decimal? machineryDeclaredAmt = 0;
                                                machineryDeclaredAmt = risk.fireinventory.Where(i => i.ItemCode == "MAC" && i.RiskId == risk.Id).Select(b => b.DeclaredAmount).FirstOrDefault();
                                            }
                                            @Convert.ToDecimal(machineryDeclaredAmt).ToString("N2")
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Furniture & Fixtures</td>
                                        <td style="width:50px;">@risk.Currency</td>
                                        <td>
                                            @{
                                                decimal? furnitureDeclaredAmt = 0;
                                                furnitureDeclaredAmt = risk.fireinventory.Where(i => i.ItemCode == "FUR" && i.RiskId == risk.Id).Select(b => b.DeclaredAmount).FirstOrDefault();
                                            }
                                            @Convert.ToDecimal(furnitureDeclaredAmt).ToString("N2")
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Office equipment</td>
                                        <td style="width:50px;">@risk.Currency</td>
                                        <td>0</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Stock</td>
                                        <td style="width:50px;">@risk.Currency</td>
                                        <td>
                                            @{
                                                decimal? stockDeclaredAmt = 0;
                                                stockDeclaredAmt = risk.fireinventory.Where(i => i.ItemCode == "STK" && i.RiskId == risk.Id).Select(b => b.DeclaredAmount).FirstOrDefault();
                                            }
                                            @Convert.ToDecimal(stockDeclaredAmt).ToString("N2")
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Total Sum Insured</strong></td>
                                        <td style="width:50px;"><strong>@risk.Currency</strong></td>
                                        <td>
                                            @{
                                                decimal totalSI = @Convert.ToDecimal(buildingDeclaredAmt) + @Convert.ToDecimal(machineryDeclaredAmt) + @Convert.ToDecimal(furnitureDeclaredAmt) + @Convert.ToDecimal(stockDeclaredAmt);
                                            }
                                            <strong>@Convert.ToDecimal(totalSI).ToString("N2")</strong>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;">11</td>
                                        <td><strong>RATE</strong></td>
                                        <td colspan="4">-</td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;">12</td>
                                        <td><strong>PREMIUM</strong></td>
                                        <td colspan="4"><strong>@risk.Currency @Convert.ToDecimal(Model.Premium).ToString("N2")</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;">13</td>
                                        <td>Area of the Buildings</td>
                                        <td colspan="4">@risk.constructiondetail.AreaOfBuilding</td>
                                    </tr>

                                    <tr>
                                        <td rowspan="7" style="width:50px;">14</td>
                                        <td><strong>FEA</strong></td>
                                        <td colspan="4"></td>
                                    </tr>
                                    <tr>
                                        <td>Fire extinguisher</td>
                                        <td colspan="4">@risk.feainformation.RequiredNumberOfFireExtinguisherDesp pcs (@risk.feainformation.WeightOfFireExtinguisherDesp dry powder)</td>
                                    </tr>
                                    <tr>
                                        <td>Water tank</td>
                                        <td colspan="4">@risk.firewatertank.CapacityofFireTank</td>
                                    </tr>
                                    <tr>
                                        <td>24 hr security</td>
                                        <td colspan="4">@risk.firesecurity.NumberofSecurityGuardsDesp</td>
                                    </tr>
                                    <tr>
                                        <td>CCTV</td>
                                        <td colspan="4">@risk.firesecurity.NumberofCCTVCameraDesp</td>
                                    </tr>

                                    <tr>
                                        <td>Nearest fire station</td>
                                        <td colspan="4">@risk.firesecurity.NearestFireStation</td>
                                    </tr>
                                    <tr>
                                        <td>Labour force</td>
                                        <td colspan="4">@risk.firesecurity.NumberofLabour</td>
                                    </tr>

                                    <tr>
                                        <td style="width:50px;">15</td>
                                        <td>Geo-coordinates of risk</td>
                                        <td colspan="4">@risk.firesecurity.Geocoordinate</td>
                                    </tr>
                                    <tr>
                                        <td style="width:50px;">16</td>
                                        <td colspan="5">
                                            @if (risk.firesecurity.Losswithin5Years == null)
                                            {
                                                <span>No loss is recorded.</span>
                                            }
                                            else
                                            {
                                                @risk.firesecurity.Losswithin5Years
                                            }
                                        </td>

                                    </tr>
                                    <tr>
                                        <td style="width:50px;">17</td>
                                        <td colspan="5">Referral point due to xxxxx</td>
                                    </tr>
                                </tbody>
                            </table>

                        }


                        <table id="datatable" class="table table-striped table-bordered" style="width:100%;page-break-before:always;">
                            <thead>
                                <tr>
                                    <th colspan="3" style="background-color:#CE123C;text-align:center;font-size:18px;color:#FFFFFF;">Detail Rule Result</th>
                                </tr>
                                <tr>
                                    <th>Field Name</th>
                                    <th>Value</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            @foreach (var rule in Model.lstRuleResultViewModel)
                            {
                                <tbody>
                                    <tr>
                                        <td>@rule.questionname</td>
                                        <td>
                                            @if (rule.questionvalue == "Y")
                                            {
                                                <span>Active</span>
                                            }
                                            else
                                            {
                                                @rule.questionvalue
                                            }
                                        </td>
                                        <td>@rule.action</td>
                                    </tr>
                                </tbody>
                            }
                        </table>




                    </div>
                </div>

            </div>
        </div>

    </div>

</body>
</html>
