﻿
@{
    ViewData["Title"] = "drsfireproposal";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<link href="~/css/select2/css/select2.min.css" rel="stylesheet" />
<script src="~/css/select2/js/select2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="~/js/easy-number-separator.js"></script>

<script>

    $(function () {
        $(".monthpicker").datetimepicker({
            format: "MMM/YYYY"
        });
    });

    $('document').ready(function () {

        //var oTable = $('#tblBU').dataTable();
        //oTable.$('.js-example-responsive').select2({
        //});

        //$('.ddlMultipleSelect').SumoSelect({
        //    search: true,
        //    searchText: '',
        //    //csvDispCount: 5
        //});

        //$(".js-example-responsive").select2({
        //    allowClear: true,
        //    tags: true,
        //    width: 'resolve' // need to override the changed default
        //});


        //   onload: call the above function
        $(".select2").each(function () {
            initializeSelect2($(this));

        });

        $(".select2").select2({
            allowClear: true,
            tags: true,
            width: 'resolve' // need to override the changed default
        });


    });

    //function to initialize select2
    function initializeSelect2(selectElementObj) {
        selectElementObj.select2({
            //tags: false,
            allowClear: true,
        });
    }

</script>
<style>
    .form-control-feedback {
        margin-top: 5px !important;
    }

    .btn:hover {
        color: #212529 !important;
    }

    tfoot input {
        margin: 0px !important;
    }

    /*File Uploader Starts here*/
    .card {
        /* margin-top: 100px;*/
    }

    .btn-upload {
        padding: 10px 20px;
        margin-left: 10px;
    }

    .upload-input-group {
        margin-bottom: 10px;
    }

    .input-group > .custom-select:not(:last-child), .input-group > .form-control:not(:last-child) {
        height: 45px;
    }

</style>

<style type="text/css">
    .select2-container {
        width: 100% !important;
    }

    .select2-results__option--highlighted,
    .select2-results__option:hover {
        background: #A92028 !important;
        color: #cccccc;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        font-size: 13px !important;
        padding-top: 0px;
        padding-left: 15px;
        /* width: 120px;*/
    }

    .select2-selection__rendered {
        line-height: 35px !important;
    }

    .select2-container .select2-selection--single {
        height: 36px !important;
    }

    .select2-selection__arrow {
        height: 35px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__clear {
        padding-left: 115px;
    }

    .SumoSelect > .CaptionCont > span.placeholder {
        color: #495057;
        font-style: normal;
    }

    .SumoSelect > .CaptionCont {
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }

    .SelectBox {
        padding: .375rem .75rem;
    }

    .SumoSelect {
        width: inherit;
    }

    .lbl_filter {
        font-size: 16px;
        margin-left: 8px;
        margin-bottom: 0rem;
    }
</style>
<style>
    #custom-button {
        padding: 10px;
        color: #495057;
        border: 1px solid #ced4da;
        border-radius: 5px;
        cursor: pointer;
    }

        #custom-button:hover {
        }

    #custom-text {
        margin-left: 10px;
        font-family: sans-serif;
        color: #aaa;
    }

</style>


<div class="row">
    <div class="col-md-12">
        <div class="x_content">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>DRS Fire Policy<small></small></h2>

                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="btn btn-app">
                                        <i class="fa fa-play"></i> Run Rule
                                    </a>
                                </li>

                                <li>
                                    <a class="btn btn-app">
                                        <i class="fa fa-repeat"></i> Reset
                                    </a>
                                </li>

                            </ul>
                            <div class="clearfix"></div>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <div class="x_content">

                                <div class="form-horizontal form-label-left">
                                    <div class="form-group row ">
                                        <label class="control-label col-md-3 col-sm-3 ">Class</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <input type="text" class="form-control" value="Fire Insurance" readonly="readonly">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal form-label-left">
                                    <div class="form-group row ">
                                        <label class="control-label col-md-3 col-sm-3 ">Product</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <input type="text" class="form-control" value="Fire Insurance" readonly="readonly">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal form-label-left">
                                    <div class="form-group row ">
                                        <label class="control-label col-md-3 col-sm-3 ">Insured Name</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <input type="text" class="form-control" id="txtInsuredName" placeholder="Insured Name">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal form-label-left">
                                    <div class="form-group row ">
                                        <label class="control-label col-md-3 col-sm-3 ">NRC/Passport</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <textarea class="form-control" id="txtInsuredMailAddress" placeholder="Insured Mailing Address"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal form-label-left">
                                    <div class="form-group row ">
                                        <label class="control-label col-md-3 col-sm-3 ">Birth Date</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <textarea class="form-control" id="txtBirthDate" placeholder="Insured BirthDate"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal form-label-left">
                                    <div class="form-group row ">
                                        <label class="control-label col-md-3 col-sm-3 ">Birth Date</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <textarea class="form-control" id="txtInsuredMailAddress" placeholder="Insured Mailing Address"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal form-label-left">
                                    <div class="form-group row ">
                                        <label class="control-label col-md-3 col-sm-3 ">Total Sum Insured (Proposed)</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <input type="text" id="txtTotalSI" class="form-control number-separator" placeholder="Total Sum Insured" style="text-align:right;" onkeypress="return isNumber(event)">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal form-label-left">
                                    <div class="form-group row ">
                                        <label class="control-label col-md-3 col-sm-3 ">Premium Amount</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <input type="text" class="form-control number-separator" placeholder="0" style="text-align:right;" onkeypress="return isNumber(event)">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="x_content">

                                <div class="form-horizontal form-label-left">
                                    <div class="form-group row ">
                                        <label class="control-label col-md-3 col-sm-3 ">Reference No</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <input type="text" class="form-control" id="txtReferenceNo" placeholder="Reference Number">
                                        </div>
                                    </div>
                                </div>


                                <div class="form-horizontal form-label-left">
                                    <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3 ">Submitted Date</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <input type="text" class="form-control" readonly="readonly" value="@DateTime.Now.Date.ToString("dd/MMM/yyyy")">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-horizontal form-label-left">
                                    <div class="form-group row ">
                                        <div class="col-7">
                                            <label class="control-label col-md-5 col-sm-5">Policy Period From</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input type="date" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-5">
                                            <label class="control-label col-md-3 col-sm-3 ">To</label>
                                            <div class="col-md-9 col-sm-9 ">
                                                <input type="date" class="form-control" placeholder="Channel">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

