﻿@model RuleViewModel
@{
    ViewData["Title"] = "FireRuleSetup";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<script src="~/js/rule.js"></script>
<link href="~/css/select2/css/select2.min.css" rel="stylesheet" />
<script src="~/css/select2/js/select2.min.js"></script>

<script type="text/javascript">
    $('document').ready(function () {

        //   onload: call the above function
        $(".select2").each(function () {
            initializeSelect2($(this));
        });

        $(".select2").select2({
            allowClear: true,
            tags: true,
            width: 'resolve' // need to override the changed default
        });


    });

    //function to initialize select2
    function initializeSelect2(selectElementObj) {
        selectElementObj.select2({
            //tags: false,
            allowClear: true,
        });
    }

</script>

<div class="row">
    <div class="col-md-12">
        <div class="x_content">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Fire Rule Base Setup<small></small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>

                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                        @using (Html.BeginForm("SaveFireRule", "FireRuleBase", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="x_content">
                                <div class="form-horizontal form-label-left">
                                    <div class="form-group row">
                                        <div class="col-md-9 col-sm-9  offset-md-3">
                                            <button type="button" class="btn btn-primary">Cancel</button>
                                            <button class="btn btn-primary" type="reset">Reset</button>
                                            <button type="submit" class="btn btn-success">Save</button>
                                        </div>
                                    </div>

                                    <div class="ln_solid"></div>

                                    <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3" style="font-weight:700;">If the following conditions are met</label>
                                    </div>


                                    <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3 ">Your Mean Preference</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            @Html.DropDownListFor(model => model.QuestionId1, ViewBag.RuleQuestion1 as IEnumerable<SelectListItem>, "Your Mean Preference", new { @class = "form-control select2", @id = "ddlQuestionId1" })
                                        </div>
                                    </div>

                                    <div class="form-group row" id="divOperation">
                                        <label class="control-label col-md-3 col-sm-3 ">Operator</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            @Html.DropDownListFor(model => model.Operator1, ViewBag.OperatorList as IEnumerable<SelectListItem>, "Select Compare Operator", new { @class = "form-control select2" })
                                        </div>
                                    </div>


                                    <!-- Add Additional rule (AND) -->

                                    <div class="form-group row" id="divTextBox2">
                                        <label class="control-label col-md-3 col-sm-3 ">Your Custom Value</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <input type="text" class="form-control" placeholder="Your Custom Value" asp-for="Value1" />
                                        </div>
                                    </div>

                                    <div class="form-group row" id="divQuestion2">
                                        <label class="control-label col-md-3 col-sm-3 ">Your Mean Value 2</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            <select id="ddlValue1" class="form-control" asp-for="Value1">
                                                <option value="">Choose Value</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="form-group row" style="margin-top:10px;">
                                        <label class="control-label col-md-3 col-sm-3 "></label>
                                        <div class="col-md-9 col-sm-9">
                                            <input type="button" value="Add Condition" class="btn btn-primary" id="btnRuleAdd" />

                                            <div class="row" style="border: 1px solid #aeabab;padding:20px;margin-top:20px;" id="divAdditionalRule">
                                                <div class="form-group row">
                                                    <label class="control-label col-md-3 col-sm-3 ">Your Mean Preference 3</label>
                                                    <div class="col-md-9 col-sm-9 ">
                                                        @Html.DropDownListFor(model => model.QuestionId2, ViewBag.RuleQuestion1 as IEnumerable<SelectListItem>, "Your Mean Preference", new { @class = "form-control", @id = "ddlQuestionId3" })
                                                    </div>
                                                </div>

                                                <div class="form-group row" id="divOperation">
                                                    <label class="control-label col-md-3 col-sm-3 ">Operator</label>
                                                    <div class="col-md-9 col-sm-9 ">
                                                        @Html.DropDownListFor(model => model.Operator2, ViewBag.OperatorList as IEnumerable<SelectListItem>, "Select Compare Operator", new { @class = "form-control" })
                                                    </div>
                                                </div>

                                                <div class="form-group row" id="divQuestion3">
                                                    <label class="control-label col-md-3 col-sm-3 ">Your Mean Value 4</label>
                                                    <div class="col-md-9 col-sm-9 ">
                                                        <select id="ddlValue2" class="form-control" asp-for="Value2">
                                                            <option value="">Choose Value</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>


                                    <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3" style="font-weight:700;">Perform the following action</label>
                                    </div>

                                    <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3 ">Priority Level</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            @Html.DropDownListFor(model => model.Priority, ViewBag.PriorityList as IEnumerable<SelectListItem>, "Priority", new { @class = "form-control ddlMultipleSelect" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-3 ">Your Actions</label>
                                        <div class="col-md-9 col-sm-9 ">
                                            @Html.DropDownListFor(model => model.Action, ViewBag.lstRuleActions as IEnumerable<SelectListItem>, "Your Action", new { @class = "form-control select2" })
                                        </div>
                                    </div>

                                </div>


                            </div>
                        }

                        @if (ViewBag.lstRules != null)
                        {
                            <div class="card-box table-responsive">
                                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Preference1 Name</th>
                                            <th>Preference1 Value</th>
                                            <th>Preference2 Name</th>
                                            <th>Preference2 Value</th>
                                            <th>Priority Level</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var rule in (List<Rules>)ViewBag.lstRules)
                                        {
                                            <tr>
                                               
                                                <td style="width:50px;">
                                                    <a href='@Url.Action("DeleteRule", "FireRuleBase", new { @Id = @rule.Id })'>
                                                        <span class="fa fa-trash ayascolor"></span>
                                                    </a>
                                                </td>

                                                <td style="width:100px;">@rule.Preference1_Name</td>
                                                <td style="width:300px;">@rule.Value1</td>
                                                <td style="width:100px;">@rule.Preference2_Name</td>
                                                <td style="width:300px;">@rule.Value2</td>
                                                <td style="width:100px;">@rule.PriorityLevel</td>
                                                <td style="width:300px;">@rule.Action</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>

                        }

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

