﻿@model FireUWViewModel
@{
    ViewData["Title"] = "FireUW";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<script src="~/js/fire.js"></script>

<link href="~/css/select2/css/select2.min.css" rel="stylesheet" />
<script src="~/css/select2/js/select2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="~/js/easy-number-separator.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script>

    $(function () {
        $(".monthpicker").datetimepicker({
            format: "MMM/YYYY"
        });
    });

    $('document').ready(function () {

        //var oTable = $('#tblBU').dataTable();
        //oTable.$('.js-example-responsive').select2({
        //});

        //$('.ddlMultipleSelect').SumoSelect({
        //    search: true,
        //    searchText: '',
        //    //csvDispCount: 5
        //});

        //$(".js-example-responsive").select2({
        //    allowClear: true,
        //    tags: true,
        //    width: 'resolve' // need to override the changed default
        //});


     //   onload: call the above function
        $(".select2").each(function () {
            initializeSelect2($(this));
            
        });

        $(".select2").select2({
            allowClear: true,
            tags: true,
            width: 'resolve' // need to override the changed default
        });


    });

    //function to initialize select2
    function initializeSelect2(selectElementObj) {
        selectElementObj.select2({
            //tags: false,
            allowClear: true,
        });
    }

  
    
</script>
<style>
    .form-control-feedback {
        margin-top: 5px !important;
    }

    .btn:hover {
        color: #212529 !important;
    }

    tfoot input{
        margin:0px !important;
    }

     /*File Uploader Starts here*/
    .card {
       /* margin-top: 100px;*/
    }

    .btn-upload {
        padding: 10px 20px;
        margin-left: 10px;
    }

    .upload-input-group {
        margin-bottom: 10px;
    }

    .input-group > .custom-select:not(:last-child), .input-group > .form-control:not(:last-child) {
        height: 45px;
    }

</style>

<style type="text/css">
    .select2-container{
        width:100% !important;
    }

    .select2-results__option--highlighted,
    .select2-results__option:hover {
        background: #A92028 !important;
        color: #cccccc;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        font-size: 13px !important;
        padding-top: 0px;
        padding-left: 15px;
       /* width: 120px;*/
    }

    .select2-selection__rendered {
        line-height: 35px !important;
    }

    .select2-container .select2-selection--single {
        height: 36px !important;
    }

    .select2-selection__arrow {
        height: 35px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__clear {
        padding-left: 115px;
    }

    .SumoSelect > .CaptionCont > span.placeholder {
        color: #495057;
        font-style: normal;
    }

    .SumoSelect > .CaptionCont {
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }

    .SelectBox {
        padding: .375rem .75rem;
    }

    .SumoSelect {
        width: inherit;
    }

    .lbl_filter {
        font-size: 16px;
        margin-left: 8px;
        margin-bottom: 0rem;
    }
</style>

<style>
    #custom-button {
        padding: 10px;
        color: #495057;
        border: 1px solid #ced4da;
        border-radius: 5px;
        cursor: pointer;
    }

        #custom-button:hover {
           
        }

    #custom-text {
        margin-left: 10px;
        font-family: sans-serif;
        color: #aaa;
    }


</style>

<div class="row">
    <div class="col-md-12">
        <div class="x_content">

                <input type="hidden" id="hdfRiskCount" asp-for="@Model.riskCount">
               
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Fire Policy Creation<small></small></h2>

                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <button type="button" class="btn btn-app" id="btnSaveRule">
                                            <i class="fa fa-save"></i> Save
                                        </button>                                    
                                    </li>
                                    <li>
                                    <button type="button" class="btn btn-app" id="btnRunRule">
                                            <i class="fa fa-play"></i> Run Rule
                                        </button>
                                    </li>
                                    <li>
                                        <a class="btn btn-app" id="btnReset">
                                            <i class="fa fa-repeat"></i> Reset
                                        </a>
                                    </li>

                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="x_content">

                                    <div class="form-horizontal form-label-left">
                                        <div class="form-group row ">
                                            <label class="control-label col-md-3 col-sm-3 ">Class</label>
                                            <div class="col-md-9 col-sm-9 ">
                                                <input type="text" class="form-control" asp-for="Class" value="Fire Insurance" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-horizontal form-label-left">
                                        <div class="form-group row ">
                                            <label class="control-label col-md-3 col-sm-3 ">Product</label>
                                            <div class="col-md-9 col-sm-9 ">
                                                @Html.DropDownListFor(model => model.ProductCode, ViewBag.ProductClass as IEnumerable<SelectListItem>, "Select Product", new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-horizontal form-label-left">
                                        <div class="form-group row ">
                                            <label class="control-label col-md-3 col-sm-3 ">
                                                Insured Customer Code <span class="required"> * </span>
                                            </label>
                                            <div class="col-md-9 col-sm-9">

                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" asp-for="CusCode" id="txtCustomerCode" placeholder="Customer Code" aria-label="Customer Code" aria-describedby="basic-addon2">
                                                    <div class="input-group-append">
                                                        <button type="button" class="btn btn-default" id="btnCustomerSearch" style="border:1px solid #ced4da">
                                                            <span class="fa fa-search right" aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-horizontal form-label-left">
                                        <div class="form-group row ">
                                            <label class="control-label col-md-3 col-sm-3 ">Insured Name</label>
                                            <div class="col-md-9 col-sm-9 ">
                                                <input type="text" class="form-control" asp-for="CusName" id="txtInsuredName" placeholder="Insured Name" disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-horizontal form-label-left">
                                        <div class="form-group row ">
                                            <label class="control-label col-md-3 col-sm-3 ">Insured Mailing Address</label>
                                            <div class="col-md-9 col-sm-9 ">
                                                <textarea class="form-control" id="txtInsuredMailAddress" rows="5" placeholder="Insured Mailing Address" disabled></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-horizontal form-label-left">
                                        <div class="form-group row ">
                                            <label class="control-label col-md-3 col-sm-3 ">Total Sum Insured (Proposed)</label>
                                            <div class="col-md-9 col-sm-9 ">
                                                <input type="text" id="txtTotalSI" asp-for="TotalSumInsured" class="form-control number-separator" placeholder="Total Sum Insured" style="text-align:right;" onkeypress="return isNumber(event)">
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="x_content">

                                     <div class="form-horizontal form-label-left">
                                        <div class="form-group row ">
                                            <label class="control-label col-md-3 col-sm-3 ">Reference No</label>
                                            <div class="col-md-9 col-sm-9 ">
                                                <input type="text" id="txtReferenceNo" asp-for="ReferenceNo" class="form-control" disabled placeholder="Reference No">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-horizontal form-label-left">
                                        <div class="form-group row ">
                                            <label class="control-label col-md-3 col-sm-3 ">Version</label>
                                            <div class="col-md-9 col-sm-9 ">
                                                <input type="text" id="txtVersion" asp-for="Version" class="form-control" disabled placeholder="Version No">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-horizontal form-label-left">
                                        <div class="form-group row">
                                            <label class="control-label col-md-3 col-sm-3 ">Issue Date</label>
                                            <div class="col-md-9 col-sm-9 ">
                                                <input type="text" class="form-control" asp-for="IssueDate" readonly="readonly" value="@DateTime.Now.Date.ToString("dd/MMM/yyyy")">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-horizontal form-label-left">
                                        <div class="form-group row ">
                                            <label class="control-label col-md-3 col-sm-3 ">Transaction Type</label>
                                            <div class="col-md-9 col-sm-9 ">
                                                @Html.DropDownListFor(model => model.TransactionType, ViewBag.TransactionType as IEnumerable<SelectListItem>, "Select TransactionType", new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-horizontal form-label-left">
                                        <div class="form-group row ">
                                            <label class="control-label col-md-3 col-sm-3 ">Intemediary</label>
                                            <div class="col-md-9 col-sm-9 ">
                                                @Html.DropDownListFor(model => model.IntermediaryCode, ViewBag.Intermediary as IEnumerable<SelectListItem>, "Select Intermediary", new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-horizontal form-label-left">
                                        <div class="form-group row ">
                                            <label class="control-label col-md-3 col-sm-3 ">Agent</label>
                                            <div class="col-md-9 col-sm-9 ">
                                                @Html.DropDownListFor(model => model.AgentCode, ViewBag.AgentCode as IEnumerable<SelectListItem>, "Select Agent Code", new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-horizontal form-label-left">
                                        <div class="form-group row ">
                                            <label class="control-label col-md-3 col-sm-3 ">Account Handler Code</label>
                                            <div class="col-md-9 col-sm-9 ">
                                                @Html.DropDownListFor(model => model.AccountCode, ViewBag.AccountCode as IEnumerable<SelectListItem>, "Select Account Code", new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-horizontal form-label-left">
                                        <div class="form-group row ">
                                            <div class="col-7">
                                                <label class="control-label col-md-5 col-sm-5">Policy Period From</label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="date" class="form-control" asp-for="PolicyStartDate">
                                                </div>
                                            </div>

                                            <div class="col-5">
                                                <label class="control-label col-md-3 col-sm-3 ">To</label>
                                                <div class="col-md-9 col-sm-9 ">
                                                    <input type="date" class="form-control" asp-for="PolicyEndDate">
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-horizontal form-label-left">
                                        <div class="form-group row ">
                                            <label class="control-label col-md-3 col-sm-3 ">Premium Amount</label>
                                            <div class="col-md-9 col-sm-9 ">
                                                <input type="text" class="form-control number-separator" asp-for="Premium" placeholder="0" style="text-align:right;" onkeypress="return isNumber(event)">
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12">
                      
                        @{
                            int i = 0;
                        }
                        @{
                            int riskCount = 0;
                        }
                        @if (Model.lstRiskLocations != null)
                        {
                            @for (int risk = 0; risk < Model.riskCount; risk++)
                            {
                                i++;
                                <input type="hidden" id="hdfWardCode_@i" asp-for="@Model.lstRiskLocations[risk].WardCode">
                                <input type="hidden" id="hdfBuildingNo_@i" asp-for="@Model.lstRiskLocations[risk].BuildingNo">
                                <input type="hidden" id="hdfStreet_@i" asp-for="@Model.lstRiskLocations[risk].Street">

                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Risk Name - @Model.lstRiskLocations[risk].RiskName / <small>Risk Suminsured - @Model.lstRiskLocations[risk].RiskSumInsured</small></h2>
                                        <ul class="nav navbar-right panel_toolbox">
@*
                                            <li>
                                                <button type="button" class="btn btn-primary btnRiskDetailAdd">Add</button>
                                            </li>
*@
                                            <li>
                                                <a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                                            </li>

                                            @* <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>*@
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="x_content">

                                        <div class="form-horizontal form-label-left">
                                            <div class="form-group row">
                                                <label class="control-label col-md-3 col-sm-3 ">Risk Name</label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" class="form-control" id="txtRiskName_@i" asp-for="@Model.lstRiskLocations[risk].RiskName">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-horizontal form-label-left">
                                            <div class="form-group row">
                                                <label class="control-label col-md-3 col-sm-3 ">Risk Sum Insured</label>
                                                <div class="col-md-6 col-sm-6 ">
                                                    <input type="text" class="form-control" id="txtRiskSumInsured_@i" asp-for="@Model.lstRiskLocations[risk].RiskSumInsured">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-horizontal form-label-left">
                                            <div class="form-group row ">
                                                <label class="control-label col-md-3 col-sm-3 ">Risk Location</label>
                                                <div class="col-md-6 col-sm-6">
                                                    <textarea class="form-control" id="txtLocationRisk_@i" placeholder="Location Address" asp-for="@Model.lstRiskLocations[risk].LocationDetail"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-horizontal form-label-left">
                                            <div class="form-group row ">
                                                <label class="control-label col-md-3 col-sm-3 ">Occupancy</label>
                                                <div class="col-md-6 col-sm-6 ">
                                                    @Html.DropDownListFor(model => Model.lstRiskLocations[risk].Occupancy, ViewBag.OccupancyList as IEnumerable<SelectListItem>, "Select Occupancy", new { @class = "form-control select2", @id = "ddlOccupancy_" + @i })
                                                </div>
                                            </div>
                                        </div>

                                        <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="Construction-tab_@i" data-toggle="tab" href="#Construction_@i" role="tab" aria-controls="construction" aria-selected="true">Construction</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="FEAInformation-tab_@i" data-toggle="tab" href="#FEAInformation_@i" role="tab" aria-controls="FEAInformation" aria-selected="false">FEAInformation</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="FireWaterTank-tab_@i" data-toggle="tab" href="#FireWaterTank_@i" role="tab" aria-controls="FireWaterTank" aria-selected="false">Fire/Water Tank</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="Security-tab_@i" data-toggle="tab" href="#Security_@i" role="tab" aria-controls="Security" aria-selected="false">Security</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="Inventory-tab_@i" data-toggle="tab" href="#Inventory_@i" role="tab" aria-controls="Inventory" aria-selected="false">Inventory</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" id="Coverage-tab_@i" data-toggle="tab" href="#Coverage_@i" role="tab" aria-controls="Coverage" aria-selected="false">Coverage</a>
                                            </li>

                                        </ul>

                                        <div class="tab-content" id="myTabContent">

                                            <div class="tab-pane fade show active" id="Construction_@i" role="tabpanel" aria-labelledby="construction-tab_@i">
                                                <div class="col-md-8">
                                                    <div class="x_panel">
                                                        <div class="x_title">
                                                            <h2>Construction</h2>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="x_content">
                                                            <br />
                                                            <div class="form-horizontal form-label-left">

                                                                <div class="form-group row ">
                                                                    <label class="control-label col-md-3 col-sm-3 ">Total Area of the Buildings</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        <input type="text" class="form-control" asp-for="fireConstruction.AreaOfBuilding" id="txtTotalAreaofBuilding_@i" placeholder="Total Area of the Buildings (square feet) value" onchange="calculateSqlMeter(this.id)">
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3 font-weight-bold">Roof</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        @Html.DropDownListFor(model => model.fireConstruction.Roof, ViewBag.RoofList as IEnumerable<SelectListItem>, "Select Roof", new { @class = "form-control select2", @id = "ddlRoof_" + @i })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3 font-weight-bold">Walls</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        @Html.DropDownListFor(model => model.fireConstruction.Walls, ViewBag.WallsList as IEnumerable<SelectListItem>, "Select Walls", new { @class = "form-control select2", @id = "ddlWalls_" + @i })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3 font-weight-bold">
                                                                        Columns
                                                                    </label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        @Html.DropDownListFor(model => model.fireConstruction.Columns, ViewBag.ColumnsList as IEnumerable<SelectListItem>, "Select Columns", new { @class = "form-control select2", @id = "ddlColumn_" + @i })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3 font-weight-bold">Floor</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        @Html.DropDownListFor(model => model.fireConstruction.Floor, ViewBag.FloorList as IEnumerable<SelectListItem>, "Select Floor", new { @class = "form-control select2", @id = "ddlFloor_" + @i,  @onchange = "GetBuildingClass(this.id);" })
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3">Type of Construction</label>
                                                                    <div class="col-md-9 col-sm-9">
                                                                        @Html.DropDownListFor(model => model.fireConstruction.ConstructionClass, ViewBag.ClassOfBuilding as IEnumerable<SelectListItem>, "Select Type of Construction", new { @class = "form-control", @id = "ddlTypeOfConstruction_" + @i })
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3">Life of Building</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        <input type="text" class="form-control" asp-for="fireConstruction.LifeOfBuilding" id="txtLifeOfBuilding_@i" placeholder="Life of Building">
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3 font-weight-bold">Number of Storeys</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        <input type="text" class="form-control" asp-for="fireConstruction.NumberOfStorey" id="txtNumberofStorey_@i" placeholder="Number of Storeys">
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                @if (Model.lstRiskLocations[risk].BuildingInventory.Trim() == "BUILDING")
                                                {
                                                    <div class="col-md-4">

                                                        <div class="col-md-12 col-sm-12">
                                                            <div class="x_panel">
                                                                <div class="x_title">
                                                                    <h2>Customer Propose PAE Value for <strong>@Model.lstRiskLocations[risk].RiskName</strong></h2>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                                <div class="x_content">
                                                                    <div class="form-horizontal form-label-left">

                                                                        <div class="form-group row">
                                                                            <label class="control-label col-md-4 col-sm-4 ">Propose SI value</label>
                                                                            <div class="col-md-8 col-sm-8 ">
                                                                                <input type="text" class="form-control number-separator" asp-for="fireConstruction.ProposedSI" id="txtProposeValue_@i" onchange="calculateProposePAE(this.id)">
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group row" id="divProposePAE_@i">
                                                                            <label class="control-label col-md-4 col-sm-4 ">Propose PAE</label>
                                                                            <div class="col-md-8 col-sm-8 ">
                                                                                <input type="text" class="form-control number-separator" asp-for="fireConstruction.ProposedPAE" id="txtProposePAE_@i" disabled>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group row" style="justify-content:center;margin-top:20px;">
                                                                            <button type="button" id="btnCalculatePAE_@i" class="btn btn-success" onclick="CalculatePAE(this.id);">Compare PAE</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12 col-sm-12" id="divLimitedPAE_@i" style="display:none;">
                                                            <div class="x_panel">
                                                                <div class="x_title">
                                                                    <h2>Limited PAE Value for <strong>@Model.lstRiskLocations[risk].RiskName</strong></h2>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                                <div class="x_content">
                                                                    <input type="hidden" id="hdfLimitedSI_@i" asp-for="fireConstruction.LimitedSI">
                                                                    <input type="hidden" id="hdfLimitedPAE_@i" asp-for="fireConstruction.LimitedPAE">

                                                                    <table id="tblLimitedPAE_@i" class="table table-bordered">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Limited PAE</th>
                                                                                <th>Limited Value</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        </tbody>
                                                                    </table>

                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                }
                                                else
                                                {

                                                }

                                            </div>

                                            <div class="tab-pane fade" id="FEAInformation_@i" role="tabpanel" aria-labelledby="FEAInformation-tab_@i">
                                                <div class="col-md-9 ">
                                                    <div class="x_panel">
                                                        <div class="x_title">
                                                            <h2>FEA Information</h2>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="x_content">
                                                            <br />
                                                            <div class="form-horizontal form-label-left">

                                                                <div class="form-group row ">
                                                                    <label class="control-label col-md-3 col-sm-3 ">Number of ABC Type Extinguisher</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        @Html.DropDownListFor(model => model.fireFeaInfo.NumberofAbctype, ViewBag.ABCTypeList as IEnumerable<SelectListItem>, "Select Number of ABC Type Extinguisher", new { @class = "form-control select2", @id = "ddlNumberofABCTypeExtinguisher_" + @i, @onchange = "OnGradeChanged(this.id);" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3">Number of CO2 Type Extinguisher</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        @Html.DropDownListFor(model => model.fireFeaInfo.NumberOfCo2type, ViewBag.CO2TypeList as IEnumerable<SelectListItem>, "Select Number of CO2 Type Extinguisher", new { @class = "form-control select2", @id = "ddlNumberofCO2TypeExtinguisher_" + @i })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3">Number of Other Extinguisher</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        @Html.DropDownListFor(model => model.fireFeaInfo.NumberOfOtherExtinguisher, ViewBag.ExtinguisherList as IEnumerable<SelectListItem>, "Select Number of Other Extinguisher", new { @class = "form-control select2", @id = "ddlNumberofOtherExtinguisher_" + @i })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3">
                                                                        Weight of Fire Extinguishers
                                                                    </label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        @Html.DropDownListFor(model => model.fireFeaInfo.WeightOfFireExtinguisher, ViewBag.WeightOfFireList as IEnumerable<SelectListItem>, "Select Weight of Fire Extinguishers", new { @class = "form-control select2", @id = "ddlWeightofFireExtinguishers_" + @i })
                                                                    </div>
                                                                </div>

                                                                <div class="form-horizontal form-label-left">
                                                                    <div class="form-group row ">
                                                                        <label class="control-label col-md-3 col-sm-3">Required Number of Fire Extinguishers</label>
                                                                        <div class="col-md-9 col-sm-9">
                                                                            @Html.DropDownListFor(model => model.fireFeaInfo.RequiredNumberOfFireExtinguisher, ViewBag.RequiredNumberOfExtinguisherList as IEnumerable<SelectListItem>, "", new { @class = "form-control", @id = "ddlRequiredNumberofFireExtinguishers_" + @i })
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3">Number of Hose Reel</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        @Html.DropDownListFor(model => model.fireFeaInfo.NumberOfHoseReel, ViewBag.HoseReelList as IEnumerable<SelectListItem>, "Select Required Number of Fire Extinguishers", new { @class = "form-control select2", @id = "ddlNumberofHoseReel_" + @i })
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3">Number of Hydrant</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        @Html.DropDownListFor(model => model.fireFeaInfo.NumberOfHydrant, ViewBag.HydrantList as IEnumerable<SelectListItem>, "Select Required Number of Fire Extinguishers", new { @class = "form-control select2", @id = "ddlNumberofHydrant_" + @i })
                                                                    </div>
                                                                </div>

                                                                <input type="hidden" id="hdfProposedNumberOfFireExtinguisher_@i" asp-for="@Model.fireFeaInfo.ProposedNumberOfFireExtinguisher">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-pane fade" id="FireWaterTank_@i" role="tabpanel" aria-labelledby="FireWaterTank-tab_@i">
                                                <div class="col-md-9 ">
                                                    <div class="x_panel">
                                                        <div class="x_title">
                                                            <h2>Fire/Water Tank</h2>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="x_content">
                                                            <br />
                                                            <div class="form-horizontal form-label-left">

                                                                <div class="form-group row ">
                                                                    <label class="control-label col-md-3 col-sm-3 ">Number of Fire Tank</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        @Html.DropDownListFor(model => model.fireFirewatertank.NumberofFireTank, ViewBag.NumberOfFireTankList as IEnumerable<SelectListItem>, "Select Number of Fire Tank", new { @class = "form-control select2", @id = "ddlNumberofFireTank_" + @i })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3">Type of Fire Tank</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        @Html.DropDownListFor(model => model.fireFirewatertank.TypeofFireTank, ViewBag.TypeFireTankList as IEnumerable<SelectListItem>, "Select Type of Fire Tank", new { @class = "form-control select2", @id = "ddlTypeofFireTank_" + @i })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3">Capacity of Fire Tank</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        <input type="text" class="form-control" id="txtCapacityofFireTank_@i" asp-for="fireFirewatertank.CapacityofFireTank" placeholder="Capacity of Fire Tank">
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-pane fade" id="Security_@i" role="tabpanel" aria-labelledby="Security-tab_@i">
                                                <div class="col-md-9 ">
                                                    <div class="x_panel">
                                                        <div class="x_title">
                                                            <h2>Security</h2>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="x_content">
                                                            <br />
                                                            <div class="form-horizontal form-label-left">

                                                                <div class="form-group row ">
                                                                    <label class="control-label col-md-3 col-sm-3 ">Number of Security Guards</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        @Html.DropDownListFor(model => model.fireSecurity.NumberofSecurityGuards, ViewBag.SecurityGuardsDataList as IEnumerable<SelectListItem>, "Select Number of Security Guards", new { @class = "form-control select2", @id = "ddlNumberofSecurityGuards_" + @i })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3">Security Guards Duty Shift</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        @Html.DropDownListFor(model => model.fireSecurity.SecurityGuardsDutyShift, ViewBag.SecurityGuardsDutyShiftDataList as IEnumerable<SelectListItem>, "Select Security Guards Duty Shift", new { @class = "form-control select2", @id = "ddlSecurityGuardsDutyShift_" + @i })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3">Security Guards Duty Per Hour</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        @Html.DropDownListFor(model => model.fireSecurity.SecurityGuardsDutyPerHour, ViewBag.SecurityGuardsDutyHourDataList as IEnumerable<SelectListItem>, "Select Security Guards Duty Per Hour", new { @class = "form-control select2", @id = "ddlSecurityGuardsDutyPerHour_" + @i })
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3">Number of CCTV Camera</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        @Html.DropDownListFor(model => model.fireSecurity.NumberofCctvcamera, ViewBag.SecurityGuardsDutyHourDataList as IEnumerable<SelectListItem>, "Select Number of CCTV Camera", new { @class = "form-control select2", @id = "ddlNumberofCCTVCamera_" + @i })
                                                                    </div>
                                                                </div>


                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3">CCTV Backdated</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        <input type="text" class="form-control" asp-for="fireSecurity.Cctvbackdated" id="txtCCTVBackdated_@i" placeholder="CCTV Backdated">
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3">Number of Labour</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        <input type="text" class="form-control" asp-for="fireSecurity.NumberofLabour" id="txtNumberofLabour_@i" placeholder="Number of Labour">
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3">Nearest Fire Station</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        <input type="text" class="form-control" asp-for="fireSecurity.NearestFireStation" id="txtNearestFireStation_@i" placeholder="Nearest Fire Station">
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3">Google Map/ GEO coordinate</label>
                                                                    <div class="col-md-6 col-sm-6 ">
                                                                        <input type="text" class="form-control" asp-for="fireSecurity.Geocoordinate" id="txtGoogleMapGEOcoordinate_@i" placeholder="Google Map/ GEO coordinate">
                                                                    </div>
                                                                    <div class="col-md-3 col-sm-3 " style="justify-content:right;">
                                                                        <button type="button" id="btnGOECoordinate_@i" class="btn btn-success" onclick="GOECoordinate(this.id);">Get GOE coordinate</button>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3">Any Loss within 5 Years</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        <input type="text" class="form-control" asp-for="fireSecurity.Losswithin5Years" id="txtAnyLosswithin5Years_@i" placeholder="Any Loss within 5 Years">
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3">Referral Points</label>
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        <input type="text" class="form-control" asp-for="fireSecurity.ReferralPoints" id="txtReferralPoints_@i" placeholder="Referral Points">
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-pane fade" id="Inventory_@i" role="tabpanel" aria-labelledby="Inventory-tab_@i">
                                                <div class="col-md-9 ">
                                                    <div class="x_panel">
                                                        <div class="x_title">
                                                            <h2>Inventory</h2>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="x_content">
                                                            <br />
                                                            <table id="tblInventoryInfo_@i" class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Item Description</th>
                                                                        <th>Declared Amount</th>
                                                                        <th></th>
                                                                    <th style="display:none;"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var inventory in Model.lstRiskLocations.Where(r => r.RiskName == Model.lstRiskLocations[risk].RiskName).ToList())
                                                                    {
                                                                        <tr>
                                                                            <td>@inventory.BuildingInventory</td>
                                                                            <td>@inventory.RiskSumInsured</td>
                                                                            
                                                                            <td>
                                                                                <button class="btn" type="button" onclick="Remove(this)" id="btnInventoryRemove_@i">
                                                                                    <i class="fa fa-remove"></i>
                                                                                </button>
                                                                            </td>
                                                                        <td style="display:none;">@inventory.Id</td>

                                                                        
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                                <tfoot>
                                                                    <tr>
                                                                        <td>
                                                                            @Html.DropDownListFor(model => model.fireInventoryinfo.ItemCode, ViewBag.Inventory as IEnumerable<SelectListItem>, "", new { @class = "form-control", @id = "ddlInventory_" + @i })
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control number-separator" id="txtDeclaredAmt_@i" asp-for="fireInventoryinfo.DeclaredAmount">
                                                                        </td>

                                                                        <td>
                                                                            @* <input type="button" id="btnAdd" value="Add" />*@
                                                                            <button type="button" id="btnInventoryAdd_@i" class="btn" onClick="addInventory_click(this.id)">
                                                                                <i class="fa fa-plus"></i>
                                                                            </button>
                                                                        </td>
                                                                    <td style="display:none;"></td>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-pane fade" id="Coverage_@i" role="tabpanel" aria-labelledby="Coverage-tab_@i">
                                                <div class="col-md-9 ">
                                                    <div class="x_panel">
                                                        <div class="x_title">
                                                            <h2>Coverage</h2>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="x_content">
                                                            <br />
                                                            <div class="form-horizontal form-label-left">

                                                                <div class="form-group row">
                                                                    <div class="col-md-9 col-sm-9 ">

                                                                        <div class="icheck-greensea d-inline">
                                                                            <input type="checkbox" id="chkRSMD_@i" asp-for="fireCoverageinfo.RiotStrikeAndMaliciousDamage" />
                                                                            <label for="chkRSMD_@i" style="opacity:1;">
                                                                                RIOT STRIKE AND MALICIOUS DAMAGE
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">

                                                                    <div class="col-md-9 col-sm-9 ">

                                                                        <div class="icheck-greensea d-inline">
                                                                            <input type="checkbox" id="chkAD_@i" asp-for="fireCoverageinfo.AircraftDamage" />
                                                                            <label for="chkAD_@i" style="opacity:1;">
                                                                                AIRCRAFT DAMAGE
                                                                            </label>
                                                                        </div>

                                                                    </div>
                                                                </div>


                                                                <div class="form-group row">

                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        <div class="icheck-greensea d-inline">
                                                                            <input type="checkbox" id="chkID_@i" asp-for="fireCoverageinfo.ImpactDamage" />
                                                                            <label for="chkID_@i" style="opacity:1;">
                                                                                IMPACT DAMAGE
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">

                                                                    <div class="col-md-9 col-sm-9 ">

                                                                        <div class="icheck-greensea d-inline">
                                                                            <input type="checkbox" id="chkSL_@i" asp-for="fireCoverageinfo.SubsidenceAndLandslide" />
                                                                            <label for="chkSL_@i" style="opacity:1;">
                                                                                SUBSIDENCE & LANDSLIDE
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">

                                                                    <div class="col-md-9 col-sm-9 ">

                                                                        <div class="icheck-greensea d-inline">
                                                                            <input type="checkbox" id="chkEFSDC_@i" asp-for="fireCoverageinfo.EarthQuakeFireFireAndShockDamage" />
                                                                            <label for="chkEFSDC_@i" style="opacity:1;">
                                                                                EARTH-QUAKE FIRE, FIRE AND SHOCK DMG CAUSED BY EQ
                                                                            </label>
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">

                                                                    <div class="col-md-9 col-sm-9 ">

                                                                        <div class="icheck-greensea d-inline">
                                                                            <input type="checkbox" id="chkExplosion_@i" asp-for="fireCoverageinfo.Explosion" />
                                                                            <label for="chkExplosion_@i" style="opacity:1;">
                                                                                EXPLOSION
                                                                            </label>
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">

                                                                    <div class="col-md-9 col-sm-9 ">

                                                                        <div class="icheck-greensea d-inline">
                                                                            <input type="checkbox" id="chkSC_@i" asp-for="fireCoverageinfo.SpontaneousCombustion" />
                                                                            <label for="chkSC_@i" style="opacity:1;">
                                                                                SPONTANEOUS COMBUSTION
                                                                            </label>
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">
                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        <div class="icheck-greensea d-inline">
                                                                            <input type="checkbox" id="chkSTHT_@i" asp-for="fireCoverageinfo.StormTyphoonHurricaneTempest" />
                                                                            <label for="chkSTHT_@i" style="opacity:1;">
                                                                                STORM, TYPHOON, HURRICANE, TEMPEST
                                                                            </label>
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">

                                                                    <div class="col-md-9 col-sm-9 ">

                                                                        <div class="icheck-greensea d-inline">
                                                                            <input type="checkbox" id="chkBurglary_@i" asp-for="fireCoverageinfo.Burglary" />
                                                                            <label for="chkBurglary_@i" style="opacity:1;">
                                                                                BURGLARY
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">

                                                                    <div class="col-md-9 col-sm-9 ">
                                                                        <div class="icheck-greensea d-inline">
                                                                            <input type="checkbox" id="chkWarRisk_@i" asp-for="fireCoverageinfo.WarRisk" />
                                                                            <label for="chkWarRisk_@i" style="opacity:1;">
                                                                                WAR RISK
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">
                                                                    <div class="col-md-9 col-sm-9">
                                                                        <div class="icheck-greensea d-inline">
                                                                            <input type="checkbox" id="chkFloodInundation_@i" asp-for="fireCoverageinfo.FloodAndInundation" />
                                                                            <label for="chkFloodInundation_@i" style="opacity:1;">
                                                                                FLOOD AND INUNDATION
                                                                            </label>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
        </div>
    </div>
</div>

<div id="mdlMsg" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel2">Message</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="pMsg"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="GeoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Google Map/ GEO coordinate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="dvMap" style="height: 500px"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>