﻿@model RequestDetailViewModel
@{
    ViewData["Title"] = "PostToUW";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<script src="~/js/fire.js"></script>

<div class="row">
    @using (Html.BeginForm("SaveRequestDetail", "FireRuleBase", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Request Approval to UW</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <button type="button" class="btn btn-app" id="btnEditProposal" onclick="location.href='@Url.Action("EditFireUW","FireRuleBase", new { refNo = Model.ReferenceNo})'">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                    </li>
                   @* <li>
                        <button type="button" class="btn btn-app" id="btnEditProposal" onclick="location.href='@Url.Action("PostToUW","FireRuleBase", new { refNo = Model.ReferenceNo})'">
                            <i class="fa fa-send"></i> Post to UW
                        </button>
                    </li>
                    *@
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="x_content">
                    <div class="col-md-8">
                       
                            <input type="hidden" asp-for="ReferenceNo">
                           <div class="form-horizontal form-label-left">
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 ">Reference No</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" asp-for="ReferenceNo" class="form-control" disabled placeholder="Reference No">
                                </div>
                            </div>

                            <div class="form-group row ">
                                <label class="control-label col-md-3 col-sm-3 ">Transaction Type</label>
                                <div class="col-md-9 col-sm-9 ">
                                    @Html.DropDownListFor(model => model.UwpersonId, ViewBag.lstUWPerson as IEnumerable<SelectListItem>, "Select Underwriter", new { @class = "form-control select2" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 ">BU Remark</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <textarea id="tetBuremark" asp-for="Buremark" class="form-control" rows="5" placeholder="Please enter your requested remark."></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-9 col-sm-9  offset-md-3">                                  
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>


                        </div>
                        
                    </div>
                  
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm_12">
            <div class="x_panel">
            <div class="x_title">
                <h2>Required Documents</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="float-left"><strong>Upload required documents for fire proposal creation</strong> </div>

                                </div>
                                <div class="card-body card-block">
                                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                        <div class="row form-group">
                                            <div class="col-12 col-md-12">
                                                <div class="control-group" id="fields">
                                                    @{int file = 0;}
                                                    @foreach (var doc in Model.lstFireRequireddocumentsetting)
                                                    {
                                                        <div class="controls">
                                                            <div class="row checkboxrow col-md-12">
                                                                <div class="col-4">
                                                                    <div class="icheck-greensea d-inline">
                                                                        <input type="checkbox" readonly class="checkbox" id="@doc.DocumentShortName" disabled />
                                                                            <label for="@doc.DocumentShortName" style="opacity:1;">
                                                                            @doc.DocumentName
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="col-4">
                                                                    <div class="entry input-group upload-input-group">
                                                                            @if (doc.IsRequiredUw == true)
                                                                            {
                                                                            <input class="form-control" name="Files" type="file" required onchange="getFileName(event)">
                                                                            }
                                                                            else
                                                                            {
                                                                            <input class="form-control" name="Files" type="file" onchange="getFileName(event)">
                                                                            }

                                                                    </div>
                                                                </div>

                                                                <div class="col-4">
                                                                    @if(doc.IsRequiredUw == true)
                                                                    {
                                                                        <span style="color:#CE123C;">This document is required to post for UW approval</span>
                                                                    }
                                                                </div>
                                                            </div>
                                                         
                                                </div>
                                                    }

                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>
