﻿@model RiskLocationViewModel
@{
    ViewData["Title"] = "RiskLocationUpload";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<script src="~/js/fire.js"></script>

<style>
    #custom-button {
        padding: 10px;
        color: #495057;
        border: 1px solid #ced4da;
        border-radius: 5px;
        cursor: pointer;
    }

        #custom-button:hover {
        }

    #custom-text {
        margin-left: 10px;
        font-family: sans-serif;
        color: #aaa;
    }
</style>

<script>

    $(function () {
        $(".monthpicker").datetimepicker({
            format: "MMM/YYYY"
        });
    });



    $(document).ready(function () {
        
        const realFileBtn = document.getElementById("Files");
        const customBtn = document.getElementById("custom-button");
        const customTxt = document.getElementById("custom-text");

        customBtn.addEventListener("click", function () {
            realFileBtn.click();
        });

        realFileBtn.addEventListener("change", function () {
            if (realFileBtn.value) {
                customTxt.innerHTML = realFileBtn.value.match(
                    /[\/\\]([\w\d\s\.\-\(\)]+)$/
                )[1];
            } else {
                customTxt.innerHTML = "No file chosen, yet.";
            }
        });

    });



</script>

<div class="row">
    <div class="col-md-12">
        <div class="x_content">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Fire Policy Creation<small></small></h2>

                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="btn btn-app" href='@Url.Action("FireUW", "FireRuleBase")'>
                                        <i class="fa fa-plus"></i> Start
                                    </a>
                                </li>

                                <li>
                                    <a class="btn btn-app" href='@Url.Action("RiskLocationUpload", "FireRuleBase")'>
                                        <i class="fa fa-repeat"></i> Reset
                                    </a>
                                </li>

                            </ul>
                            <div class="clearfix"></div>
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <div class="x_content">
                                @using (Html.BeginForm("Upload", "FireRuleBase", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <div class="form-horizontal form-label-left">
                                        <div class="form-group row ">
                                            <label class="control-label col-md-3 col-sm-3 ">Risk Location Upload</label>
                                            <div class="col-md-9 col-sm-9">
                                                @*<input type="file" id="Files" name="Files" hidden="hidden" onchange="uploadFiles('real-file');" />*@
                                                <input type="file" id="Files" name="Files" hidden="hidden" />
                                                <button type="button" id="custom-button">
                                                    Browse Location list file
                                                </button>
                                                <span id="custom-text">No file chosen, yet.</span>

                                                <button type="submit" class="btn btn-success">
                                                    <i class="fa fa-upload"></i>
                                                    Upload
                                                </button>
                                            </div>
                                        </div>

                                    </div>

                                }
                            </div>
                        </div>

                        @if (ViewBag.lstRiskLocation != null)
                        {
                            <div class="col-md-12 col-sm-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Location Detail</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li>
                                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>

                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>RiskName</th>
                                                    <th>Building No</th>
                                                    <th>Street</th>
                                                    <th>Ward</th>
                                                    <th>Town</th>
                                                    <th>Township</th>
                                                    <th>District</th>
                                                    <th>Region</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var location in (List<RiskLocation>)ViewBag.lstRiskLocation)
                                                {
                                                <tr>
                                                    <td>@location.RiskName</td>
                                                    <td>@location.BuildingNo</td>
                                                    <td>@location.Street</td>
                                                    <td>@location.WardDescription</td>
                                                    <td>@location.TownDescription</td>
                                                    <td>@location.TownshipDescription</td>
                                                    <td>@location.DistrictDescription</td>
                                                    <td>@location.RegionDescription</td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
