﻿
@{
    ViewData["Title"] = "RuleSetup";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v5.15.4/css/all.css">
@*<link href="~/vendors/font-awesome/css/v5.15.4/font-awesome.css" rel="stylesheet" />*@
<div class="row">
    <div class="col-md-12">
        <div class="x_content">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Rule Base Register <small></small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>

                                    <li>
                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
                                    <div class="tile-stats">
                                        <div class="icon">
                                            <i class="fa fa-fire" style="color:#1ABB9C;"></i>
                                        </div>
                                        <div class="count">Fire</div>
                                        <p>Motor Underwritting Rules Set up</p>
                                        <h5 style="padding:10px;">
                                            <input type="button" value="Start" onclick="location.href='@Url.Action("FireRuleSetup", "FireRuleBase")'" class="btn btn-round btn-success" />
                                        </h5>

                                        @*<a href="#" class="form-control btn btn-info" style="margin-top:5px;"> Detail </a>*@
                                    </div>
                                </div>

                                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
                                    <div class="tile-stats">
                                        <div class="icon">
                                            <i class="fa fa-car" style="color:#1ABB9C;"></i>
                                        </div>
                                        <div class="count">Motor</div>
                                        <p>Motor Underwritting Rules Set up</p>
                                        <h5 style="padding:10px;">
                                            <input type="button" value="Start" onclick="location.href='@Url.Action("MotorRuleSetup", "MotorRuleBase")'" class="btn btn-round btn-success" />
                                        </h5>

                                        @*<a href="#" class="form-control btn btn-info" style="margin-top:5px;"> Detail </a>*@
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
        </div>

    </div>
</div>

