﻿@model Category
@{
    ViewData["Title"] = "SMSFormat";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>SMS template format </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <div class="row">

                    @if (TempData["Message"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                $('#divMsg').show();
                            };
                        </script>
                    }

                    <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">
                            &times;
                        </a>

                        <i class="fa fa-info-circle" style="font-size:16px;"></i>
                        <strong>@TempData["Message"]</strong>
                    </div>

                </div>


                @using (Html.BeginForm("SaveSMSTempFormat", "Setup", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                <div class="form-horizontal form-label-left">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group row ">
                        <label class="control-label col-md-3 col-sm-3 ">Template Name</label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="text" class="form-control" asp-for="Description" placeholder="Template Name">
                        </div>
                    </div>

                    <div class="form-group row ">
                        <label class="control-label col-md-3 col-sm-3 ">Message</label>
                        <div class="col-md-9 col-sm-9 ">
                            <textarea type="text" class="form-control" style="min-height:200px !important;" asp-for="MsgTemplate" placeholder=""></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-sm-3  control-label">
                            Active Status
                            <br>
                        </label>

                        <div class="col-md-9 col-sm-9 ">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" asp-for="Status"> Active
                                </label>
                            </div>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-sm-3  control-label">
                            Renewal case create flag
                            <br>
                            <small class="text-navy red">User should open/check renewal status for only renewal case create in CRM</small>
                        </label>

                        <div class="col-md-9 col-sm-9 ">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" asp-for="RenewalFlag"> Renewal flag
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9  offset-md-3">
                            <button type="button" class="btn btn-default btnayas-style" onclick="location.href='@Url.Action("SMSFormat", "Setup")'">
                                <i class="fa fa-refresh"></i>
                                Clear Form
                            </button>

                            <button type="submit" class="btn btn-primary btnayas-style">
                                <i class="fa fa-save"></i>
                                Save
                            </button>
                        </div>
                    </div>


                </div>
                }


            </div>
           
            <div class="card-box table-responsive">
                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Active</th>
                            <th>Renewal Flag</th>
                            <th>Template Name</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in (List<Category>)ViewBag.SMSFormatList)
                        {
                            <tr>
                                <td style="width:50px;">
                                    <a href='@Url.Action("EditSMSFormat", "Setup", new { @Id = @category.Id })'>
                                        <span class="fa fa-edit ayascolor"></span>
                                    </a>
                                </td>
                                <td style="width:50px;">@Html.CheckBox("chkActive", @category.Status, new { @disabled = "disabled" })</td>
                                <td style="width:50px;">@Html.CheckBox("chkRenewal", @category.RenewalFlag, new { @disabled = "disabled" })</td>
                                <td style="width:100px;">@category.Description</td>
                                <td style="width:300px;">@category.MsgTemplate</td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>

   
</div>

