﻿@model Role;
@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<script type="text/javascript">
    function ConfirmDelete() {
        if (document.getElementById("rolename").value == "" && document.getElementById("description").value == "") {
            alert("Please select data to delete");
        }
        else {
            return confirm("Are you sure you want to delete?");

        }
    }
    var table = $('#policy').DataTable();

</script>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Add Role </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <div class="row">

                    @if (TempData["Message"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                $('#divMsg').show();
                            };
                        </script>
                    }

                    <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <i class="fa fa-info-circle" style="font-size:16px;"></i>
                        <strong>@TempData["Message"]</strong>
                    </div>

                </div>


                @using (Html.BeginForm("AddRole", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-horizontal form-label-left">
                        <input type="hidden" asp-for="RoleId" />
                        <div class="form-group row ">
                            <label class="control-label col-md-3 col-sm-3 ">Role Name</label>
                            <div class="col-md-9 col-sm-9 ">
                                <input type="text" class="form-control" asp-for="RoleName" placeholder="Role Name" id="rolename">
                            </div>
                        </div>

                        <div class="form-group row ">
                            <label class="control-label col-md-3 col-sm-3 ">Description</label>
                            <div class="col-md-9 col-sm-9 ">
                                <input type="text" class="form-control" asp-for="Description" placeholder="Description" id="description">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-9 col-sm-9  offset-md-3">
                                <button type="button" class="btn btn-default btnayas-style" onclick="location.href='@Url.Action("Role", "Account")'">
                                    <i class="fa fa-list"></i>
                                    Role List
                                </button>

                                <a href='@Url.Action("DeleteRole", "Account", new { @roleId = Model.RoleId })' id="btnDelete" class="btn btn-primary btnayas-style" onclick="ConfirmDelete()">
                                    <i class="fa fa-trash"></i>
                                    Delete
                                </a>

                                <button type="submit" class="btn btn-primary btnayas-style">
                                    <i class="fa fa-save"></i>
                                    Save
                                </button>
                            </div>
                        </div>


                    </div>
                }


            </div>
        </div>
    </div>

</div>

