﻿
@{
    ViewData["Title"] = "ChangePasswordForFirstTimeLogin";
    Layout = null;
}
<link rel="icon" href="https://premiumcalculator.ayasompo.com/img/favicon_ayasompo_new.png" sizes="32x32" />
<link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom Theme Style -->
<link href="~/build/css/custom.min.css" rel="stylesheet" />
<!-- AYASOMPO Theme Style -->
<link href="~/css/smsstyle.css" rel="stylesheet" />
<!-- Font Awesome -->
<link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- jQuery -->
<script src="~/vendors/jquery/dist/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<style>
    body {
        background-color: #F7F7F7;
    }

    .x_panel {
        border: none;
    }

    .panel-card {
        margin-top: 30px;
        margin-left: 50%;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <div class="x_panel panel-card">
            <div class="x_title">
                <h2>Change password in first time login </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                @using (Html.BeginForm("ChangePasswordForFirstTimeLogin", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-horizontal form-label-left">
                        <div class="form-group row ">
                            <label class="control-label col-md-3 col-sm-3 ">Old Password</label>
                            <div class="col-md-9 col-sm-9 ">
                                <input class="form-control" id="opassword" name="opassword" placeholder="Old Password" required="" autofocus="" aria-required="true" type="password">
                            </div>
                        </div>

                        <div class="form-group row ">
                            <label class="control-label col-md-3 col-sm-3 ">New Password</label>
                            <div class="col-md-9 col-sm-9 ">
                                <input class="form-control" id="npassword" name="npassword" placeholder="New Password" required="" autofocus="" aria-required="true" type="password">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 ">Confirm Password</label>
                            <div class="col-md-9 col-sm-9 ">
                                <input class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" required="" autofocus="" aria-required="true" type="password">
                            </div>
                        </div>


                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-9 col-sm-9  offset-md-3">

                                <button type="submit" class="btn btn-primary btnayas-style">
                                    <i class="fa fa-save"></i>
                                    Change
                                </button>

                                <button type="submit" class="btn btn-primary btnayas-style" onclick="location.href='@Url.Action("Login", "Account")'">
                                    <i class="fa fa-save"></i>
                                    Cancel
                                </button>
                            </div>
                        </div>

                        <div class="row">

                            @if (TempData["Message"] != null)
                            {
                                <script type="text/javascript">
                                    window.onload = function () {
                                        $('#divMsg').show();
                                    };
                                </script>
                            }

                            <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>@TempData["Message"]</strong>
                            </div>

                        </div>

                    </div>
                }


            </div>
        </div>
    </div>

</div>


<!-- Bootstrap -->
<script src="~/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="~/build/js/custom.min.js"></script>

