﻿@model UserInfo
@{
    ViewData["Title"] = "CheckUserInfo";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>User Register </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <div class="row">

                    @if (TempData["Message"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                $('#divMsg').show();
                            };
                        </script>
                    }

                    <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>@TempData["Message"]</strong>
                    </div>

                </div>
                
                    <div class="form-horizontal form-label-left">
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group row ">
                            <label class="control-label col-md-3 col-sm-3 ">Full Name</label>
                            <div class="col-md-9 col-sm-9 ">
                                <input type="text" class="form-control" asp-for="Name" placeholder="Full Name" disabled>
                            </div>
                        </div>

                        <div class="form-group row ">
                            <label class="control-label col-md-3 col-sm-3 ">Login Name</label>
                            <div class="col-md-9 col-sm-9 ">
                                <input type="text" class="form-control" asp-for="Email" placeholder="Login Name" disabled>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 ">Role</label>
                            <div class="col-md-9 col-sm-9 ">
                                <input type="text" class="form-control" asp-for="Role" placeholder="Login Name" disabled>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 ">Department</label>
                            <div class="col-md-9 col-sm-9 ">
                                <input type="text" class="form-control" asp-for="Department" placeholder="Login Name" disabled>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-sm-3  control-label">
                                Active Status
                                <br>
                            </label>

                            <div class="col-md-9 col-sm-9 ">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" asp-for="IsActive" disabled> Active
                                    </label>
                                </div>
                            </div>

                        </div>


                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-9 col-sm-9  offset-md-3">
                                <button type="button" class="btn btn-default btnayas-style" onclick="location.href='@Url.Action("ResetUser", "Account",  new { @Id = Model.Id })'">
                                    <i class="fa fa-refresh"></i>
                                    Reset
                                </button>
                            </div>
                        </div>



                    </div>
                


            </div>
        </div>
    </div>

</div>


