﻿@model SysUser
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>

	<title>Login V15</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/login-rulebase/images/icons/favicon.ico" />
    
	<!--===============================================================================================-->
	
    <link href="~/login-rulebase/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
   
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login-rulebase/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login-rulebase/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login-rulebase/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login-rulebase/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login-rulebase/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login-rulebase/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login-rulebase/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/login-rulebase/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/login-rulebase/css/main.css">
	<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(../login-rulebase/images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Sign In
					</span>
				</div>

				<form class="login100-form validate-form">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Enter username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="pass" placeholder="Enter password">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn" style="justify-content:center;">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
					<div class="container-login100-form-btn" style="justify-content:center;">
						<span><strong>or</strong></span>
					</div>
					<div class="container-login100-form-btn" style="justify-content:center;">
						<button type="button" class="btn btn-outline-primary" style="display:flex;font-size:13px;margin-top: 10px;padding-top: 12px;">
							@*<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-microsoft" viewBox="0 0 16 16">
								<path d="M7.462 0H0v7.19h7.462V0zM16 0H8.538v7.19H16V0zM7.462 8.211H0V16h7.462V8.211zm8.538 0H8.538V16H16V8.211z"></path>
							</svg>*@
							<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 48 48">
<path fill="#ff5722" d="M6 6H22V22H6z" transform="rotate(-180 14 14)"></path><path fill="#4caf50" d="M26 6H42V22H26z" transform="rotate(-180 34 14)"></path><path fill="#ffc107" d="M26 26H42V42H26z" transform="rotate(-180 34 34)"></path><path fill="#03a9f4" d="M6 26H22V42H6z" transform="rotate(-180 14 34)"></path>
</svg>
							Sign in with Microsoft
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>

	<!--===============================================================================================-->
	<script src="~/login-rulebase/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/login-rulebase/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/login-rulebase/vendor/bootstrap/js/popper.js"></script>
	<script src="~/login-rulebase/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/login-rulebase/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/login-rulebase/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/login-rulebase/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="~/login-rulebase/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="~/login-rulebase/js/main.js"></script>
</body>
</html>

