﻿@model Role;

@{
    ViewData["Title"] = "Role";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Role List</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>

                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">

                @if (TempData["Message"] != null)
                {
                    <script type="text/javascript">
                        window.onload = function () {
                            $('#divMsg').show();
                        };
                    </script>
                }

                <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>@TempData["Message"]</strong>
                </div>

            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <button type="button" class="btn btn-default btnayas-style newbtn" onclick="location.href='@Url.Action("AddRole", "Account")'">
                            <i class="fa fa-plus"></i>
                            New Role
                        </button>
                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Role Name</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var role in (List<Role>)ViewBag.RoleList)
                                {
                                    <tr>
                                        <td style="text-align:center;">
                                            <a href='@Url.Action("EditRole", "Account", new { roleId = role.RoleId })'>
                                                <span class="fa fa-edit"></span>
                                            </a>
                                        </td>
                                        <td>@role.RoleName</td>
                                        <td>@role.Description</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

