﻿@model SysUser
@{
    ViewData["Title"] = "UserRegister";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<script type="text/javascript">
    function ConfirmDelete() {
        if (document.getElementById("name").value == "" && document.getElementById("email").value == "") {
            alert("Please select data to delete");
        }
        else {
            return confirm("Are you sure you want to delete?");

        }
    }
    var table = $('#policy').DataTable();

</script>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>User Register </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <div class="row">

                    @if (TempData["Message"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                $('#divMsg').show();
                            };
                        </script>
                    }

                        <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <i class="fa fa-info-circle" style="font-size:16px;"></i>
                            <strong>@TempData["Message"]</strong>
                        </div>

                </div>


                @using (Html.BeginForm("SaveUser", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-horizontal form-label-left">
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group row ">
                            <label class="control-label col-md-3 col-sm-3 ">Full Name</label>
                            <div class="col-md-9 col-sm-9 ">
                                <input type="text" class="form-control" asp-for="Name" placeholder="Full Name">
                            </div>
                        </div>

                        <div class="form-group row ">
                            <label class="control-label col-md-3 col-sm-3 ">Login Name</label>
                            <div class="col-md-9 col-sm-9 ">
                                <input type="text" class="form-control" asp-for="Email" placeholder="Login Name">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 ">Role</label>
                            <div class="col-md-9 col-sm-9 ">
                                @Html.DropDownListFor(model => model.Role, ViewBag.RoleList as IEnumerable<SelectListItem>, "Select Role", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 ">Department</label>
                            <div class="col-md-9 col-sm-9 ">
                                @Html.DropDownListFor(model => model.Department, ViewBag.DeptList as IEnumerable<SelectListItem>, "Select Department", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-sm-3  control-label">
                                Active Status
                            </label>

                            <div class="col-md-9 col-sm-9 ">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" asp-for="IsActive"> Active
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-sm-3  control-label">
                                Access Permission
                                <br>
                                <small class="text-navy">User access permission</small>
                            </label>

                            <div class="col-md-9 col-sm-9 ">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" asp-for="DeleteFlag"> Edit
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" asp-for="EditFlag"> Delete
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" asp-for="ViewFlag"> View
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div class="ln_solid"></div>


                        <div class="form-group">
                            <div class="col-md-9 col-sm-9  offset-md-3">
                                <button type="button" class="btn btn-default btnayas-style" onclick="location.href='@Url.Action("UserList", "Account")'">
                                    <i class="fa fa-list"></i>
                                    User List
                                </button>

                                <a href='@Url.Action("DeleteUser", "Account", new { @Id = Model.Id })' id="btnDelete" class="btn btn-primary btnayas-style" onclick="ConfirmDelete()">
                                    <i class="fa fa-trash"></i>
                                    Delete
                                </a>

                                <button type="submit" class="btn btn-primary btnayas-style">
                                    <i class="fa fa-save"></i>
                                    Save
                                </button>
                            </div>
                        </div>


                    </div>
                }


            </div>
        </div>
    </div>

</div>


