﻿
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>User List</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>

                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
           
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">

                @if (TempData["Message"] != null)
                {
                    <script type="text/javascript">
                        window.onload = function () {
                            $('#divMsg').show();
                        };
                    </script>
                }

                <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>@TempData["Message"]</strong>
                </div>

            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <button type="button" class="btn btn-default btnayas-style newbtn" onclick="location.href='@Url.Action("UserRegister", "Account")'">
                            <i class="fa fa-plus"></i>
                            New User
                        </button>
                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>Full name</th>
                                    <th>Login name</th>
                                    <th>Role</th>
                                    <th>Department</th>
                                    <th>Active</th>
                                    <th>Permission</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in (List<UserInfo>)ViewBag.UserList)
                                {
                                    <tr>
                                        <td style="text-align:center;">
                                            <a href='@Url.Action("EditUser", "Account", new { @userId = @user.Id })'>
                                                <span class="fa fa-edit"></span>
                                            </a>
                                        </td>
                                        <td style="text-align:center;">
                                            <a href='@Url.Action("CheckUserInfo", "Account", new { @userId = @user.Id })'>
                                                <i class="fa fa-lock" alt="Reset Pwd"></i>
                                            </a>
                                        </td>
                                        <td>@user.Name</td>
                                        <td>@user.Email</td>
                                        <td>@user.Role</td>
                                        <td>@user.Department</td>
                                        <td style="text-align:center;">@Html.CheckBox("chkActive", @user.IsActive, new { @disabled = "disabled" })</td>
                                        <td style="text-align:center;">
                                            <label>
                                                <input type="checkbox" asp-for="@user.DeleteFlag" id="check-all" disabled> Delete
                                            </label>

                                            <label>
                                                <input type="checkbox" asp-for="@user.EditFlag" id="check-all" disabled> Edit
                                            </label>

                                            <label>
                                                <input type="checkbox" asp-for="@user.ViewFlag" id="check-all" disabled> View
                                            </label>

                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

