﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> AYA SOMPO Insurance - SMS Gateway </title>
    <link rel="canonical" href="https://ayasompo.com/" />
    <link rel="icon" href="https://premiumcalculator.ayasompo.com/img/favicon_ayasompo_new.png" sizes="32x32" />
    <!-- Bootstrap -->
    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
   @* <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">*@

    <link href="~/css/icheck-bootstrap/css/icheck-bootstrap.css" rel="stylesheet" />
    <link href="~/css/icheck-bootstrap/css/icheck-bootstrap.min.css" rel="stylesheet" />

    <!-- bootstrap-wysiwyg -->
    <link href="~/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="~/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    @*<link href="~/vendors/switchery/dist/switchery.min.css" rel="stylesheet">*@
    <!-- starrr -->
    <link href="~/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    @*<link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">*@

    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet" />    

    <!-- AYASOMPO Theme Style -->
    <link href="~/css/smsstyle.css" rel="stylesheet" />

    <!--DataTable-->
    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!--Datetime Picker-->
    <link href="~/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker-standalone.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>*@
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-envelope"></i> <span>SMS GateWay</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@HttpContextAccessor.HttpContext.Session.GetString("name")</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                @if (HttpContextAccessor.HttpContext.Session.GetString("roleName") == "Admin") //SystemAdministrator
                                {
                                    <li>
                                        <a href='@Url.Action("Dashboard", "SMS", null)'><i class="fa fa-dashboard"></i> Dashboard </a>
                                    </li>

                                    <li>
                                        <a><i class="fa fa-home"></i> Admin <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href='@Url.Action("UserList", "Account", null)'>User</a></li>
                                            <li><a href='@Url.Action("Role", "Account", null)'>Role</a></li>
                                            <li><a href='@Url.Action("Department", "Account", null)'>Department</a></li>
                                        </ul>
                                    </li>

                                   
                                    <li>
                                        <a><i class="fa fa-files-o"></i> Rule Base Underwriting System <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href='@Url.Action("RuleSetup", "Setup", null)'>Set Up Rules</a></li>
                                            @*<li><a href='@Url.Action("FireUW", "FireRuleBase", null)'>Fire Policy Creation</a></li>*@
                                            <li><a href='@Url.Action("RiskLocationUpload", "FireRuleBase", null)'>Risk Location Upload</a></li>
                                        </ul>
                                    </li>

                                }

                                @if (HttpContextAccessor.HttpContext.Session.GetString("roleName") == "OP") //SystemAdministrator
                                {
                                    <li>
                                        <a href='@Url.Action("Dashboard", "SMS", null)'><i class="fa fa-dashboard"></i> Dashboard </a>
                                    </li>

                                    <li>
                                        <a><i class="fa fa-files-o"></i> Rule Base Underwriting System <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href='@Url.Action("RuleSetup", "Setup", null)'>Set Up Rules</a></li>
                                            @*<li><a href='@Url.Action("FireUW", "FireRuleBase", null)'>Fire Policy Creation</a></li>*@
                                            <li><a href='@Url.Action("RiskLocationUpload", "FireRuleBase", null)'>Risk Location Upload</a></li>
                                        </ul>
                                    </li>
                                }

                                @if (HttpContextAccessor.HttpContext.Session.GetString("roleName") == "BU") //SystemAdministrator
                                {
                                    <li>
                                        <a href='@Url.Action("Dashboard", "SMS", null)'><i class="fa fa-dashboard"></i> Dashboard </a>
                                    </li>


                                    <li>
                                        <a><i class="fa fa-files-o"></i> Rule Base Underwriting System <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href='@Url.Action("RuleSetup", "Setup", null)'>Set Up Rules</a></li>
                                            @*<li><a href='@Url.Action("FireUW", "FireRuleBase", null)'>Fire Policy Creation</a></li>*@
                                            <li><a href='@Url.Action("RiskLocationUpload", "FireRuleBase", null)'>Risk Location Upload</a></li>
                                        </ul>
                                    </li>
                                }

                                @if (HttpContextAccessor.HttpContext.Session.GetString("roleName") == "CS") //SystemAdministrator
                                {
                                    <li>
                                        <a href='@Url.Action("Dashboard", "SMS", null)'><i class="fa fa-dashboard"></i> Dashboard </a>
                                    </li>

                                    <li>
                                        <a><i class="fa fa-files-o"></i> Rule Base Underwriting System <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href='@Url.Action("RuleSetup", "Setup", null)'>Set Up Rules</a></li>
                                            @*<li><a href='@Url.Action("FireUW", "FireRuleBase", null)'>Fire Policy Creation</a></li>*@
                                            <li><a href='@Url.Action("RiskLocationUpload", "FireRuleBase", null)'>Risk Location Upload</a></li>
                                        </ul>
                                    </li>
                                }


                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href='@Url.Action("Login", "Account", null)'>
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/images/img.jpg" alt="">@HttpContextAccessor.HttpContext.Session.GetString("name")
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;">Help</a>
                                    <a class="dropdown-item" href='@Url.Action("Login", "Account", null)'><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </div>
                            </li>

                           
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    <a href="https://ayasompo.com">AYA SOMPO Co.,Ltd</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    @*<script src="~/vendors/jquery/dist/jquery.min.js"></script>*@
   

    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/vendors/moment/min/moment.min.js"></script>
    <script src="~/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <!-- bootstrap-wysiwyg -->
    <script src="~/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="~/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="~/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="~/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="~/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="~/vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    @*<script src="~/vendors/parsleyjs/dist/parsley.min.js"></script>*@
    <!-- Autosize -->
    <script src="~/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="~/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="~/vendors/starrr/dist/starrr.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/build/js/custom.min.js"></script>

    <!-- Datatables -->
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>

    <script type="text/javascript">
        $('.tblSMS').DataTable({
            "iDisplayLength": 5,
            "searching": true,
            //"paging": false,
        });
         
        $('.datatable-responsive').DataTable({
            "iDisplayLength": 5,
            //"scrollCollapse": true,
            "searching": true
        });

        
        $('.renewaltbl').DataTable({
            "iDisplayLength": 5,
            "scrollY": '55vh',
            "scrollX": '100%',
            "scrollCollapse": true,
            "searching": true
        });


        $('#datatable-responsive').DataTable({
            "searching": true,
        });
    </script>
</body>
</html>