﻿@model SentSmsVM
@{
    ViewData["Title"] = "BulkSmsByStaff";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<script>

    $(function () {
        $(".datepicker").datetimepicker({
            format: "DD/MMM/YYYY"
        });
    });

</script>
<link href="~/css/loading.css" rel="stylesheet" />
<script src="~/js/smsjs.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Report By Bulk</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a href='@Url.Action("ExportBulkSmsReportBySysId", "Report")'><i class="fa fa-file-excel-o" style="color:#CE123C;"></i></a>
                    </li>
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />

                <div class="row">

                    @if (TempData["Message"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                $('#divMsg').show();
                            };
                        </script>
                    }

                    <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">
                            &times;
                        </a>

                        <i class="fa fa-info-circle" style="font-size:16px;"></i>
                        <strong>@TempData["Message"]</strong>
                    </div>

                </div>


                @using (Html.BeginForm("SentBulkSMSReportData", "Report", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-horizontal form-label-left">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4">From Date <span style="color:red;">*</span></label>
                                <div class="col-md-8 col-sm-8 ">
                                    <input class="form-control datepicker" type="text" asp-for="fromDate" id="fromdate" placeholder="From Date" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4">Template <span style="color:red;">*</span></label>
                                <div class="col-md-8 col-sm-8">
                                    <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.CategoryList" placeholder="Select Category" required>
                                        <option>Select Category</option>
                                    </select>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4">To Date <span style="color:red;">*</span></label>
                                <div class="col-md-8 col-sm-8 ">
                                    <input class="form-control datepicker" type="text" asp-for="toDate" id="todate" placeholder="To Date" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4">Staff Name</label>
                                <div class="col-md-8 col-sm-8">
                                    @*<select class='form-control' name="StaffId" id="select1">
                                        <option value="">Select </option>
                                        @foreach (var staff in Model.StaffList)
                                        {
                                            <option value="@staff.Id">@staff.Name</option>
                                        }

                                    </select>*@
                                    <select asp-for="StaffId" class="form-control" asp-items="@ViewBag.StaffList" placeholder="Select">
                                        <option>Select</option>
                                    </select>

                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-9 col-sm-9  offset-md-4">
                                <button type="button" class="btn btn-default btnayas-style" onclick="location.href='@Url.Action("BulkSmsByStaff", "Report")'">
                                    <i class="fa fa-refresh"></i>
                                    Clear Form
                                </button>
                                <button type="submit" class="btn btn-primary btnayas-style">
                                    <i class="fa fa-eye"></i>
                                    Preview
                                </button>

                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="card-box table-responsive">
                @if (Model.CategoryId == Guid.Parse("019a983a-4323-4b12-9023-109cfd47c0e8"))
                {
                    <table id="tblOP" class="table table-striped table-bordered dt-responsive datatable-responsive nowrap" cellspacing="0" style="width: 100%;">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Sent Date</th>
                                <th>Receiver Name</th>
                                <th>Phone Number</th>
                                <th>Vehicle No</th>
                                <th>Invoice No</th>
                                <th>Template</th>
                                <th>Message</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.output != null)
                            {
                                @foreach (var sms in (List<SentSmsVM>)ViewBag.output)
                                {
                            <tr>
                                <td style="width:5px;"></td>
                                <td style="width:100px;">@sms.SentDate</td>
                                <td style="width:50px;">@sms.UserName</td>
                                <td style="width:100px;">@sms.PhoneNumber</td>
                                <td style="width:50px;">@sms.VehicleNo</td>
                                <td style="width:100px;">@sms.PolicyNo</td>
                                <td style="width:100px;">@sms.Category</td>
                                <td style="width:100px;">@sms.Message</td>
                            </tr>
                                }
                            }


                        </tbody>
                    </table>
                }
                else
                {
                    <table id="tblOP" class="table table-striped table-bordered dt-responsive datatable-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Sent Date</th>
                                <th>Receiver Name</th>
                                <th>Phone Number</th>
                                <th>Vehicle No</th>
                                <th>Policy No</th>
                                <th>Template</th>
                                <th>Message</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.output != null)
                            {
                                @foreach (var sms in (List<SentSmsVM>)ViewBag.output)
                                {
                                    <tr>
                                        <td style="width:5px;"></td>
                                        <td style="width:100px;">@sms.SentDate</td>
                                        <td style="width:100px;">@sms.UserName</td>
                                        <td style="width:100px;">@sms.PhoneNumber</td>
                                        <td style="width:100px;">@sms.VehicleNo</td>
                                        <td style="width:100px;">@sms.PolicyNo</td>
                                        <td style="width:100px;">@sms.Category</td>
                                        <td style="width:100px;">@sms.Message</td>
                                    </tr>
                                }
                            }


                        </tbody>
                    </table>
                }

            </div>
        </div>
    </div>


</div>

