@model TempRenewalCaseCreate
@{
    ViewData["Title"] = "CustomRenewalFailCase";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<script src="~/js/smsjs.js"></script>
<script>

    $(function () {
        $(".monthpicker").datetimepicker({
            format: "MMM/YYYY"
        });
    });

</script>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Create Renewal Case By OP</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a href='@Url.Action("ExportReportCustomerFailCase", "Report")'><i class="fa fa-file-excel-o"  style="color:#CE123C"></i></a>
                    </li>

                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <br />
                @*<div class="row">

                        @if (TempData["Message"] != null)
                        {
                            <script type="text/javascript">
                                window.onload = function () {
                                    $('#divMsg').show();
                                };
                            </script>
                        }

                        <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">
                                &times;
                            </a>

                            <i class="fa fa-info-circle" style="font-size:16px;"></i>
                            <strong>@TempData["Message"]</strong>
                        </div>

                    </div>*@


                @using (Html.BeginForm("GetCustomRenewalFailCase", "Report", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                <div class="form-horizontal form-label-left">
                    <div class="form-group col-md-6">
                        <label class="control-label col-md-3 col-sm-3 ">From Date</label>
                        <div class="col-md-8 col-sm-8 ">
                            <input class="form-control" type="date" asp-for="FromDate" placeholder="From Date" required />
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label col-md-3 col-sm-3 ">To Date</label>
                        <div class="col-md-8 col-sm-8 ">
                            <input class="form-control" type="date" asp-for="ToDate" placeholder="To Date" required />
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <div class="col-md-9 col-sm-9  offset-md-3">
                            <button type="submit" class="btn btn-default btnayas-style">
                                <i class="fa fa-upload"></i>
                                Preview
                            </button>

                        </div>
                    </div>

                    
                </div>

                    <div class="card-box table-responsive">
                        @if (ViewBag.lsttempRenewalCase != null)
                        {
                            <table id="tblOP" class="table table-striped table-bordered dt-responsive datatable-responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Created Date</th>
                                        <th>Phone Number</th>
                                        <th>Customer Name</th>
                                        <th>Invoice No</th>
                                        <th>Risk Name</th>
                                        <th>Expired Date</th>

                                        <th>Renewal Premium</th>
                                        <th>Product</th>
                                        <th>From Date</th>
                                        <th>To Date</th>
                                        <th>Link</th>

                                        <th>Customer Code</th>
                                        <th>Month</th>
                                        <th>PersonInCharge</th>
                                        <th>Responsiable Party</th>
                                        <th>Policy Number</th>

                                        <th>Branch</th>
                                        <th>Intermediary Type</th>
                                        <th>Agent Code</th>
                                        <th>Agent Name</th>
                                        <th>Account Code</th>

                                        <th>Authorized Code</th>
                                        <th>Authorized Name</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var motor in (List<TempRenewalCaseCreate>)ViewBag.lsttempRenewalCase)
                                    {
                                    <tr>
                                        <td style="width:5px;"></td>
                                        <td style="width:100px;">@motor.CreatedDate</td>
                                        <td style="width:100px;">@motor.PhoneNumber</td>
                                        <td style="width:100px;">@motor.CustomerName</td>
                                        <td style="width:100px;">@motor.InvoiceNo</td>
                                        <td style="width:100px;">@motor.RiskName</td>
                                        <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @motor.ExpiryDate)</td>

                                        <td style="width:100px;">@motor.RenewalPremium</td>
                                        <td style="width:300px;">@motor.Product</td>
                                        <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @motor.FromDate)</td>
                                        <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @motor.ToDate)</td>
                                        <td style="width:100px;">@motor.Link</td>

                                        <td style="width:300px;">@motor.CusCode</td>
                                        <td style="width:300px;">@motor.Month</td>
                                        <td style="width:300px;">@motor.PersonInCharge</td>
                                        <td style="width:300px;">@motor.ResponsibleParty</td>
                                        <td style="width:300px;">@motor.PolicyNo</td>

                                        <td style="width:100px;">@motor.Branch</td>
                                        <td style="width:300px;">@motor.IntermediaryType</td>
                                        <td style="width:300px;">@motor.AgentCode</td>
                                        <td style="width:300px;">@motor.AgentName</td>
                                        <td style="width:300px;">@motor.AccountCode</td>

                                        <td style="width:300px;">@motor.AuthorizedCode</td>
                                        <td style="width:100px;">@motor.AuthorizedName</td>
                                    </tr>
                                    }

                                </tbody>
                            </table>
                        }
                    </div>
                }

            </div>
        </div>
    </div>


</div>
