﻿@model SurveySMSViewModel;

@{
    ViewData["Title"] = "NewBusinessCSATFailCase";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<script src="~/js/smsjs.js"></script>
<script>

    $(function () {
        $(".monthpicker").datetimepicker({
            format: "MMM/YYYY"
        });
    });

</script>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>New Business CSAT Survey SMS Fail Case Report</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a href='@Url.Action("ExportReportNewBusinessCSATFailCase", "Report")'><i class="fa fa-file-excel-o" style="color:#CE123C"></i></a>
                    </li>

                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <br />
                <div class="row">

                        @if (TempData["Message"] != null)
                        {
                            <script type="text/javascript">
                                window.onload = function () {
                                    $('#divMsg').show();
                                };
                            </script>
                        }

                        <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">
                                &times;
                            </a>

                            <i class="fa fa-info-circle" style="font-size:16px;"></i>
                            <strong>@TempData["Message"]</strong>
                        </div>

                    </div>


                @using (Html.BeginForm("GetNewBusinessCSATSMSFailCase", "Report", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-horizontal form-label-left">
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-3 col-sm-3 ">From Date</label>
                            <div class="col-md-8 col-sm-8 ">
                                <input class="form-control" type="date" asp-for="FromUploadedDate" placeholder="From Date" required />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label col-md-3 col-sm-3 ">To Date</label>
                            <div class="col-md-8 col-sm-8 ">
                                <input class="form-control" type="date" asp-for="ToUploadedDate" placeholder="To Date" required />
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-9 col-sm-9  offset-md-4">
                                <button type="button" class="btn btn-default btnayas-style" onclick="location.href='@Url.Action("NewBusinessCSATFailCase", "Report")'">
                                    <i class="fa fa-refresh"></i>
                                    Clear Form
                                </button>
                                <button type="submit" class="btn btn-default btnayas-style">
                                    <i class="fa fa-upload"></i>
                                    Preview
                                </button>
                                <button type="button" class="btn btn-primary btnayas-style" onclick="location.href='@Url.Action("SendNewBusinessCSATFailCase", "Report")'">
                                    <i class="fa fa-send"></i>
                                    Send
                                </button>

                            </div>
                        </div>


                    </div>

                    <div class="card-box table-responsive">
                        @if (ViewBag.FailSurveySMSList != null)
                        {
                        <table id="tblSMS" class="table table-striped table-bordered dt-responsive tblSMS" cellspacing="0" style="width:100%;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Sent Date</th>
                                    <th>Phone Number</th>
                                    <th>Customer Name</th>
                                    <th>Invoice No</th>
                                    <th>Risk Name</th>
                                    <th>Expired Date</th>
                                    <th>Renewal Premium</th>
                                    <th>Product</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th>Link</th>
                                    <th>Customer Code</th>
                                    <th>Month</th>
                                    <th>PersonInCharge</th>
                                    <th>Responsiable Party</th>
                                    <th>Policy Number</th>
                                    <th>Branch</th>
                                    <th>Intermediary Type</th>
                                    <th>Agent Code</th>
                                    <th>Agent Name</th>
                                    <th>Account Code</th>
                                    <th>Authorized Code</th>
                                    <th>Authorized Name</th>
                                    <th>Category</th>
                                    <th>Message</th>
                                    <th style="display:none;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var survey in (List<SurveySMSViewModel>)ViewBag.FailSurveySMSList)
                                {
                                <tr>
                                    <td></td>
                                    <td style="width:100px;">@String.Format("{0:dd/MMM/yy}", survey.UploadedDate)</td>
                                    <td style="width:100px;">
                                        <input class="form-control txtphonenumber" type="text" id="phonenumber" asp-for="@survey.PhoneNumber" onkeydown="keyupFunction()" style="width:150px !important;" />
                                    </td>
                                    <td style="width:100px;">@survey.CustomerName</td>
                                    <td style="width:100px;">@survey.InvoiceNo</td>

                                    <td style="width:100px;">@survey.RiskName</td>
                                    <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", survey.ExpiryDate)</td>
                                    <td style="width:100px;">@survey.RenewalPremiun</td>
                                    <td style="width:300px;">@survey.Product</td>
                                    <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", survey.FromDate)</td>

                                    <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", survey.ToDate)</td>
                                    <td style="width:300px;">@survey.Link</td>
                                    <td style="width:300px;">@survey.CusCode</td>
                                    <td style="width:300px;">@survey.Month</td>
                                    <td style="width:300px;">@survey.PersonInCharge</td>

                                    <td style="width:300px;">@survey.ResponsibleParty</td>
                                    <td style="width:300px;">@survey.PolicyNo</td>
                                    <td style="width:300px;">@survey.Branch</td>
                                    <td style="width:300px;">@survey.IntermediaryType</td>
                                    <td style="width:300px;">@survey.AgentCode</td>

                                    <td style="width:300px;">@survey.AgentName</td>
                                    <td style="width:300px;">@survey.AccountCode</td>
                                    <td style="width:300px;">@survey.AuthorizedCode</td>
                                    <td style="width:300px;">@survey.AuthorizedName</td>
                                    <td style="width:300px;">@survey.CategoryDescription</td>

                                    <td style="width:300px;">@survey.Message</td>

                                    <td style="width:50px;display:none !important;">
                                        <input class="form-control hdfId" type="text" value="@survey.Id" readonly style="display:none !important;" />
                                    </td>
                                </tr>
                                }


                            </tbody>
                        </table>
                        }
                    </div>
                }

            </div>
        </div>
    </div>


</div>

