﻿@model SentSmsVM
@{
    ViewData["Title"] = "NewBussinessCSATSMSbyStaff";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<script>

    $(function () {
        $(".datepicker").datetimepicker({
            format: "DD/MMM/YYYY"
        });
    });

</script>
<link href="~/css/loading.css" rel="stylesheet" />
<script src="~/js/smsjs.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>New Business CSAT Survey SMS Report</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a href='@Url.Action("ExportNewBussinessCSATSMSReportBySysId", "Report")'><i class="fa fa-file-excel-o" style="color:#CE123C"></i></a>
                    </li>
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />

                <div class="row">

                    @if (TempData["Message"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                $('#divMsg').show();
                            };
                        </script>
                    }

                    <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">
                            &times;
                        </a>

                        <i class="fa fa-info-circle" style="font-size:16px;"></i>
                        <strong>@TempData["Message"]</strong>
                    </div>

                </div>


                @using (Html.BeginForm("SentNewBussinessCSATSMSReportData", "Report", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-horizontal form-label-left">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4">From Date</label>
                                <div class="col-md-8 col-sm-8 ">
                                    <input class="form-control datepicker" type="text" asp-for="fromDate" id="fromdate" placeholder="From Date" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4">Staff Name</label>
                                <div class="col-md-8 col-sm-8">
                                    @Html.DropDownListFor(model => model.StaffId, ViewBag.StaffList as IEnumerable<SelectListItem>, "Select", new { @class = "form-control"})
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4">To Date</label>
                                <div class="col-md-8 col-sm-8 ">
                                    <input class="form-control datepicker" type="text" asp-for="toDate" id="todate" placeholder="To Date" required />
                                </div>
                            </div>
                            @*<div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4">Staff Name</label>
                                <div class="col-md-8 col-sm-8">
                                    @Html.DropDownListFor(model => model.CategoryId, ViewBag.CategoryList as IEnumerable<SelectListItem>, "Select Category", new { @class = "form-control" })
                                </div>
                            </div>*@
                        </div>

                        <div class="clearfix"></div>
                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-9 col-sm-9  offset-md-3">

                                <button type="submit" class="btn btn-primary btnayas-style">
                                    <i class="fa fa-eye"></i>
                                    Preview
                                </button>

                            </div>
                        </div>
                    </div>
                }

            </div>




            <div class="card-box table-responsive">
                <table id="tblOP" class="table table-striped table-bordered dt-responsive datatable-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Sent Date</th>
                            <th>Receiver Name</th>
                            <th>Phone Number</th>
                            <th>Message</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.output != null)
                        {
                            @foreach (var sms in Model.lst)
                            {
                                <tr>
                                    <td style="width:100px;">@sms.SentDate</td>
                                    <td style="width:100px;">@sms.UserName</td>
                                    <td style="width:100px;">@sms.PhoneNumber</td>
                                    <td style="width:100px;">@sms.Message</td>
                                </tr>
                            }
                        }


                    </tbody>
                </table>

            </div>
        </div>
    </div>


</div>

