﻿@model CoreInfo

@{
    ViewData["Title"] = "PolicyReceiptTemplateReportData";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}
<style>
    .panel-default {
        border-color: #ddd;
    }
    .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }
    .panel-body {
        padding-top: 15px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="col-md-12">
                <div class="x_title">
                    <h2>Template Report</h2>
                    <a class="nav navbar-right" href='@Url.Action("ExportPolicyReceiptTemplateReport", "Report")' style="float:right;">
                        <img src="~/images/excel-file.png" style="float:right;color:#1e3f6d;" />
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-12">

                <div class="x_content" style="color:black;">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            From Date: @String.Format("{0:dd/MM/yyyy}", Model.from)
                        </div>
                        <div class="col-md-3">
                            To Date: @String.Format("{0:dd/MM/yyyy}", Model.to)
                        </div>
                        <div class="col-md-3">
                            Class : @String.Format("{0:dd/MM/yyyy}", Model.Product)
                        </div>
                        <div class="col-md-3">
                            Transaction Type : @String.Format("{0:dd/MM/yyyy}", Model.Transaction_type)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="padding-top:5px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table id="tblOP" class="table table-striped table-bordered dt-responsive datatable-responsive nowrap" cellspacing="0" style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Phone Number</th>
                                    <th>Customer Name</th>
                                    <th>Invoice No</th>
                                    <th>Risk Name</th>
                                    <th>Expiry Date</th>
                                    <th>Renewal Premium</th>
                                    <th>Product</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th>Link</th>
                                    <th>Cus Code</th>
                                    <th>Month</th>
                                    <th>For Person in charge(PIC)</th>
                                    <th>Responsible Party</th>
                                    <th>Policy No</th>
                                    <th>Branch</th>
                                    <th>Intermediary Type</th>
                                    <th>Agent Code</th>
                                    <th>Agent Name</th>
                                    <th>Account Code</th>
                                    <th>Authorized Code</th>
                                    <th>Authorized Name</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var row in Model.lst)
                                {
                                    <tr class="odd gradeX">
                                        <td></td>
                                        <td style="width:300px;">@row.Phone_No</td>
                                        <td style="width:500px;">@row.Cus_Name</td>
                                        <td style="width:300px;">@row.Invoice_No</td>
                                        <td style="width:500px;">@row.Vehicle_No</td>
                                        <td style="width:300px;">@row.Expiry_Date.ToString("MM/dd/yyyy")</td>
                                        <td style="width:300px;">@Convert.ToDecimal(row.Premium).ToString("#,##0")</td>
                                        <td style="width:300px;">@row.Class</td>
                                        <td style="width:300px;">@row.Period_From.ToString("MM/dd/yyyy")</td>
                                        <td style="width:300px;">@row.Period_To.ToString("MM/dd/yyyy")</td>
                                        <td style="width:300px;">@row.Link</td>
                                        <td style="width:300px;">@row.Cus_Code</td>
                                        <td style="width:100px;"></td>
                                        <td style="width:100px;"></td>
                                        <td style="width:100px;"></td>
                                        <td style="width:300px;">@row.Policy_No</td>
                                        <td style="width:300px;">@row.Branch</td>
                                        <td style="width:300px;">@row.Intermediary_Type</td>
                                        <td style="width:300px;">@row.Agent_Code</td>
                                        <td style="width:300px;">@row.Agent_Name</td>
                                        <td style="width:300px;">@row.Account_Code</td>
                                        <td style="width:300px;">@row.Authorized_code</td>
                                        <td style="width:300px;">@row.Authorized_name</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            @*<div class="card-box table-responsive">
                

            </div>*@

        </div>
    </div>


</div>

