﻿@model CoreInfo
@{
    ViewData["Title"] = "PolicyReceiptTemplateReport";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<script type="text/javascript">

    $('document').ready(function () {

        function initializeSelect2(selectElementObj) {
            selectElementObj.select2({
                width: "100%",
                tags: true,

            });
        }

        //onload: call the above function
        $(".js-example-responsive").each(function () {
            initializeSelect2($(this));
        });

    });

</script>
<style>

    .select2-results__option--highlighted,
    .select2-results__option:hover {
        background: #CE123C !important;
        color: #cccccc;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #ccc;
        color: black;
    }

    .select2-container--default .select2-selection--multiple {
        border: 1px solid #ccc;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 22px;
    }

    .select2-results__option {
        font-size: 11px;
    }

    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 33px;
        user-select: none;
        -webkit-user-select: none;
        border: 1px solid #ced4da;
    }

    .select2-container .select2-results__option[aria-selected] {
        width: auto;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        width: auto;
    }

    .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 0;
        min-height: 33px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Template Receipt Core Report for SMS Gateway</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <div class="row">

                    @if (TempData["Message"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                $('#divMsg').show();
                            };
                        </script>
                    }

                    <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">
                            &times;
                        </a>

                        <i class="fa fa-info-circle" style="font-size:16px;"></i>
                        <strong>@TempData["Message"]</strong>
                    </div>

                </div>


                @using (Html.BeginForm("PolicyReceiptTemplateReportData", "Report", FormMethod.Post, new { enctype = "multipart/form-data", target = "_blank" }))
                {
                <div class="form-horizontal form-label-left">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-4">
                                <label>Template:</label><span style="color:red;">*</span>
                                @Html.DropDownListFor(model => model.CategoryId, ViewBag.CategoryList as IEnumerable<SelectListItem>, "Select Category", new { @class = "form-control", @name = "CategoryId", @id = "ddlCategory", @required = "required" })

                            </div>
                            <div class="form-group col-md-4">
                                <label>Class:</label>
                                <select asp-for="ClassLIST" class="form-control js-example-responsive" asp-items="@ViewBag.ClassList" multiple="multiple" placeholder=""></select>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Product:</label>
                                <select asp-for="ProductLIST" class="form-control js-example-responsive" asp-items="@ViewBag.ProductList" multiple="multiple" placeholder=""></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-4">
                                <label>Date Filter:</label>
                                @Html.DropDownListFor(model => model.filter, ViewBag.Filter as IEnumerable<SelectListItem>, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-4">
                                <label>From Date:</label><span style="color:red;">*</span>
                                <div>
                                    <input class='form-control' type="date" name="from" asp-for="from" id="fromDate" value="" required>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>To Date:</label><span style="color:red;">*</span>
                                <div>
                                    <input class='form-control' type="date" name="to" asp-for="to" id="toDate" value="" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-4">
                                <label>Transaction Type:</label>
                                @Html.DropDownListFor(model => model.Transaction_type, ViewBag.TransactionType as IEnumerable<SelectListItem>,"", new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-4">
                                <label>Credit term:</label>
                                @Html.DropDownListFor(model => model.Credit_term, ViewBag.YNConditon as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>IsExcluded:</label>
                                        @Html.DropDownListFor(model => model.IsExcluded, ViewBag.YNConditon as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-8">
                                        <label>Account Code:</label>
                                        <select asp-for="ACC_CODE_LIST" class="form-control js-example-responsive" asp-items="@ViewBag.AccountCodeList" multiple="multiple" placeholder=""></select>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <div class="col-md-9 col-sm-9  offset-md-4">
                            <button type="submit" class="btn btn-primary btnayas-style">
                                <i class="fa fa-search"></i>
                                Search
                            </button>
                            <button type="button" class="btn btn-default btnayas-style" onclick="location.href='@Url.Action("PolicyReceiptTemplateReport", "Report")'">
                                <i class="fa fa-refresh"></i>
                                Clear Form
                            </button>
                        </div>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>

</div>

