﻿@model filterRenewalDataModel

@{
    ViewData["Title"] = "RenewalRegisterList";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<link href="~/vendors/multipleselect/css/sumoselect.css" rel="stylesheet" />
<script src="~/vendors/multipleselect/js/jquery.sumonselect.min.js"></script>

<script>

    $(function () {
        $(".monthpicker").datetimepicker({
            format: "MMM/YYYY"
        });
    });

    $(document).ready(function () {

        $('.ddlAccountCode').SumoSelect({
            search: true,
            searchText: 'Select Account Code',
            clearAll: true,
            csvDispCount: 5
        });

    });

</script>
<style type="text/css">
    
    .SumoSelect > .CaptionCont > span.placeholder {
        color: #495057;
        font-style: normal;
    }

    .SumoSelect > .CaptionCont {
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }

    .SelectBox {
        padding: .375rem .75rem;
    }

    .SumoSelect {
        width: inherit;
    }

    .lbl_filter {
        font-size: 16px;
        margin-left: 8px;
        margin-bottom: 0rem;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Monthly Renewal Register Report</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <div class="row">

                    @if (TempData["Message"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                $('#divMsg').show();
                            };
                        </script>
                    }

                    <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">
                            &times;
                        </a>

                        <i class="fa fa-info-circle" style="font-size:16px;"></i>
                        <strong>@TempData["Message"]</strong>
                    </div>

                </div>


                @using (Html.BeginForm("GetRenewalRegisterList", "Report", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-horizontal form-label-left">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-4 col-sm-4 ">Expired Date</label>
                                    <div class="col-md-8 col-sm-8 ">
                                        <input class="form-control monthpicker" type="text" asp-for="@Model.month" id="month" placeholder="Expired Date" required />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-4 col-sm-4 ">Product</label>
                                    <div class="col-md-8 col-sm-8 ">
                                        @Html.DropDownListFor(model => model.classname, ViewBag.ProductClass as IEnumerable<SelectListItem>, "Select Product", new { @class = "form-control" })

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-4 col-sm-4 ">Account Code</label>
                                    <div class="col-md-8 col-sm-8 ">
                                        <select asp-for="AccountCodes" class="form-control ddlAccountCode" asp-items="@ViewBag.AccountCode" multiple="multiple" placeholder="Select Account Code"></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-9 col-sm-9  offset-md-3">
                                <button type="button" class="btn btn-default btnayas-style" onclick="location.href='@Url.Action("RenewalRegisterList", "Report")'">
                                    <i class="fa fa-refresh"></i>
                                    Clear Form
                                </button>

                                <button type="submit" class="btn btn-primary btnayas-style">
                                    <i class="fa fa-eye"></i>
                                    Preview
                                </button>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="card-box table-responsive">

                @if (Model.classname == "MT")
                {
                    <div>
                        <a href='@Url.Action("ExportMotorRenewalRegisters", "Report", null)'>
                            <img src="~/images/excel-file.png" style="float:right;margin-bottom:10px;margin-right:10px;" />
                        </a>
                    </div>
                    <table id="tblBU" class="table table-striped table-bordered renewaltbl nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th style="display:none;"></th>
                                <th>Customer Name</th>
                                <th>Phone Number</th>
                                <th>Approve Send SMS</th>
                                <th>UW Approval</th>

                                <th>Branch Authority</th>
                                <th>Agreed SI Amount</th>
                                <th>Invoice No</th>
                                <th>Policy Number</th>
                                <th>PersonInCharge</th>

                                <th>Responsible Party</th>
                                <th>Customer Code</th>
                                <th>Risk Name</th>
                                <th>Expired Date</th>
                                <th>From Date</th>

                                <th>To Date</th>
                                <th>Renewal Premium</th>
                                <th>Make</th>
                                <th>Model</th>
                                <th>Product</th>

                                <th>Branch</th>
                                <th>Account Code</th>
                                <th>Intermediary Type</th>
                                <th>Agent Code</th>
                                <th>Agent Name</th>

                                <th>Authorized Code</th>
                                <th>Authorized Name</th>
                                <th>Product Class</th>
                                <th>Currency</th>
                                <th>SumInsured</th>

                                <th>SI Increased Value</th>
                                <th>Renewal SI value</th>
                                <th>Previous Winscreen Value</th>
                                <th>Renewed Winscreen Value</th>
                                <th>Outstanding Amount</th>

                                <th>Excess Amount</th>
                                <th>Send SMS Date</th>
                                <th>Joint Member</th>
                                <th>Dominant Share Holder</th>
                                <th>Financial Interest</th>

                                <th>Branch Authority Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var motor in (List<MotorRenewalRegister>)ViewBag.lstMotorRenewalRegisters)
                            {
                            <tr>
                                <td style="display:none;"></td>
                                <td style="width:100px;">@motor.CustomerName</td>
                                <td style="width:100px;">@motor.PhoneNumber</td>
                                <td style="width:300px;">@motor.ApproveSendSms</td>
                                <td style="width:300px;">@motor.Uwapproval</td>

                                <td style="width:50px;">@motor.BranchAuthority</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @motor.AgreedSiamount)</td>
                                <td style="width:300px;">@motor.InvoiceNo</td>
                                <td style="width:100px;">@motor.PolicyNo</td>
                                <td style="width:50px;">@motor.PersonInCharge</td>

                                <td style="width:50px;">@motor.ResponsibleParty</td>
                                <td style="width:100px;">@motor.CusCode</td>
                                <td style="width:300px;">@motor.RiskName</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @motor.ExpiryDate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @motor.FromDate)</td>

                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @motor.ToDate)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", Convert.ToString(@motor.RenewalPremium))</td>
                                <td style="width:300px;">@motor.Manufacturer</td>
                                <td style="width:300px;">@motor.Car_Model</td>
                                <td style="width:300px;">@motor.Product</td>

                                <td style="width:300px;">@motor.Branch</td>
                                <td style="width:100px;">@motor.AccountCode</td>
                                <td style="width:300px;">@motor.IntermediaryType</td>
                                <td style="width:300px;">@motor.AgentCode</td>
                                <td style="width:300px;">@motor.AgentName</td>

                                <td style="width:300px;">@motor.AuthorizedCode</td>
                                <td style="width:100px;">@motor.AuthorizedName</td>
                                <td style="width:300px;">@motor.Class</td>
                                <td style="width:300px;">@motor.Currency</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @motor.SumInsured)</td>

                                <td style="width:300px;">@String.Format("{0:n0}", @motor.Sivalue20)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @motor.RenewedSivalue)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @motor.PreviousWindscreenValue)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @motor.RenewedWindscreenValue)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @motor.Outstanding_Amt)</td>

                                <td style="width:300px;">@String.Format("{0:n0}", @motor.Excess_Amt)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @motor.ApproveSendSmsdate)</td>
                                <td style="width:300px;">@motor.JointMember</td>
                                <td style="width:300px;">@motor.DominantHolder</td>
                                <td style="width:300px;">@motor.Financial_Interest</td>

                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @motor.BranchAuthorityDate)</td>
                            </tr>
                            }

                        </tbody>
                    </table>
                }
                else if (Model.classname == "FI")
                {
                    <div>
                        <a href='@Url.Action("ExportFireRenewalRegisters", "Report",null)'>
                            <img src="~/images/excel-file.png" style="float:right;margin-bottom:10px;margin-right:10px;" />
                        </a>
                    </div>
                    <table id="tblBU" class="table table-striped table-bordered renewaltbl nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th style="display:none;"></th>
                                <th>Customer Name</th>
                                <th>Phone Number</th>
                                <th>Approve Send SMS</th>
                                <th>UW Approval</th>
                                <th>Branch Authority</th>

                                <th>Agreed SI Amount</th>
                                <th>Invoice No</th>
                                <th>Policy Number</th>
                                <th>PersonInCharge</th>
                                <th>Responsible Party</th>

                                <th>Customer Code</th>
                                <th>Risk Name</th>
                                <th>Expired Date</th>
                                <th>From Date</th>
                                <th>To Date</th>

                                <th>Renewal Premium</th>
                                <th>Product</th>
                                <th>Branch</th>
                                <th>Account Code</th>
                                <th>Intermediary Type</th>

                                <th>Agent Code</th>
                                <th>Agent Name</th>
                                <th>Authorized Code</th>
                                <th>Authorized Name</th>
                                <th>Product Class</th>

                                <th>Currency</th>
                                <th>SumInsured</th>
                                <th>Detail Occupancy</th>
                                <th>Location Risk</th>
                                <th>Building Class</th>

                                <th>Loss Record</th>
                                <th>Coverage</th>
                                <th>Google Map/ Geo Coordinate</th>
                                <th>Number of ABC Type Extinguisher</th>
                                <th>Number of CO2 Type Extinguishers</th>

                                <th>Number of Other Extinguisher</th>
                                <th>Weight of Fire Extinguishers</th>
                                <th>No. of Fire Hose Reel</th>
                                <th>No. of Hydrant</th>
                                <th>Capacity of Fire Tank</th>

                                <th>Security Guards</th>
                                <th>Number of CCTV Camera</th>
                                <th>Sq M of the Building</th>
                                <th>Required No. of Extinguishers</th>
                                <th>Work in process if there is any</th>

                                @*<th>UW Approval</th>*@
                                <th>Send SMS Date</th>
                                <th>Joint Member</th>
                                <th>Dominant Share Holder</th>
                                <th>Number of Fire Tank</th>
                                <th>Type of Fire Tank</th>

                                <th>Outstanding Amount</th>
                                <th>Excess Amount</th>
                                <th>Financial Interest</th>
                                <th>Branch Authority Date</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var fire in (List<FireRenewalRegister>)ViewBag.lstFireRenewalRegisters)
                            {
                            <tr>
                                <td style="display:none;"></td>
                                <td style="width:100px;">@fire.CustomerName</td>
                                <td style="width:100px;">@fire.PhoneNumber</td>
                                <td style="width:300px;">@fire.ApproveSendSms</td>
                                <td style="width:300px;">@fire.Uwapproval</td>

                                <td style="width:50px;">@fire.BranchAuthority</td>
                                <td style="width:50px;">@String.Format("{0:n0}", @fire.AgreedSiamount)</td>
                                <td style="width:300px;">@fire.InvoiceNo</td>
                                <td style="width:100px;">@fire.PolicyNo</td>
                                <td style="width:50px;">@fire.PersonInCharge</td>

                                <td style="width:50px;">@fire.ResponsibleParty</td>
                                <td style="width:100px;">@fire.CusCode</td>
                                <td style="width:300px;">@fire.RiskName</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @fire.ExpiryDate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @fire.FromDate)</td>

                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @fire.ToDate)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @fire.RenewalPremium)</td>
                                <td style="width:300px;">@fire.Product</td>
                                <td style="width:300px;">@fire.Branch</td>
                                <td style="width:100px;">@fire.AccountCode</td>

                                <td style="width:300px;">@fire.IntermediaryType</td>
                                <td style="width:300px;">@fire.AgentCode</td>
                                <td style="width:300px;">@fire.AgentName</td>
                                <td style="width:300px;">@fire.AuthorizedCode</td>
                                <td style="width:100px;">@fire.AuthorizedName</td>

                                <td style="width:300px;">@fire.Class</td>
                                <td style="width:300px;">@fire.Currency</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @fire.SumInsured)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @fire.DetailOccupancy)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @fire.LocationRisk)</td>

                                <td style="width:300px;">@String.Format("{0:n0}", @fire.BuildingClass)</td>
                                <td style="width:300px;">@fire.LossRecord</td>
                                <td style="width:300px;">@fire.Coverage</td>
                                <td style="width:300px;">@fire.GoogleMap</td>
                                <td style="width:100px;">@fire.AbctypeExtinguisher</td>

                                <td style="width:300px;">@fire.Co2typeExtinguishers</td>
                                <td style="width:300px;">@fire.OtherExtinguisher</td>
                                <td style="width:300px;">@fire.FireExtinguishersWeight</td>
                                <td style="width:300px;">@fire.NumberofFireHoseReel</td>
                                <td style="width:100px;">@fire.NumberofHydrant</td>

                                <td style="width:300px;">@fire.CapacityofFireTank</td>
                                <td style="width:300px;">@fire.SecurityGuards</td>
                                <td style="width:300px;">@fire.NumberofCctvcamera</td>
                                <td style="width:300px;">@fire.SqMeterofBuilding</td>
                                <td style="width:100px;">@fire.RequiredExtinguishers</td>

                                <td style="width:300px;">@fire.WorkinProcess</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @fire.ApproveSendSmsdate)</td>
                                <td style="width:300px;">@fire.JointMember</td>
                                <td style="width:300px;">@fire.DominantHolder</td>
                                <td style="width:300px;">@fire.NumberofFireTank</td>

                                <td style="width:300px;">@fire.TypeofFireTank</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @fire.Outstanding_Amt)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @fire.Excess_Amt)</td>
                                <td style="width:300px;">@fire.Financial_Interest</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @fire.BranchAuthorityDate)</td>
                            </tr>
                            }

                        </tbody>
                    </table>
                }
                else if (Model.classname == "LF")
                {
                    <div>
                        <a href='@Url.Action("ExportHealthRenewalRegisters", "Report",null)'>
                            <img src="~/images/excel-file.png" style="float:right;margin-bottom:10px;margin-right:10px;" />
                        </a>
                    </div>
                    <table id="tblBU" class="table table-striped table-bordered renewaltbl nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th style="display:none;"></th>
                                <th>Customer Name</th>
                                <th>Phone Number</th>
                                <th>Approve Send SMS</th>
                                <th>UW Approval</th>

                                <th>Branch Authority</th>
                                <th>Agreed SI Amount</th>
                                <th>Invoice No</th>
                                <th>Policy Number</th>
                                <th>PersonInCharge</th>

                                <th>Responsible Party</th>
                                <th>Customer Code</th>
                                <th>Risk Name</th>
                                <th>Expired Date</th>
                                <th>From Date</th>

                                <th>To Date</th>
                                <th>Renewal Premium</th>
                                <th>Product</th>
                                <th>Branch</th>
                                <th>Account Code</th>

                                <th>Intermediary Type</th>
                                <th>Agent Code</th>
                                <th>Agent Name</th>
                                <th>Authorized Code</th>
                                <th>Authorized Name</th>

                                <th>Product Class</th>
                                <th>Installment Plan</th>
                                <th>Basic Coverage</th>
                                <th>Optional Coverage (1)</th>
                                <th>Optional Coverage (2)</th>

                                <th>NCB/Claim Loading</th>
                                <th>Outstanding Amount</th>
                                <th>Excess Amount</th>
                                <th>Financial Interest</th>
                                <th>Send SMS Date</th>

                                <th>Branch Authority Date</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var health in (List<HealthRenewalRegister>)ViewBag.lstHealthRenewalRegisters)
                            {
                            <tr>
                                <td style="display:none;"></td>
                                <td style="width:100px;">@health.CustomerName</td>
                                <td style="width:100px;">@health.PhoneNumber</td>
                                <td style="width:300px;">@health.ApproveSendSms</td>
                                <td style="width:300px;">@health.Uwapproval</td>

                                <td style="width:50px;">@health.BranchAuthority</td>
                                <td style="width:50px;">@String.Format("{0:n0}", @health.AgreedSiamount)</td>
                                <td style="width:300px;">@health.InvoiceNo</td>
                                <td style="width:100px;">@health.PolicyNo</td>
                                <td style="width:50px;">@health.PersonInCharge</td>

                                <td style="width:50px;">@health.ResponsibleParty</td>
                                <td style="width:100px;">@health.CusCode</td>
                                <td style="width:300px;">@health.RiskName</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @health.ExpiryDate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @health.FromDate)</td>

                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @health.ToDate)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @health.RenewalPremium)</td>
                                <td style="width:300px;">@health.Product</td>
                                <td style="width:300px;">@health.Branch</td>
                                <td style="width:100px;">@health.AccountCode</td>

                                <td style="width:300px;">@health.IntermediaryType</td>
                                <td style="width:300px;">@health.AgentCode</td>
                                <td style="width:300px;">@health.AgentName</td>
                                <td style="width:300px;">@health.AuthorizedCode</td>
                                <td style="width:100px;">@health.AuthorizedName</td>

                                <td style="width:300px;">@health.Class</td>
                                <td style="width:300px;">@health.InstallmentPlan</td>
                                <td style="width:300px;">@health.BasicCoverage</td>
                                <td style="width:300px;">@health.OptionalCoverage1</td>
                                <td style="width:100px;">@health.OptionalCoverage2</td>

                                <td style="width:300px;">@String.Format("{0:n0}", @health.NcbclaimLoading)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @health.Outstanding_Amt)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @health.Excess_Amt)</td>
                                <td style="width:300px;">@health.Financial_Interest</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @health.ApproveSendSmsdate)</td>

                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @health.BranchAuthorityDate)</td>
                            </tr>
                            }

                        </tbody>
                    </table>
                }
                else if (Model.classname == "MS")
                {
                    <div>
                        <a href='@Url.Action("ExportPARenewalRegisters", "Report",null)'>
                            <img src="~/images/excel-file.png" style="float:right;margin-bottom:10px;margin-right:10px;" />
                        </a>
                    </div>
                    <table id="tblBU" class="table table-striped table-bordered renewaltbl nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th style="display:none;"></th>
                                <th>Customer Name</th>
                                <th>Phone Number</th>
                                <th>Approve Send SMS</th>
                                <th>UW Approval</th>

                                <th>Branch Authority</th>
                                <th>Agreed SI Amount</th>
                                <th>Invoice No</th>
                                <th>Policy Number</th>
                                <th>PersonInCharge</th>

                                <th>Responsible Party</th>
                                <th>Customer Code</th>
                                <th>Risk Name</th>
                                <th>Expired Date</th>
                                <th>From Date</th>

                                <th>To Date</th>
                                <th>Renewal Premium</th>
                                <th>Product</th>
                                <th>Branch</th>
                                <th>Account Code</th>

                                <th>Intermediary Type</th>
                                <th>Agent Code</th>
                                <th>Agent Name</th>
                                <th>Authorized Code</th>
                                <th>Authorized Name</th>

                                <th>Product Class</th>
                                <th>Installment Plan</th>
                                <th>Basic Coverage</th>
                                <th>Optional Coverage (1)</th>
                                <th>Optional Coverage (2)</th>

                                <th>NCB/Claim Loading</th>
                                <th>Outstanding Amount</th>
                                <th>Excess Amount</th>
                                <th>Financial Interest</th>
                                <th>Send SMS Date</th>

                                <th>Branch Authority Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var pa in (List<ParenewalRegister>)ViewBag.lstPARenewalRegisters)
                            {
                            <tr>
                                <td style="display:none;"></td>
                                <td style="width:100px;">@pa.CustomerName</td>
                                <td style="width:100px;">@pa.PhoneNumber</td>
                                <td style="width:300px;">@pa.ApproveSendSms</td>
                                <td style="width:300px;">@pa.Uwapproval</td>

                                <td style="width:50px;">@pa.BranchAuthority</td>
                                <td style="width:50px;">@String.Format("{0:n0}", @pa.AgreedSiamount)</td>
                                <td style="width:300px;">@pa.InvoiceNo</td>
                                <td style="width:100px;">@pa.PolicyNo</td>
                                <td style="width:50px;">@pa.PersonInCharge</td>

                                <td style="width:50px;">@pa.ResponsibleParty</td>
                                <td style="width:100px;">@pa.CusCode</td>
                                <td style="width:300px;">@pa.RiskName</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @pa.ExpiryDate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @pa.FromDate)</td>

                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @pa.ToDate)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @pa.RenewalPremium)</td>
                                <td style="width:300px;">@pa.Product</td>
                                <td style="width:300px;">@pa.Branch</td>
                                <td style="width:100px;">@pa.AccountCode</td>

                                <td style="width:300px;">@pa.IntermediaryType</td>
                                <td style="width:300px;">@pa.AgentCode</td>
                                <td style="width:300px;">@pa.AgentName</td>
                                <td style="width:300px;">@pa.AuthorizedCode</td>
                                <td style="width:100px;">@pa.AuthorizedName</td>

                                <td style="width:300px;">@pa.Class</td>
                                <td style="width:300px;">@pa.InstallmentPlan</td>
                                <td style="width:300px;">@pa.BasicCoverage</td>
                                <td style="width:300px;">@pa.OptionalCoverage1</td>
                                <td style="width:100px;">@pa.OptionalCoverage2</td>

                                <td style="width:300px;">@String.Format("{0:n0}", @pa.NcbclaimLoading)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @pa.Outstanding_Amt)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @pa.Excess_Amt)</td>
                                <td style="width:300px;">@pa.Financial_Interest</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @pa.ApproveSendSmsdate)</td>

                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @pa.BranchAuthorityDate)</td>
                            </tr>
                            }

                        </tbody>
                    </table>
                }
                else if (Model.classname == "ENGG")
                {
                    <div>
                        <a href='@Url.Action("ExportENGGRenewalRegisters", "Report",null)'>
                            <img src="~/images/excel-file.png" style="float:right;margin-bottom:10px;margin-right:10px;" />
                        </a>
                    </div>
                    <table id="tblBU" class="table table-striped table-bordered renewaltbl nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th style="display:none;"></th>
                                <th>Customer Name</th>
                                <th>Phone Number</th>
                                <th>Approve Send SMS</th>
                                <th>UW Approval</th>

                                <th>Branch Authority</th>
                                <th>DMS Upload</th>
                                <th>Done/Pending</th>
                                <th>Agreed SI Amount</th>
                                <th>Invoice No</th>

                                <th>Policy Number</th>
                                <th>PersonInCharge</th>
                                <th>Responsible Party</th>
                                <th>Customer Code</th>
                                <th>Risk Name</th>

                                <th>Expired Date</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Renewal Premium</th>
                                <th>Product</th>

                                <th>Branch</th>
                                <th>Account Code</th>
                                <th>Intermediary Type</th>
                                <th>Agent Code</th>
                                <th>Agent Name</th>

                                <th>Authorized Code</th>
                                <th>Authorized Name</th>
                                <th>Product Class</th>
                                <th>Currency</th>
                                <th>SumInsured</th>

                                <th>Detail Occupancy</th>
                                <th>Location Risk</th>
                                <th>Building Class</th>
                                <th>Loss Record</th>
                                <th>Coverage</th>

                                <th>Google Map/ Geo Coordinate</th>
                                <th>Number of ABC Type Extinguisher</th>
                                <th>Number of CO2 Type Extinguishers</th>
                                <th>Number of Other Extinguisher</th>
                                <th>Weight of Fire Extinguishers</th>

                                <th>No. of Fire Hose Reel</th>
                                <th>No. of Hydrant</th>
                                <th>No. of Fire Tank</th>
                                <th>Type of Fire Tank</th>
                                <th>Capacity of Fire Tank</th>

                                <th>Security Guards</th>
                                <th>Number of CCTV Camera</th>
                                <th>Sq M of the Building</th>
                                <th>Required No. of Extinguishers</th>
                                <th>Work in process if there is any</th>

                                <th>Outstanding Amount</th>
                                <th>Excess Amount</th>
                                <th>Financial Interest</th>
                                <th>Send SMS Date</th>
                                <th>Branch Authority Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var engg in (List<EngineeringRenewalRegister>)ViewBag.lstENGGRenewalRegisters)
                            {
                            <tr>
                                <td style="display:none;"></td>

                                <td style="width:100px;">@engg.CustomerName</td>
                                <td style="width:100px;">@engg.PhoneNumber</td>
                                <td style="width:300px;">@engg.ApproveSendSms</td>
                                <td style="width:300px;">@engg.Uwapproval</td>
                                <td style="width:50px;">@engg.BranchAuthority</td>

                                <td style="width:50px;">@engg.Dmsupload</td>
                                <td style="width:50px;">@engg.DonePending</td>
                                <td style="width:50px;">@String.Format("{0:n0}", @engg.AgreedSiamount)</td>
                                <td style="width:300px;">@engg.InvoiceNo</td>
                                <td style="width:100px;">@engg.PolicyNo</td>

                                <td style="width:50px;">@engg.PersonInCharge</td>
                                <td style="width:50px;">@engg.ResponsibleParty</td>
                                <td style="width:100px;">@engg.CusCode</td>
                                <td style="width:300px;">@engg.RiskName</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @engg.ExpiryDate)</td>

                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @engg.FromDate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @engg.ToDate)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @engg.RenewalPremium)</td>
                                <td style="width:300px;">@engg.Product</td>
                                <td style="width:300px;">@engg.Branch</td>

                                <td style="width:100px;">@engg.AccountCode</td>
                                <td style="width:300px;">@engg.IntermediaryType</td>
                                <td style="width:300px;">@engg.AgentCode</td>
                                <td style="width:300px;">@engg.AgentName</td>

                                <td style="width:300px;">@engg.AuthorizedCode</td>
                                <td style="width:100px;">@engg.AuthorizedName</td>
                                <td style="width:300px;">@engg.Class</td>
                                <td style="width:300px;">@engg.Currency</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @engg.SumInsured)</td>

                                <td style="width:300px;">@String.Format("{0:n0}", @engg.DetailOccupancy)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @engg.LocationRisk)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @engg.BuildingClass)</td>
                                <td style="width:300px;">@engg.LossRecord</td>
                                <td style="width:300px;">@engg.Coverage</td>

                                <td style="width:300px;">@engg.GoogleMap</td>
                                <td style="width:100px;">@engg.AbctypeExtinguisher</td>
                                <td style="width:300px;">@engg.Co2typeExtinguishers</td>
                                <td style="width:300px;">@engg.OtherExtinguisher</td>
                                <td style="width:300px;">@engg.FireExtinguishersWeight</td>

                                <td style="width:300px;">@engg.NumberofFireHoseReel</td>
                                <td style="width:100px;">@engg.NumberofHydrant</td>
                                <td style="width:100px;">@engg.NumberofFireTank</td>
                                <td style="width:100px;">@engg.TypeofFireTank</td>
                                <td style="width:300px;">@engg.CapacityofFireTank</td>

                                <td style="width:300px;">@engg.SecurityGuards</td>
                                <td style="width:300px;">@engg.NumberofCctvcamera</td>
                                <td style="width:300px;">@engg.SqMeterofBuilding</td>
                                <td style="width:100px;">@engg.RequiredExtinguishers</td>
                                <td style="width:300px;">@engg.WorkinProcess</td>

                                <td style="width:300px;">@String.Format("{0:n0}", @engg.Outstanding_Amt)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @engg.Excess_Amt)</td>
                                <td style="width:300px;">@engg.Financial_Interest</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @engg.ApproveSendSmsdate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @engg.BranchAuthorityDate)</td>
                            </tr>
                            }

                        </tbody>
                    </table>
                }
                else if (Model.classname == "PTY")
                {
                    <div>
                        <a href='@Url.Action("ExportPropertyRenewalRegisters", "Report",null)'>
                            <img src="~/images/excel-file.png" style="float:right;margin-bottom:10px;margin-right:10px;" />
                        </a>
                    </div>
                    <table id="tblBU" class="table table-striped table-bordered renewaltbl nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th style="display:none;"></th>
                                <th>Customer Name</th>
                                <th>Phone Number</th>
                                <th>Approve Send SMS</th>
                                <th>UW Approval</th>

                                <th>Branch Authority</th>
                                <th>DMS Upload</th>
                                <th>Done/Pending</th>
                                <th>Agreed SI Amount</th>
                                <th>Invoice No</th>

                                <th>Policy Number</th>
                                <th>PersonInCharge</th>
                                <th>Responsible Party</th>
                                <th>Customer Code</th>
                                <th>Risk Name</th>

                                <th>Expired Date</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Renewal Premium</th>
                                <th>Product</th>

                                <th>Branch</th>
                                <th>Account Code</th>
                                <th>Intermediary Type</th>
                                <th>Agent Code</th>
                                <th>Agent Name</th>

                                <th>Authorized Code</th>
                                <th>Authorized Name</th>
                                <th>Product Class</th>
                                <th>Currency</th>
                                <th>SumInsured</th>

                                <th>Detail Occupancy</th>
                                <th>Location Risk</th>
                                <th>Building Class</th>
                                <th>Loss Record</th>
                                <th>Coverage</th>

                                <th>Google Map/ Geo Coordinate</th>
                                <th>Number of ABC Type Extinguisher</th>
                                <th>Number of CO2 Type Extinguishers</th>
                                <th>Number of Other Extinguisher</th>
                                <th>Weight of Fire Extinguishers</th>

                                <th>No. of Fire Hose Reel</th>
                                <th>No. of Hydrant</th>
                                <th>No. of Fire Tank</th>
                                <th>Type of Fire Tank</th>
                                <th>Capacity of Fire Tank</th>

                                <th>Security Guards</th>
                                <th>Number of CCTV Camera</th>
                                <th>Sq M of the Building</th>
                                <th>Required No. of Extinguishers</th>
                                <th>Work in process if there is any</th>

                                <th>Outstanding Amount</th>
                                <th>Excess Amount</th>
                                <th>Financial Interest</th>
                                <th>Send SMS Date</th>
                                <th>Branch Authority Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var property in (List<PropertyRenewalRegister>)ViewBag.lstPropertyRenewalRegisters)
                            {
                            <tr>
                                <td style="display:none;"></td>
                                <td style="width:100px;">@property.CustomerName</td>
                                <td style="width:100px;">@property.PhoneNumber</td>
                                <td style="width:300px;">@property.ApproveSendSms</td>
                                <td style="width:300px;">@property.Uwapproval</td>

                                <td style="width:50px;">@property.BranchAuthority</td>
                                <td style="width:50px;">@property.Dmsupload</td>
                                <td style="width:50px;">@property.DonePending</td>
                                <td style="width:50px;">@String.Format("{0:n0}", @property.AgreedSiamount)</td>
                                <td style="width:300px;">@property.InvoiceNo</td>

                                <td style="width:100px;">@property.PolicyNo</td>
                                <td style="width:50px;">@property.PersonInCharge</td>
                                <td style="width:50px;">@property.ResponsibleParty</td>
                                <td style="width:100px;">@property.CusCode</td>
                                <td style="width:300px;">@property.RiskName</td>

                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @property.ExpiryDate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @property.FromDate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @property.ToDate)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @property.RenewalPremium)</td>
                                <td style="width:300px;">@property.Product</td>

                                <td style="width:300px;">@property.Branch</td>
                                <td style="width:100px;">@property.AccountCode</td>
                                <td style="width:300px;">@property.IntermediaryType</td>
                                <td style="width:300px;">@property.AgentCode</td>
                                <td style="width:300px;">@property.AgentName</td>

                                <td style="width:300px;">@property.AuthorizedCode</td>
                                <td style="width:100px;">@property.AuthorizedName</td>
                                <td style="width:300px;">@property.Class</td>
                                <td style="width:300px;">@property.Currency</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @property.SumInsured)</td>

                                <td style="width:300px;">@String.Format("{0:n0}", @property.DetailOccupancy)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @property.LocationRisk)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @property.BuildingClass)</td>
                                <td style="width:300px;">@property.LossRecord</td>
                                <td style="width:300px;">@property.Coverage</td>

                                <td style="width:300px;">@property.GoogleMap</td>
                                <td style="width:100px;">@property.AbctypeExtinguisher</td>
                                <td style="width:300px;">@property.Co2typeExtinguishers</td>
                                <td style="width:300px;">@property.OtherExtinguisher</td>
                                <td style="width:300px;">@property.FireExtinguishersWeight</td>

                                <td style="width:300px;">@property.NumberofFireHoseReel</td>
                                <td style="width:100px;">@property.NumberofHydrant</td>
                                <td style="width:100px;">@property.NumberofFireTank</td>
                                <td style="width:100px;">@property.TypeofFireTank</td>
                                <td style="width:300px;">@property.CapacityofFireTank</td>

                                <td style="width:300px;">@property.SecurityGuards</td>
                                <td style="width:300px;">@property.NumberofCctvcamera</td>
                                <td style="width:300px;">@property.SqMeterofBuilding</td>
                                <td style="width:100px;">@property.RequiredExtinguishers</td>
                                <td style="width:300px;">@property.WorkinProcess</td>

                                <td style="width:300px;">@String.Format("{0:n0}", @property.Outstanding_Amt)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @property.Excess_Amt)</td>
                                <td style="width:300px;">@property.Financial_Interest</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @property.ApproveSendSmsdate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @property.BranchAuthorityDate)</td>
                            </tr>
                            }

                        </tbody>
                    </table>
                }

            </div>
        </div>
    </div>

</div>