﻿@model SentSmsVM
@{
    ViewData["Title"] = "RenewalDeclineFailCase";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<script src="~/js/smsjs.js"></script>
<script>

    $(function () {
        $(".monthpicker").datetimepicker({
            format: "MMM/YYYY"
        });
    });

</script>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Renewal Decline Fail Case Report</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a href='@Url.Action("ExportRenewalDeclineFailCase", "Report")'><i class="fa fa-file-excel-o" style="color:#CE123C"></i></a>
                    </li>

                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <br />
                <div class="row">

                    @if (TempData["Message"] != null)
                    {
                        <script type="text/javascript">
                                window.onload = function () {
                                    $('#divMsg').show();
                                };
                        </script>
                    }

                    <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">
                            &times;
                        </a>

                        <i class="fa fa-info-circle" style="font-size:16px;"></i>
                        <strong>@TempData["Message"]</strong>
                    </div>

                </div>


                @using (Html.BeginForm("GetRenewalDeclineFailCase", "Report", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                <div class="form-horizontal form-label-left">
                    <div class="form-group col-md-6">
                        <label class="control-label col-md-3 col-sm-3 ">From Date<span style="color:red;">*</span></label>
                        <div class="col-md-8 col-sm-8 ">
                            <input class="form-control" type="date" asp-for="fromDate" placeholder="From Date" required />
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label col-md-3 col-sm-3 ">To Date<span style="color:red;">*</span></label>
                        <div class="col-md-8 col-sm-8 ">
                            <input class="form-control" type="date" asp-for="toDate" placeholder="To Date" required />
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label col-md-3 col-sm-3 ">Staff</label>
                        <div class="col-md-8 col-sm-8 ">
                            @Html.DropDownListFor(model => model.StaffId, ViewBag.StaffList as IEnumerable<SelectListItem>, "Select", new { @class = "form-control", @name = "StaffId", @id = "ddlStaff" })
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <div class="col-md-9 col-sm-9  offset-md-4">
                            <button type="button" class="btn btn-default btnayas-style" onclick="location.href='@Url.Action("RenewalDeclineFailCase", "Report")'">
                                <i class="fa fa-refresh"></i>
                                Clear Form
                            </button>
                            <button type="submit" class="btn btn-default btnayas-style">
                                <i class="fa fa-upload"></i>
                                Preview
                            </button>
                        </div>
                    </div>
                </div>

                    <div class="card-box table-responsive">
                        @if (ViewBag.RenewalDeclineFailList != null)
                        {
                            <table id="tblSMS" class="table table-striped table-bordered dt-responsive tblSMS nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>ID</th>
                                        <th>Sent Date</th>
                                        <th>Customer Code</th>
                                        <th>User Name</th>
                                        <th>Phone Number</th>
                                        <th>Policy No</th>
                                        <th>Vehicle No</th>
                                        <th>Expiry Date</th>
                                        <th>Renewal Premium</th>
                                        <th>Product</th>
                                        <th>From Date</th>
                                        <th>To Date</th>
                                        <th>Link</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var sms in (List<SentSmsVM>)ViewBag.RenewalDeclineFailList)
                                    {
                                    <tr>
                                        <td style="width:5px;"></td>
                                        <td style="width:5px;">@sms.Id</td>
                                        <td style="width:100px;">@string.Format("{0:MMM/dd/yy hh:mm:tt}", @sms.SentDate)</td>
                                        <td style="width:100px;">@sms.CusCode</td>
                                        <td style="width:100px;">@sms.UserName</td>
                                        <td style="width:100px;">@sms.PhoneNumber</td>
                                        <td style="width:100px;">@sms.PolicyNo</td>
                                        <td style="width:100px;">@sms.VehicleNo</td>
                                        <td style="width:100px;">@String.Format("{0:MMM/dd/yy}", @sms.ExpireDate)</td>
                                        <td style="width:100px;">@sms.RenewalPremium</td>
                                        <td style="width:100px;">@sms.Product</td>
                                        <td style="width:100px;">@String.Format("{0:MMM/dd/yy}", @sms.FromDate)</td>
                                        <td style="width:100px;">@String.Format("{0:MMM/dd/yy}", @sms.ToDate)</td>
                                        <td style="width:100px;">@sms.Link</td>
                                    </tr>
                                    }


                                </tbody>
                            </table>
                        }
                    </div>
                }

            </div>
        </div>
    </div>


</div>

