﻿@model filterRenewalDataModel
@{
    ViewData["Title"] = "RenewalRegisterList";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<script src="~/js/smsjs.js"></script>
<link href="~/css/loading.css" rel="stylesheet" />

@*multiple dropdownlist*@
<link href="~/vendors/multipleselect/css/sumoselect.css" rel="stylesheet" />
<script src="~/vendors/multipleselect/js/jquery.sumonselect.min.js"></script>
<script>

    $(function () {
        $(".monthpicker").datetimepicker({
            format: "MMM/YYYY"
        });
    });

    $(document).ready(function () {

        $('.js-example-responsive').SumoSelect({
            search: true,
            searchText: '',
            clearAll: true,
            csvDispCount: 5
        });
    });

</script>

<style type="text/css">

    .SumoSelect > .CaptionCont > span.placeholder {
        color: #495057;
        font-style: normal;
    }

    .SumoSelect > .CaptionCont {
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }

    .SelectBox {
        padding: .375rem .75rem;
    }

    .SumoSelect {
        width: inherit;
    }

    /*input[type="checkbox"]:checked {
        background-color: red;
    }

    input[type='checkbox'] {
        background-color: red;
    }*/
    .lbl_filter {
        font-size: 16px;
        margin-left: 8px;
        margin-bottom: 0rem;
    }

    .myStyle {
        background-color: coral;
        color: black;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Prepare Monthly Renewal Notice</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <div class="row">

                    @if (TempData["Message"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                $('#divMsg').show();
                            };
                        </script>
                    }

                    <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">
                            &times;
                        </a>

                        <i class="fa fa-info-circle" style="font-size:16px;"></i>
                        <strong>@TempData["Message"]</strong>
                    </div>

                </div>


                @using (Html.BeginForm("GetOPRenewalRegisterList", "SMS", FormMethod.Post, new { enctype = "multipart/form-data"}))
                {
                <div class="form-horizontal form-label-left">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                            </div>
                            <div class="form-group row" style="margin-top: 32px;">
                                <label class="control-label col-md-4 col-sm-4 ">Expired Date</label>
                                <div class="col-md-8 col-sm-8 ">
                                    <input class="form-control monthpicker" type="text" asp-for="month" id="month" placeholder="Expired Date" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4 ">Product</label>
                                <div class="col-md-8 col-sm-8 ">
                                    @Html.DropDownListFor(model => model.classname, ViewBag.ProductClass as IEnumerable<SelectListItem>, "Select Product", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4 ">Account Code</label>
                                <div class="col-md-8 col-sm-8 ">
                                    @*@Html.DropDownListFor(model => model.AccountCodes, ViewBag.AccountCode as IEnumerable<SelectListItem>, new { @class = "form-control js-example-responsive", @multiple = "multiple" })*@
                                    <select asp-for="AccountCodes" class="form-control js-example-responsive" asp-items="@ViewBag.AccountCode" multiple="multiple" placeholder="Select Account Code"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="lbl_filter">Filter Value</label>
                                <hr style="margin:0rem; border-bottom: 1px solid #E6E9ED;" />
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4 ">Responsible Party</label>
                                <div class="col-md-8 col-sm-8 ">
                                    <select asp-for="ResponsibleParties" class="form-control js-example-responsive" asp-items="@ViewBag.ResponsiblePartyList " multiple="multiple" placeholder="Select Responsible Party"></select>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4 ">Approve Send SMS</label>
                                <div class="col-md-8 col-sm-8 ">
                                    @Html.DropDownListFor(model => model.approvesendsms, ViewBag.ApproveSendSMSList as IEnumerable<SelectListItem>, "Select Send SMS", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4 ">Has Note</label>
                                <div class="col-md-8 col-sm-8 ">
                                    @Html.DropDownListFor(model => model.RemarkId, ViewBag.YNCCondition as IEnumerable<SelectListItem>, "", new { @class = "form-control" })

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <div class="col-md-9 col-sm-9  offset-md-3">
                            <button type="button" class="btn btn-default btnayas-style" onclick="location.href='@Url.Action("OPRenewalRegisterList", "SMS")'">
                                <i class="fa fa-refresh"></i>
                                Clear Form
                            </button>

                            <button type="submit" class="btn btn-primary btnayas-style" target>
                                <i class="fa fa-eye"></i>
                                Preview
                            </button>

                            <button type="button" class="btn btn-default btnayas-style" id="OPRenewalbtnCheckPhNo">
                                <i class="fa fa-phone"></i>
                                Check Ph No
                            </button>

                            <button type="button" class="btn btn-default btnayas-style" id="btnOPAllSync">
                                <i class="fa fa-refresh"></i>
                                Sync All
                            </button>

                        </div>
                    </div>
                </div>
                }

            </div>

            <div class="card-box table-responsive">
                @if (Model.classname == "MT")
                {
                    <div>
                        <a href='@Url.Action("ExportMotorRenewalRegisters", "SMS",null)'>
                            <img src="~/images/excel-file.png" style="float:right;margin-top:10px;margin-right:10px;" />
                        </a>
                    </div>
                    <div class="form-group row" style="margin-top: 10px;">
                        <label class="control-label col-md-2 " style="padding-top: 8px;">Checked Count: <span class="numberCircle">@Model.checkedcount</span></label>

                        <label class="control-label col-md-2 col-sm-2 " style="padding-top: 8px;">Approve Send SMS</label>
                        <div class="col-md-3 col-sm-3 ">
                            @*@Html.DropDownListFor(model => model.approvesendsms, ViewBag.ApproveSendSMSList as IEnumerable<SelectListItem>,"Select Send SMS", new { @class = "form-control ddlChkApproveSendSMS" })*@
                            <select class="form-control ddlChkApproveSendSMS" id="ddlChkApproveSendSMS" asp-items="@ViewBag.ApproveSendSMSList" placeholder="Select Send SMS">
                                <option>Select Send SMS</option>
                            </select>
                        </div>

                    </div>

                    <table id="tblOP" class="table table-striped table-bordered renewaltbl nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Note</th>
                                @*<th>Sync Invoice</th>*@
                                <th>Phone Number</th>
                                <th>Approve Send SMS</th>
                                <th>UW Approval</th>

                                <th>Branch Authority</th>
                                <th>Agreed SI Amount</th>
                                <th>Invoice No</th>
                                <th>Policy Number</th>
                                <th>PersonInCharge</th>

                                <th>Responsible Party</th>
                                <th>Customer Code</th>
                                <th>Customer Name</th>
                                <th>Risk Name</th>
                                <th>Expired Date</th>

                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Renewal Premium</th>
                                <th>Make</th>
                                <th>Model</th>

                                <th>Product</th>
                                <th>Branch</th>
                                <th>Account Code</th>
                                <th>Intermediary Type</th>
                                <th>Agent Code</th>

                                <th>Agent Name</th>
                                <th>Authorized Code</th>
                                <th>Authorized Name</th>
                                <th>Product Class</th>
                                <th>Currency</th>

                                <th>SumInsured</th>
                                <th>SI Increased Value</th>
                                <th>Renewal SI value</th>
                                <th>Previous Winscreen Value</th>
                                <th>Renewed Winscreen Value</th>

                                <th>Outstanding Amount</th>
                                <th>Excess Amount</th>
                                <th>Send SMS Date</th>
                                <th>Joint Member</th>
                                <th>Dominant Share Holder</th>

                                <th>Financial Interest</th>
                                <th>Branch Authority Date</th>
                                <th style="display:none;"></th>
                                <th style="display:none;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var motor in (List<MotorRenewalRegister>)ViewBag.lstMotorRenewalRegisters)
                            {
                            <tr>
                                @if (motor.PhoneNumber != null && motor.InvoiceNo != null && motor.PersonInCharge != null)
                                {
                                    <td style="width:10px;"><input type="checkbox" id="smschk" value="@motor.Id" checked /></td>
                                }
                                else
                                {
                                    <td style="width:10px;"><input type="checkbox" id="smschk" value="@motor.Id" /></td>
                                }
                                @if (motor.RemarkId == null)
                                {
                                    <td style="width:50px;">
                                        <a class="lnkRemark" href="#">
                                            <span class="fa fa-sticky-note-o ayascolor"></span>
                                        </a>
                                    </td>
                                }
                                @if (motor.RemarkId == true)
                                {
                                    @if (motor.RemarkFlag == true)
                                    {
                                        <td style="width:50px;">
                                            <a class="lnkRemark" href="#">
                                                <span class="fa fa-sticky-note remarkdonecolor"></span>
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="width:50px;">
                                            <a class="lnkRemark" href="#">
                                                <span class="fa fa-sticky-note ayascolor"></span>
                                            </a>
                                        </td>
                                    }
                                }
                                <td style="width:150px;">
                                    <input class="form-control txtphonenumber" type="text" id="phonenumber" asp-for="@motor.PhoneNumber" onkeydown="keyupFunction()" style="width:150px !important;" />
                                </td>
                                <td style="width:50px;">
                                    @Html.DropDownListFor(model => @motor.ApproveSendSms, ViewBag.ApproveSendSMSList as IEnumerable<SelectListItem>, new { @class = "form-control ddlApproveSendSMS" })
                                </td>
                                <td style="width:50px;">
                                    @Html.DropDownListFor(model => @motor.Uwapproval, ViewBag.UwPpprovalList as IEnumerable<SelectListItem>, "Select Approval", new { @class = "form-control ddlUWApproval" })
                                </td>
                                <td style="width:50px;">
                                    @Html.DropDownListFor(model => @motor.BranchAuthority, ViewBag.BranchAuthorityList as IEnumerable<SelectListItem>, "Select Authority", new { @class = "form-control ddlBranchAuthority" })
                                </td>
                                <td style="width:50px;">@String.Format("{0:n0}", @motor.AgreedSiamount)</td>
                                <td style="width:300px;">@motor.InvoiceNo</td>
                                <td style="width:100px;">@motor.PolicyNo</td>

                                <td style="width:100px;">@motor.PersonInCharge</td>
                                <td style="width:100px;">@motor.ResponsibleParty</td>
                                <td style="width:100px;">@motor.CusCode</td>
                                <td style="width:100px;">@motor.CustomerName</td>
                                <td style="width:300px;">@motor.RiskName</td>

                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @motor.ExpiryDate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @motor.FromDate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @motor.ToDate)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @motor.RenewalPremium)</td>
                                <td style="width:300px;">@motor.Manufacturer</td>

                                <td style="width:300px;">@motor.Car_Model</td>
                                <td style="width:300px;">@motor.Product</td>
                                <td style="width:300px;">@motor.Branch</td>
                                <td style="width:100px;">@motor.AccountCode</td>
                                <td style="width:300px;">@motor.IntermediaryType</td>

                                <td style="width:300px;">@motor.AgentCode</td>
                                <td style="width:300px;">@motor.AgentName</td>
                                <td style="width:300px;">@motor.AuthorizedCode</td>
                                <td style="width:300px;">@motor.AuthorizedName</td>
                                <td style="width:300px;">@motor.Class</td>

                                <td style="width:300px;">@motor.Currency</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @motor.SumInsured)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @motor.Sivalue20)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @motor.RenewedSivalue)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @motor.PreviousWindscreenValue)</td>

                                <td style="width:300px;">@String.Format("{0:n0}", @motor.RenewedWindscreenValue)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @motor.Outstanding_Amt)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @motor.Excess_Amt)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @motor.ApproveSendSmsdate)</td>
                                <td style="width:300px;">@motor.JointMember</td>

                                <td style="width:300px;">@motor.DominantHolder</td>
                                <td style="width:300px;">@motor.Financial_Interest</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @motor.BranchAuthorityDate)</td>

                                <td style="width:50px;display:none !important;">
                                    <input class="form-control hdfId" type="text" value="@motor.Id" readonly style="display:none !important;" />
                                </td>
                                <td style="width:50px;display:none !important;">
                                    <input class="form-control hdfPhno" type="text" value="@motor.PhoneNumber" readonly style="display:none !important;" />
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                }
                else if (Model.classname == "FI")
                {
                    <div>
                        <a href='@Url.Action("ExportFireRenewalRegisters", "SMS",null)'>
                            <img src="~/images/excel-file.png" style="float:right;margin-bottom:10px;margin-right:10px;" />
                        </a>
                    </div>
                    <div class="form-group row" style="margin-top: 10px;">
                        <label class="control-label col-md-2 " style="padding-top: 8px;">Checked Count: <span class="numberCircle">@Model.checkedcount</span></label>

                        <label class="control-label col-md-2 col-sm-2 " style="padding-top: 8px;">Approve Send SMS</label>
                        <div class="col-md-3 col-sm-3 ">
                            @*@Html.DropDownListFor(model => model.approvesendsms, ViewBag.ApproveSendSMSList as IEnumerable<SelectListItem>, "Select Send SMS", new { @class = "form-control ddlChkApproveSendSMS" })*@
                            <select class="form-control ddlChkApproveSendSMS" id="ddlChkApproveSendSMS" asp-items="@ViewBag.ApproveSendSMSList" placeholder="Select Send SMS">
                                <option>Select Send SMS</option>
                            </select>
                        </div>
                    </div>
                    <table id="tblOP" class="table table-striped table-bordered renewaltbl nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Note</th>
                                @*<th>Sync Invoice</th>*@
                                <th>Phone Number</th>
                                <th>Approve Send SMS</th>
                                <th>UW Approval</th>

                                <th>Branch Authority</th>
                                <th>Agreed SI Amount</th>
                                <th>Invoice No</th>
                                <th>Policy Number</th>
                                <th>PersonInCharge</th>

                                <th>Responsible Party</th>
                                <th>Customer Code</th>
                                <th>Customer Name</th>
                                <th>Risk Name</th>
                                <th>Expired Date</th>

                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Renewal Premium</th>
                                <th>Product</th>
                                <th>Branch</th>

                                <th>Account Code</th>
                                <th>Intermediary Type</th>
                                <th>Agent Code</th>
                                <th>Agent Name</th>
                                <th>Authorized Code</th>

                                <th>Authorized Name</th>
                                <th>Product Class</th>
                                <th>Currency</th>
                                <th>SumInsured</th>
                                <th>Detail Occupancy</th>

                                <th>Location Risk</th>
                                <th>Building Class</th>
                                <th>Loss Record</th>
                                <th>Coverage</th>
                                <th>Google Map/ Geo Coordinate</th>

                                <th>Number of ABC Type Extinguisher</th>
                                <th>Number of CO2 Type Extinguishers</th>
                                <th>Number of Other Extinguisher</th>
                                <th>Weight of Fire Extinguishers</th>
                                <th>No. of Fire Hose Reel</th>

                                <th>No. of Hydrant</th>
                                <th>Capacity of Fire Tank</th>
                                <th>Security Guards</th>
                                <th>Number of CCTV Camera</th>
                                <th>Sq M of the Building</th>

                                <th>Required No. of Extinguishers</th>
                                <th>Work in process if there is any</th>
                                <th>Send SMS Date</th>
                                <th>Joint Member</th>
                                <th>Dominant Share Holder</th>

                                <th>Number of Fire Tank</th>
                                <th>Type of Fire Tank</th>
                                <th>Outstanding Amount</th>
                                <th>Excess Amount</th>
                                <th>Financial Interest</th>

                                <th>Branch Authority Date</th>
                                <th style="display:none;"></th>
                                <th style="display:none;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var fire in (List<FireRenewalRegister>)ViewBag.lstFireRenewalRegisters)
                            {
                            <tr>
                                @if (fire.PhoneNumber != null && fire.InvoiceNo != null && fire.PersonInCharge != null)
                                {
                                    <td style="width:10px;"><input type="checkbox" id="smschk" value="@fire.Id" checked /></td>
                                }
                                else
                                {
                                    <td style="width:10px;"><input type="checkbox" id="smschk" value="@fire.Id" /></td>
                                }

                                @if (fire.RemarkId == null)
                                {
                                    <td style="width:50px;">
                                        <a class="lnkRemark1" href="#">
                                            <span class="fa fa-sticky-note-o ayascolor"></span>
                                        </a>
                                    </td>
                                }
                                @if (fire.RemarkId == true)
                                {
                                    @if (fire.RemarkFlag == true)
                                    {
                                        <td style="width:50px;">
                                            <a class="lnkRemark1" href="#">
                                                <span class="fa fa-sticky-note remarkdonecolor"></span>
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="width:50px;">
                                            <a class="lnkRemark1" href="#">
                                                <span class="fa fa-sticky-note ayascolor"></span>
                                            </a>
                                        </td>
                                    }
                                }
                                <td style="width:50px;">
                                    <input class="form-control txtphonenumber" type="text" id="phonenumber" asp-for="@fire.PhoneNumber" onkeydown="keyupFunction()" />
                                </td>
                                <td style="width:50px;">
                                    @Html.DropDownListFor(model => @fire.ApproveSendSms, ViewBag.ApproveSendSMSList as IEnumerable<SelectListItem>, new { @class = "form-control ddlApproveSendSMS" })
                                </td>
                                <td style="width:50px;">
                                    @Html.DropDownListFor(model => @fire.Uwapproval, ViewBag.UwPpprovalList as IEnumerable<SelectListItem>, "Select Approval", new { @class = "form-control ddlUWApproval" })
                                </td>
                                <td style="width:50px;">
                                    @Html.DropDownListFor(model => fire.BranchAuthority, ViewBag.BranchAuthorityList as IEnumerable<SelectListItem>, "Select Authority", new { @class = "form-control ddlBranchAuthority" })
                                </td>
                                <td style="width:50px;">@String.Format("{0:n0}", @fire.AgreedSiamount)</td>
                                <td style="width:300px;">@fire.InvoiceNo</td>
                                <td style="width:100px;">@fire.PolicyNo</td>

                                <td style="width:100px;">@fire.PersonInCharge</td>
                                <td style="width:100px;">@fire.ResponsibleParty</td>
                                <td style="width:100px;">@fire.CusCode</td>
                                <td style="width:100px;">@fire.CustomerName</td>
                                <td style="width:300px;">@fire.RiskName</td>

                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @fire.ExpiryDate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @fire.FromDate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @fire.ToDate)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @fire.RenewalPremium)</td>
                                <td style="width:300px;">@fire.Product</td>

                                <td style="width:300px;">@fire.Branch</td>
                                <td style="width:100px;">@fire.AccountCode</td>
                                <td style="width:300px;">@fire.IntermediaryType</td>
                                <td style="width:300px;">@fire.AgentCode</td>
                                <td style="width:300px;">@fire.AgentName</td>

                                <td style="width:300px;">@fire.AuthorizedCode</td>
                                <td style="width:300px;">@fire.AuthorizedName</td>
                                <td style="width:300px;">@fire.Class</td>
                                <td style="width:300px;">@fire.Currency</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @fire.SumInsured)</td>

                                <td style="width:300px;">@String.Format("{0:n0}", @fire.DetailOccupancy)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @fire.LocationRisk)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @fire.BuildingClass)</td>
                                <td style="width:300px;">@fire.LossRecord</td>
                                <td style="width:300px;">@fire.Coverage</td>

                                <td style="width:300px;">@fire.GoogleMap</td>
                                <td style="width:100px;">@fire.AbctypeExtinguisher</td>
                                <td style="width:300px;">@fire.Co2typeExtinguishers</td>
                                <td style="width:300px;">@fire.OtherExtinguisher</td>
                                <td style="width:300px;">@fire.FireExtinguishersWeight</td>

                                <td style="width:300px;">@fire.NumberofFireHoseReel</td>
                                <td style="width:100px;">@fire.NumberofHydrant</td>
                                <td style="width:300px;">@fire.CapacityofFireTank</td>
                                <td style="width:300px;">@fire.SecurityGuards</td>
                                <td style="width:300px;">@fire.NumberofCctvcamera</td>

                                <td style="width:300px;">@fire.SqMeterofBuilding</td>
                                <td style="width:100px;">@fire.RequiredExtinguishers</td>
                                <td style="width:300px;">@fire.WorkinProcess</td>

                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @fire.ApproveSendSmsdate)</td>
                                <td style="width:300px;">@fire.JointMember</td>
                                <td style="width:300px;">@fire.DominantHolder</td>
                                <td style="width:100px;">@fire.NumberofFireTank</td>
                                <td style="width:100px;">@fire.TypeofFireTank</td>

                                <td style="width:300px;">@String.Format("{0:n0}", @fire.Outstanding_Amt)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @fire.Excess_Amt)</td>
                                <td style="width:300px;">@fire.Financial_Interest</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @fire.BranchAuthorityDate)</td>

                                <td style="width:50px;display:none !important;">
                                    <input class="form-control hdfId" type="text" value="@fire.Id" readonly style="display:none !important;" />
                                </td>
                                <td style="width:50px;display:none !important;">
                                    <input class="form-control hdfPhno" type="text" value="@fire.PhoneNumber" readonly style="display:none !important;" />
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                }
                else if (Model.classname == "LF")
                {
                    <div>
                        <a href='@Url.Action("ExportHealthRenewalRegisters", "SMS",null)'>
                            <img src="~/images/excel-file.png" style="float:right;margin-bottom:10px;margin-right:10px;" />
                        </a>
                    </div>
                    <div class="form-group row" style="margin-top: 10px;">
                        <label class="control-label col-md-2 " style="padding-top: 8px;">Checked Count: <span class="numberCircle">@Model.checkedcount</span></label>

                        <label class="control-label col-md-2 col-sm-2 " style="padding-top: 8px;">Approve Send SMS</label>
                        <div class="col-md-3 col-sm-3 ">
                            @*@Html.DropDownListFor(model => model.approvesendsms, ViewBag.ApproveSendSMSList as IEnumerable<SelectListItem>, "Select Send SMS", new { @class = "form-control ddlChkApproveSendSMS" })*@
                            <select class="form-control ddlChkApproveSendSMS" id="ddlChkApproveSendSMS" asp-items="@ViewBag.ApproveSendSMSList" placeholder="Select Send SMS">
                                <option>Select Send SMS</option>
                            </select>
                        </div>
                    </div>
                    <table id="tblOP" class="table table-striped table-bordered renewaltbl nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Note</th>
                                @*<th>Sync Invoice</th>*@
                                <th>Phone Number</th>
                                <th>Approve Send SMS</th>
                                <th>UW Approval</th>

                                <th>Branch Authority</th>
                                <th>Agreed SI Amount</th>
                                <th>Invoice No</th>
                                <th>Policy Number</th>
                                <th>PersonInCharge</th>

                                <th>Responsible Party</th>
                                <th>Customer Code</th>
                                <th>Customer Name</th>
                                <th>Risk Name</th>
                                <th>Expired Date</th>

                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Renewal Premium</th>
                                <th>Product</th>
                                <th>Branch</th>

                                <th>Account Code</th>
                                <th>Intermediary Type</th>
                                <th>Agent Code</th>
                                <th>Agent Name</th>
                                <th>Authorized Code</th>

                                <th>Authorized Name</th>
                                <th>Product Class</th>
                                <th>Installment Plan</th>
                                <th>Basic Coverage</th>
                                <th>Optional Coverage (1)</th>

                                <th>Optional Coverage (2)</th>
                                <th>NCB/Claim Loading</th>
                                <th>Outstanding Amount</th>
                                <th>Excess Amount</th>
                                <th>Financial Interest</th>

                                <th>Send SMS Date</th>
                                <th>Branch Authority Date</th>
                                <th style="display:none;"></th>
                                <th style="display:none;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var health in (List<HealthRenewalRegister>)ViewBag.lstHealthRenewalRegisters)
                            {
                            <tr>
                                @if (health.PhoneNumber != null && health.InvoiceNo != null && health.PersonInCharge != null)
                                {
                                    <td style="width:10px;"><input type="checkbox" id="smschk" value="@health.Id" checked /></td>
                                }
                                else
                                {
                                    <td style="width:10px;"><input type="checkbox" id="smschk" value="@health.Id" /></td>
                                }
                                @if (health.RemarkId == null)
                                {
                                    <td style="width:50px;">
                                        <a class="lnkRemark1" href="#">
                                            <span class="fa fa-sticky-note-o ayascolor"></span>
                                        </a>
                                    </td>
                                }
                                @if (health.RemarkId == true)
                                {
                                    @if (health.RemarkFlag == true)
                                    {
                                        <td style="width:50px;">
                                            <a class="lnkRemark1" href="#">
                                                <span class="fa fa-sticky-note remarkdonecolor"></span>
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="width:50px;">
                                            <a class="lnkRemark1" href="#">
                                                <span class="fa fa-sticky-note ayascolor"></span>
                                            </a>
                                        </td>
                                    }
                                }
                                <td style="width:150px;">
                                    <input class="form-control txtphonenumber" type="text" id="phonenumber" asp-for="@health.PhoneNumber" onkeydown="keyupFunction()" style="width:150px !important;" />
                                </td>
                                <td style="width:50px;">
                                    @Html.DropDownListFor(model => @health.ApproveSendSms, ViewBag.ApproveSendSMSList as IEnumerable<SelectListItem>, new { @class = "form-control ddlApproveSendSMS" })
                                </td>
                                <td style="width:50px;">
                                    @Html.DropDownListFor(model => @health.Uwapproval, ViewBag.UwPpprovalList as IEnumerable<SelectListItem>, "Select Approval", new { @class = "form-control ddlUWApproval" })
                                </td>
                                <td style="width:50px;">
                                    @Html.DropDownListFor(model => @health.BranchAuthority, ViewBag.BranchAuthorityList as IEnumerable<SelectListItem>, "Select Authority", new { @class = "form-control ddlBranchAuthority" })
                                </td>
                                <td style="width:50px;">@String.Format("{0:n0}", health.AgreedSiamount)</td>
                                <td style="width:300px;">@health.InvoiceNo</td>
                                <td style="width:100px;">@health.PolicyNo</td>

                                <td style="width:100px;">@health.PersonInCharge</td>
                                <td style="width:100px;">@health.ResponsibleParty</td>
                                <td style="width:100px;">@health.CusCode</td>
                                <td style="width:100px;">@health.CustomerName</td>
                                <td style="width:300px;">@health.RiskName</td>

                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @health.ExpiryDate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", health.FromDate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", health.ToDate)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", health.RenewalPremium)</td>
                                <td style="width:300px;">@health.Product</td>

                                <td style="width:300px;">@health.Branch</td>
                                <td style="width:100px;">@health.AccountCode</td>
                                <td style="width:300px;">@health.IntermediaryType</td>
                                <td style="width:300px;">@health.AgentCode</td>
                                <td style="width:300px;">@health.AgentName</td>

                                <td style="width:300px;">@health.AuthorizedCode</td>
                                <td style="width:300px;">@health.AuthorizedName</td>
                                <td style="width:300px;">@health.Class</td>
                                <td style="width:300px;">@health.InstallmentPlan</td>
                                <td style="width:300px;">@health.BasicCoverage</td>

                                <td style="width:300px;">@health.OptionalCoverage1</td>
                                <td style="width:300px;">@health.OptionalCoverage2</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @health.NcbclaimLoading)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @health.Outstanding_Amt)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @health.Excess_Amt)</td>

                                <td style="width:300px;">@health.Financial_Interest</td>

                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @health.ApproveSendSmsdate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @health.BranchAuthorityDate)</td>

                                <td style="width:50px;display:none !important;">
                                    <input class="form-control hdfId" type="text" value="@health.Id" readonly style="display:none !important;" />
                                </td>
                                <td style="width:50px;display:none !important;">
                                    <input class="form-control hdfPhno" type="text" value="@health.PhoneNumber" readonly style="display:none !important;" />
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                }
                else if (Model.classname == "MS")
                {
                    <div>
                        <a href='@Url.Action("ExportPARenewalRegisters", "SMS",null)'>
                            <img src="~/images/excel-file.png" style="float:right;margin-bottom:10px;margin-right:10px;" />
                        </a>
                    </div>
                    <div class="form-group row" style="margin-top: 10px;">
                        <label class="control-label col-md-2 " style="padding-top: 8px;">Checked Count: <span class="numberCircle">@Model.checkedcount</span></label>

                        <label class="control-label col-md-2 col-sm-2 " style="padding-top: 8px;">Approve Send SMS</label>
                        <div class="col-md-3 col-sm-3 ">
                            <select class="form-control ddlChkApproveSendSMS" id="ddlChkApproveSendSMS" asp-items="@ViewBag.ApproveSendSMSList" placeholder="Select Send SMS">
                                <option>Select Send SMS</option>
                            </select>
                        </div>
                    </div>
                    <table id="tblOP" class="table table-striped table-bordered renewaltbl nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Note</th>
                                @*<th>Sync Invoice</th>*@
                                <th>Phone Number</th>
                                <th>Approve Send SMS</th>
                                <th>UW Approval</th>

                                <th>Branch Authority</th>
                                <th>Agreed SI Amount</th>
                                <th>Invoice No</th>
                                <th>Policy Number</th>
                                <th>PersonInCharge</th>

                                <th>Responsible Party</th>
                                <th>Customer Code</th>
                                <th>Customer Name</th>
                                <th>Risk Name</th>
                                <th>Expired Date</th>

                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Renewal Premium</th>
                                <th>Product</th>
                                <th>Branch</th>

                                <th>Account Code</th>
                                <th>Intermediary Type</th>
                                <th>Agent Code</th>
                                <th>Agent Name</th>
                                <th>Authorized Code</th>

                                <th>Authorized Name</th>
                                <th>Product Class</th>
                                <th>Installment Plan</th>
                                <th>Basic Coverage</th>
                                <th>Optional Coverage (1)</th>

                                <th>Optional Coverage (2)</th>
                                <th>NCB/Claim Loading</th>
                                <th>Outstanding Amount</th>
                                <th>Excess Amount</th>
                                <th>Financial Interest</th>

                                <th>Send SMS Date</th>
                                <th>Branch Authority Date</th>
                                <th style="display:none;"></th>
                                <th style="display:none;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var pa in (List<ParenewalRegister>)ViewBag.lstPARenewalRegisters)
                            {
                            <tr>
                                @if (pa.PhoneNumber != null && pa.InvoiceNo != null && pa.PersonInCharge != null)
                                {
                                    <td style="width:10px;"><input type="checkbox" id="smschk" value="@pa.Id" checked /></td>
                                }
                                else
                                {
                                    <td style="width:10px;"><input type="checkbox" id="smschk" value="@pa.Id" /></td>
                                }
                                @if (pa.RemarkId == null)
                                {
                                    <td style="width:50px;">
                                        <a class="lnkRemark1" href="#">
                                            <span class="fa fa-sticky-note-o ayascolor"></span>
                                        </a>
                                    </td>
                                }
                                @if (pa.RemarkId == true)
                                {
                                    @if (pa.RemarkFlag == true)
                                    {
                                        <td style="width:50px;">
                                            <a class="lnkRemark1" href="#">
                                                <span class="fa fa-sticky-note remarkdonecolor"></span>
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="width:50px;">
                                            <a class="lnkRemark1" href="#">
                                                <span class="fa fa-sticky-note ayascolor"></span>
                                            </a>
                                        </td>
                                    }
                                }
                                <td style="width:150px;">
                                    <input class="form-control txtphonenumber" type="text" id="phonenumber" asp-for="@pa.PhoneNumber" onkeydown="keyupFunction()" style="width:150px !important;" />
                                </td>
                                <td style="width:50px;">
                                    @Html.DropDownListFor(model => @pa.ApproveSendSms, ViewBag.ApproveSendSMSList as IEnumerable<SelectListItem>, new { @class = "form-control ddlApproveSendSMS" })
                                </td>
                                <td style="width:50px;">
                                    @Html.DropDownListFor(model => @pa.Uwapproval, ViewBag.UwPpprovalList as IEnumerable<SelectListItem>, "Select Approval", new { @class = "form-control ddlUWApproval" })
                                </td>
                                <td style="width:50px;">
                                    @Html.DropDownListFor(model => @pa.BranchAuthority, ViewBag.BranchAuthorityList as IEnumerable<SelectListItem>, "Select Authority", new { @class = "form-control ddlBranchAuthority" })
                                </td>
                                <td style="width:50px;">@String.Format("{0:n0}", @pa.AgreedSiamount)</td>
                                <td style="width:300px;">@pa.InvoiceNo</td>
                                <td style="width:100px;">@pa.PolicyNo</td>

                                <td style="width:100px;">@pa.PersonInCharge</td>
                                <td style="width:100px;">@pa.ResponsibleParty</td>
                                <td style="width:100px;">@pa.CusCode</td>
                                <td style="width:100px;">@pa.CustomerName</td>
                                <td style="width:300px;">@pa.RiskName</td>

                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @pa.ExpiryDate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @pa.FromDate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @pa.ToDate)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @pa.RenewalPremium)</td>
                                <td style="width:300px;">@pa.Product</td>

                                <td style="width:300px;">@pa.Branch</td>
                                <td style="width:100px;">@pa.AccountCode</td>
                                <td style="width:300px;">@pa.IntermediaryType</td>
                                <td style="width:300px;">@pa.AgentCode</td>
                                <td style="width:300px;">@pa.AgentName</td>

                                <td style="width:300px;">@pa.AuthorizedCode</td>
                                <td style="width:300px;">@pa.AuthorizedName</td>
                                <td style="width:300px;">@pa.Class</td>
                                <td style="width:300px;">@pa.InstallmentPlan</td>
                                <td style="width:300px;">@pa.BasicCoverage</td>

                                <td style="width:300px;">@pa.OptionalCoverage1</td>
                                <td style="width:300px;">@pa.OptionalCoverage2</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @pa.NcbclaimLoading)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @pa.Outstanding_Amt)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @pa.Excess_Amt)</td>

                                <td style="width:300px;">@pa.Financial_Interest</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @pa.ApproveSendSmsdate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @pa.BranchAuthorityDate)</td>

                                <td style="width:50px;display:none !important;">
                                    <input class="form-control hdfId" type="text" value="@pa.Id" readonly style="display:none !important;" />
                                </td>
                                <td style="width:50px;display:none !important;">
                                    <input class="form-control hdfPhno" type="text" value="@pa.PhoneNumber" readonly style="display:none !important;" />
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                }
                else if (Model.classname == "ENGG")
                {
                    <div>
                        <a href='@Url.Action("ExportENGGRenewalRegisters", "SMS",null)'>
                            <img src="~/images/excel-file.png" style="float:right;margin-bottom:10px;margin-right:10px;" />
                        </a>
                    </div>
                    <div class="form-group row" style="margin-top: 10px;">
                        <label class="control-label col-md-2 " style="padding-top: 8px;">Checked Count: <span class="numberCircle">@Model.checkedcount</span></label>

                        <label class="control-label col-md-2 col-sm-2 " style="padding-top: 8px;">Approve Send SMS</label>
                        <div class="col-md-3 col-sm-3 ">
                            @*@Html.DropDownListFor(model => model.approvesendsms, ViewBag.ApproveSendSMSList as IEnumerable<SelectListItem>, "Select Send SMS", new { @class = "form-control ddlChkApproveSendSMS" })*@
                            <select class="form-control ddlChkApproveSendSMS" id="ddlChkApproveSendSMS" asp-items="@ViewBag.ApproveSendSMSList" placeholder="Select Send SMS">
                                <option>Select Send SMS</option>
                            </select>
                        </div>
                    </div>
                    <table id="tblOP" class="table table-striped table-bordered renewaltbl nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Note</th>
                                @*<th>Sync Invoice</th>*@
                                <th>Phone Number</th>
                                <th>Approve Send SMS</th>
                                <th>UW Approval</th>

                                <th>Branch Authority</th>
                                <th>DMS Upload</th>
                                <th>Done/Pending</th>
                                <th>Agreed SI Amount</th>
                                <th>Invoice No</th>

                                <th>Policy Number</th>
                                <th>PersonInCharge</th>
                                <th>Responsible Party</th>
                                <th>Customer Code</th>
                                <th>Customer Name</th>

                                <th>Risk Name</th>
                                <th>Expired Date</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Renewal Premium</th>

                                <th>Product</th>
                                <th>Branch</th>
                                <th>Account Code</th>
                                <th>Intermediary Type</th>
                                <th>Agent Code</th>

                                <th>Agent Name</th>
                                <th>Authorized Code</th>
                                <th>Authorized Name</th>
                                <th>Product Class</th>
                                <th>Currency</th>

                                <th>SumInsured</th>
                                <th>Detail Occupancy</th>
                                <th>Location Risk</th>
                                <th>Building Class</th>
                                <th>Loss Record</th>

                                <th>Coverage</th>
                                <th>Google Map/ Geo Coordinate</th>
                                <th>Number of ABC Type Extinguisher</th>
                                <th>Number of CO2 Type Extinguishers</th>
                                <th>Number of Other Extinguisher</th>

                                <th>Weight of Fire Extinguishers</th>
                                <th>No. of Fire Hose Reel</th>
                                <th>No. of Hydrant</th>
                                <th>No. of Fire Tank</th>
                                <th>Type of Fire Tank</th>

                                <th>Capacity of Fire Tank</th>
                                <th>Security Guards</th>
                                <th>Number of CCTV Camera</th>
                                <th>Sq M of the Building</th>
                                <th>Required No. of Extinguishers</th>

                                <th>Work in process if there is any</th>
                                <th>Outstanding Amount</th>
                                <th>Excess Amount</th>
                                <th>Financial Interest</th>
                                <th>Send SMS Date</th>

                                <th>Branch Authority Date</th>

                                <th style="display:none;"></th>
                                <th style="display:none;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var engg in (List<EngineeringRenewalRegister>)ViewBag.lstENGGRenewalRegisters)
                            {
                            <tr>
                                @if (engg.PhoneNumber != null && engg.InvoiceNo != null && engg.PersonInCharge != null)
                                {
                                    <td style="width:10px;"><input type="checkbox" id="smschk" value="@engg.Id" checked /></td>
                                }
                                else
                                {
                                    <td style="width:10px;"><input type="checkbox" id="smschk" value="@engg.Id" /></td>
                                }

                                @if (engg.RemarkId == null)
                                {
                                    <td style="width:50px;">
                                        <a class="lnkRemark2" href="#">
                                            <span class="fa fa-sticky-note-o ayascolor"></span>
                                        </a>
                                    </td>
                                }
                                @if (engg.RemarkId == true)
                                {
                                    @if (engg.RemarkFlag == true)
                                    {
                                        <td style="width:50px;">
                                            <a class="lnkRemark2" href="#">
                                                <span class="fa fa-sticky-note remarkdonecolor"></span>
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="width:50px;">
                                            <a class="lnkRemark2" href="#">
                                                <span class="fa fa-sticky-note ayascolor"></span>
                                            </a>
                                        </td>
                                    }
                                }
                                <td style="width:50px;">
                                    <input class="form-control txtphonenumber" type="text" id="phonenumber" asp-for="@engg.PhoneNumber" onkeydown="keyupFunction()" />
                                </td>
                                <td style="width:50px;">
                                    @Html.DropDownListFor(model => @engg.ApproveSendSms, ViewBag.ApproveSendSMSList as IEnumerable<SelectListItem>, new { @class = "form-control ddlApproveSendSMS" })
                                </td>
                                <td style="width:50px;">
                                    @Html.DropDownListFor(model => @engg.Uwapproval, ViewBag.UwPpprovalList as IEnumerable<SelectListItem>, "Select Approval", new { @class = "form-control ddlUWApproval" })
                                </td>
                                <td style="width:50px;">
                                    @Html.DropDownListFor(model => @engg.BranchAuthority, ViewBag.BranchAuthorityList as IEnumerable<SelectListItem>, "Select Authority", new { @class = "form-control ddlBranchAuthority" })
                                </td>
                                <td style="width:50px;">
                                    @Html.DropDownListFor(model => @engg.Dmsupload, ViewBag.DMSUpload as IEnumerable<SelectListItem>, "", new { @class = "form-control ddlDMSUpload" })
                                </td>
                                <td style="width:50px;">
                                    @Html.DropDownListFor(model => @engg.DonePending, ViewBag.DonePending as IEnumerable<SelectListItem>, "", new { @class = "form-control ddlDonePending" })
                                </td>
                                <td style="width:300px;">@String.Format("{0:n0}", @engg.AgreedSiamount)</td>
                                <td style="width:300px;">@engg.InvoiceNo</td>
                                <td style="width:100px;">@engg.PolicyNo</td>

                                <td style="width:100px;">@engg.PersonInCharge</td>
                                <td style="width:100px;">@engg.ResponsibleParty</td>
                                <td style="width:100px;">@engg.CusCode</td>
                                <td style="width:100px;">@engg.CustomerName</td>
                                <td style="width:300px;">@engg.RiskName</td>

                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @engg.ExpiryDate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @engg.FromDate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @engg.ToDate)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @engg.RenewalPremium)</td>
                                <td style="width:300px;">@engg.Product</td>

                                <td style="width:300px;">@engg.Branch</td>
                                <td style="width:100px;">@engg.AccountCode</td>
                                <td style="width:300px;">@engg.IntermediaryType</td>
                                <td style="width:300px;">@engg.AgentCode</td>
                                <td style="width:300px;">@engg.AgentName</td>

                                <td style="width:300px;">@engg.AuthorizedCode</td>
                                <td style="width:300px;">@engg.AuthorizedName</td>
                                <td style="width:300px;">@engg.Class</td>
                                <td style="width:300px;">@engg.Currency</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @engg.SumInsured)</td>

                                <td style="width:300px;">@String.Format("{0:n0}", @engg.DetailOccupancy)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @engg.LocationRisk)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @engg.BuildingClass)</td>
                                <td style="width:300px;">@engg.LossRecord</td>
                                <td style="width:300px;">@engg.Coverage</td>

                                <td style="width:300px;">@engg.GoogleMap</td>
                                <td style="width:100px;">@engg.AbctypeExtinguisher</td>
                                <td style="width:300px;">@engg.Co2typeExtinguishers</td>
                                <td style="width:300px;">@engg.OtherExtinguisher</td>
                                <td style="width:300px;">@engg.FireExtinguishersWeight</td>

                                <td style="width:300px;">@engg.NumberofFireHoseReel</td>
                                <td style="width:100px;">@engg.NumberofHydrant</td>
                                <td style="width:100px;">@engg.NumberofFireTank</td>
                                <td style="width:100px;">@engg.TypeofFireTank</td>
                                <td style="width:300px;">@engg.CapacityofFireTank</td>

                                <td style="width:300px;">@engg.SecurityGuards</td>
                                <td style="width:300px;">@engg.NumberofCctvcamera</td>
                                <td style="width:300px;">@engg.SqMeterofBuilding</td>
                                <td style="width:100px;">@engg.RequiredExtinguishers</td>
                                <td style="width:300px;">@engg.WorkinProcess</td>

                                <td style="width:300px;">@String.Format("{0:n0}", @engg.Outstanding_Amt)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @engg.Excess_Amt)</td>
                                <td style="width:300px;">@engg.Financial_Interest</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @engg.ApproveSendSmsdate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @engg.BranchAuthorityDate)</td>

                                <td style="width:50px;display:none !important;">
                                    <input class="form-control hdfId" type="text" value="@engg.Id" readonly style="display:none !important;" />
                                </td>
                                <td style="width:50px;display:none !important;">
                                    <input class="form-control hdfPhno" type="text" value="@engg.PhoneNumber" readonly style="display:none !important;" />
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                }
                else if (Model.classname == "PTY")
                {
                    <div>
                        <a href='@Url.Action("ExportPropertyRenewalRegisters", "SMS",null)'>
                            <img src="~/images/excel-file.png" style="float:right;margin-bottom:10px;margin-right:10px;" />
                        </a>
                    </div>
                    <div class="form-group row" style="margin-top: 10px;">
                        <label class="control-label col-md-2 " style="padding-top: 8px;">Checked Count: <span class="numberCircle">@Model.checkedcount</span></label>

                        <label class="control-label col-md-2 col-sm-2 " style="padding-top: 8px;">Approve Send SMS</label>
                        <div class="col-md-3 col-sm-3 ">
                            <select class="form-control ddlChkApproveSendSMS" id="ddlChkApproveSendSMS" asp-items="@ViewBag.ApproveSendSMSList" placeholder="Select Send SMS">
                                <option>Select Send SMS</option>
                            </select>
                        </div>
                    </div>
                    <table id="tblOP" class="table table-striped table-bordered renewaltbl nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Note</th>
                                @*<th>Sync Invoice</th>*@
                                <th>Phone Number</th>
                                <th>Approve Send SMS</th>
                                <th>UW Approval</th>

                                <th>Branch Authority</th>
                                <th>DMS Upload</th>
                                <th>Done/Pending</th>
                                <th>Agreed SI Amount</th>
                                <th>Invoice No</th>

                                <th>Policy Number</th>
                                <th>PersonInCharge</th>
                                <th>Responsible Party</th>
                                <th>Customer Code</th>
                                <th>Customer Name</th>

                                <th>Risk Name</th>
                                <th>Expired Date</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Renewal Premium</th>

                                <th>Product</th>
                                <th>Branch</th>
                                <th>Account Code</th>
                                <th>Intermediary Type</th>
                                <th>Agent Code</th>

                                <th>Agent Name</th>
                                <th>Authorized Code</th>
                                <th>Authorized Name</th>
                                <th>Product Class</th>
                                <th>Currency</th>

                                <th>SumInsured</th>
                                <th>Detail Occupancy</th>
                                <th>Location Risk</th>
                                <th>Building Class</th>
                                <th>Loss Record</th>

                                <th>Coverage</th>
                                <th>Google Map/ Geo Coordinate</th>
                                <th>Number of ABC Type Extinguisher</th>
                                <th>Number of CO2 Type Extinguishers</th>
                                <th>Number of Other Extinguisher</th>

                                <th>Weight of Fire Extinguishers</th>
                                <th>No. of Fire Hose Reel</th>
                                <th>No. of Hydrant</th>
                                <th>No. of Fire Tank</th>
                                <th>Type of Fire Tank</th>

                                <th>Capacity of Fire Tank</th>
                                <th>Security Guards</th>
                                <th>Number of CCTV Camera</th>
                                <th>Sq M of the Building</th>
                                <th>Required No. of Extinguishers</th>

                                <th>Work in process if there is any</th>
                                <th>Outstanding Amount</th>
                                <th>Excess Amount</th>
                                <th>Financial Interest</th>
                                <th>Send SMS Date</th>

                                <th>Branch Authority Date</th>

                                <th style="display:none;"></th>
                                <th style="display:none;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var property in (List<PropertyRenewalRegister>)ViewBag.lstPropertyRenewalRegisters)
                            {
                            <tr>
                                @if (property.PhoneNumber != null && property.InvoiceNo != null && property.PersonInCharge != null)
                                {
                                    <td style="width:10px;"><input type="checkbox" id="smschk" value="@property.Id" checked /></td>
                                }
                                else
                                {
                                    <td style="width:10px;"><input type="checkbox" id="smschk" value="@property.Id" /></td>
                                }

                                @if (property.RemarkId == null)
                                {
                                    <td style="width:50px;">
                                        <a class="lnkRemark2" href="#">
                                            <span class="fa fa-sticky-note-o ayascolor"></span>
                                        </a>
                                    </td>
                                }
                                @if (property.RemarkId == true)
                                {
                                    @if (property.RemarkFlag == true)
                                    {
                                        <td style="width:50px;">
                                            <a class="lnkRemark2" href="#">
                                                <span class="fa fa-sticky-note remarkdonecolor"></span>
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="width:50px;">
                                            <a class="lnkRemark2" href="#">
                                                <span class="fa fa-sticky-note ayascolor"></span>
                                            </a>
                                        </td>
                                    }
                                }
                                <td style="width:50px;">
                                    <input class="form-control txtphonenumber" type="text" id="phonenumber" asp-for="@property.PhoneNumber" onkeydown="keyupFunction()" />
                                </td>
                                <td style="width:50px;">
                                    @Html.DropDownListFor(model => @property.ApproveSendSms, ViewBag.ApproveSendSMSList as IEnumerable<SelectListItem>, new { @class = "form-control ddlApproveSendSMS" })
                                </td>
                                <td style="width:50px;">
                                    @Html.DropDownListFor(model => @property.Uwapproval, ViewBag.UwPpprovalList as IEnumerable<SelectListItem>, "Select Approval", new { @class = "form-control ddlUWApproval" })
                                </td>
                                <td style="width:50px;">
                                    @Html.DropDownListFor(model => @property.BranchAuthority, ViewBag.BranchAuthorityList as IEnumerable<SelectListItem>, "Select Authority", new { @class = "form-control ddlBranchAuthority" })
                                </td>
                                <td style="width:50px;">
                                    @Html.DropDownListFor(model => @property.Dmsupload, ViewBag.DMSUpload as IEnumerable<SelectListItem>, "", new { @class = "form-control ddlDMSUpload" })
                                </td>
                                <td style="width:50px;">
                                    @Html.DropDownListFor(model => @property.DonePending, ViewBag.DonePending as IEnumerable<SelectListItem>, "", new { @class = "form-control ddlDonePending" })
                                </td>
                                <td style="width:50px;">@String.Format("{0:n0}", @property.AgreedSiamount)</td>
                                <td style="width:300px;">@property.InvoiceNo</td>
                                <td style="width:100px;">@property.PolicyNo</td>

                                <td style="width:100px;">@property.PersonInCharge</td>
                                <td style="width:100px;">@property.ResponsibleParty</td>
                                <td style="width:100px;">@property.CusCode</td>
                                <td style="width:100px;">@property.CustomerName</td>
                                <td style="width:300px;">@property.RiskName</td>

                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @property.ExpiryDate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @property.FromDate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @property.ToDate)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @property.RenewalPremium)</td>
                                <td style="width:300px;">@property.Product</td>

                                <td style="width:300px;">@property.Branch</td>
                                <td style="width:100px;">@property.AccountCode</td>
                                <td style="width:300px;">@property.IntermediaryType</td>
                                <td style="width:300px;">@property.AgentCode</td>
                                <td style="width:300px;">@property.AgentName</td>

                                <td style="width:300px;">@property.AuthorizedCode</td>
                                <td style="width:300px;">@property.AuthorizedName</td>
                                <td style="width:300px;">@property.Class</td>
                                <td style="width:300px;">@property.Currency</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @property.SumInsured)</td>

                                <td style="width:300px;">@String.Format("{0:n0}", @property.DetailOccupancy)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @property.LocationRisk)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @property.BuildingClass)</td>
                                <td style="width:300px;">@property.LossRecord</td>
                                <td style="width:300px;">@property.Coverage</td>

                                <td style="width:300px;">@property.GoogleMap</td>
                                <td style="width:100px;">@property.AbctypeExtinguisher</td>
                                <td style="width:300px;">@property.Co2typeExtinguishers</td>
                                <td style="width:300px;">@property.OtherExtinguisher</td>
                                <td style="width:300px;">@property.FireExtinguishersWeight</td>

                                <td style="width:300px;">@property.NumberofFireHoseReel</td>
                                <td style="width:100px;">@property.NumberofHydrant</td>
                                <td style="width:100px;">@property.NumberofFireTank</td>
                                <td style="width:100px;">@property.TypeofFireTank</td>
                                <td style="width:300px;">@property.CapacityofFireTank</td>

                                <td style="width:300px;">@property.SecurityGuards</td>
                                <td style="width:300px;">@property.NumberofCctvcamera</td>
                                <td style="width:300px;">@property.SqMeterofBuilding</td>
                                <td style="width:100px;">@property.RequiredExtinguishers</td>
                                <td style="width:300px;">@property.WorkinProcess</td>

                                <td style="width:300px;">@String.Format("{0:n0}", @property.Outstanding_Amt)</td>
                                <td style="width:300px;">@String.Format("{0:n0}", @property.Excess_Amt)</td>
                                <td style="width:300px;">@property.Financial_Interest</td>

                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @property.ApproveSendSmsdate)</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @property.BranchAuthorityDate)</td>
                                <td style="width:50px;display:none !important;">
                                    <input class="form-control hdfId" type="text" value="@property.Id" readonly style="display:none !important;" />
                                </td>
                                <td style="width:50px;display:none !important;">
                                    <input class="form-control hdfPhno" type="text" value="@property.PhoneNumber" readonly style="display:none !important;" />
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                }

            </div>
        </div>
    </div>


</div>

<div id="mdlMsg" class="modal fade" role="dialog" data-backdrop="true">
    <div class="modal-dialog modal-lg" style="background-color: #DFF0D8">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Remark Session</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-label-left">
                    <input type="hidden" id="hdfRenewalRemarkId" />
                    <input type="hidden" id="hdfproduct_class" />
                    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 ">Policy No</label>
                        <div class="col-md-9 col-sm-9 ">
                            <input type="text" id="txtpolicyno" class="form-control" disabled/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 ">Remark</label>
                        <div class="col-md-9 col-sm-9 ">
                            <textarea class="resizable_textarea form-control" id="remark" placeholder="Please type the comment"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-9 col-sm-9  offset-md-3">
                            <button type="button" id="btnSaveRemark" class="btn btn-primary btnayas-style">
                                <i class="fa fa-send-o"></i>
                                Save Remark
                            </button>
                            <button type="button" class="btn btn-success" id="btnDoneRemark">
                                <i class="fa fa-flag"></i>
                                Done
                            </button>
                        </div>
                    </div>
                </form>

                <div class="clearfix"></div>
                <div class="ln_solid"></div>

                <div class="card-box table-responsive">
                    <table id="tblRemark" class="table table-striped table-bordered dt-responsive datatable-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Remark By</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>

<div id="mdlLoading" class="modal hide" role="dialog" data-backdrop="true" style="background:none !important;">
    <div class="modal-dialog modal-lg" style="background:none !important;">
        <!-- Modal content-->
        <div class="modal-body" style="min-height:400px;background-color:none !important;">
            <div class="container">
                <div class="row">
                    <div id="loader">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="lading"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

