
@{
    ViewData["Title"] = "RenewalCaseCreateWithoutSMS";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Create Renewal Case By OP</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <br />
                <div class="row">

                    @if (TempData["Message"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                $('#divMsg').show();
                            };
                        </script>
                    }

                    <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">
                            &times;
                        </a>

                        <i class="fa fa-info-circle" style="font-size:16px;"></i>
                        <strong>@TempData["Message"]</strong>
                    </div>

                </div>


                @using (Html.BeginForm("CreateCustomRenewalCase", "SMS", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                <div class="form-horizontal form-label-left">
                    <div class="col-md-6">
                        <div class="col-md-9 col-sm-9 ">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="chkSentSMS" value="true" name="chkSentSMS"> Sent SMS
                                </label>
                            </div>
                        </div>

                    </div>

                    <div class="clearfix"></div>
                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <div class="col-md-9 col-sm-9  offset-md-3">
                            <button type="submit" class="btn btn-default btnayas-style">
                                <i class="fa fa-upload"></i>
                                Create Case
                            </button>

                        </div>
                    </div>
                </div>

                    <div class="card-box table-responsive">
                        @if (ViewBag.lstTempRenewalCaseCreate != null)
                        {
                            <table id="tblOP" class="table table-striped table-bordered dt-responsive datatable-responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Phone Number</th>
                                        <th>Customer Name</th>
                                        <th>Invoice No</th>
                                        <th>Risk Name</th>
                                        <th>Expired Date</th>

                                        <th>Renewal Premium</th>
                                        <th>Product</th>
                                        <th>From Date</th>
                                        <th>To Date</th>
                                        <th>Link</th>

                                        <th>Customer Code</th>
                                        <th>Month</th>
                                        <th>PersonInCharge</th>
                                        <th>Responsiable Party</th>
                                        <th>Policy Number</th>

                                        <th>Branch</th>
                                        <th>Intermediary Type</th>
                                        <th>Agent Code</th>
                                        <th>Agent Name</th>
                                        <th>Account Code</th>

                                        <th>Authorized Code</th>
                                        <th>Authorized Name</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var motor in (List<TempRenewalCaseCreate>)ViewBag.lstTempRenewalCaseCreate)
                                    {
                                    <tr>
                                        <td style="width:100px;">@motor.PhoneNumber</td>
                                        <td style="width:100px;">@motor.CustomerName</td>
                                        <td style="width:100px;">@motor.InvoiceNo</td>
                                        <td style="width:100px;">@motor.RiskName</td>
                                        <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @motor.ExpiryDate)</td>

                                        <td style="width:100px;">@motor.RenewalPremium</td>
                                        <td style="width:300px;">@motor.Product</td>
                                        <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @motor.FromDate)</td>
                                        <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @motor.ToDate)</td>
                                        <td style="width:100px;">@motor.Link</td>

                                        <td style="width:300px;">@motor.CusCode</td>
                                        <td style="width:300px;">@motor.Month</td>
                                        <td style="width:300px;">@motor.PersonInCharge</td>
                                        <td style="width:300px;">@motor.ResponsibleParty</td>
                                        <td style="width:300px;">@motor.PolicyNo</td>

                                        <td style="width:100px;">@motor.Branch</td>
                                        <td style="width:300px;">@motor.IntermediaryType</td>
                                        <td style="width:300px;">@motor.AgentCode</td>
                                        <td style="width:300px;">@motor.AgentName</td>
                                        <td style="width:300px;">@motor.AccountCode</td>

                                        <td style="width:300px;">@motor.AuthorizedCode</td>
                                        <td style="width:100px;">@motor.AuthorizedName</td>
                                    </tr>
                                    }

                                </tbody>
                            </table>
                        }
                    </div>
                 }

                    </div>
                </div>
    </div>


</div>


