﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "RenewalCaseDashboard";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="">
            <div class="x_content">
                @if (HttpContextAccessor.HttpContext.Session.GetString("roleName") == "OP" || HttpContextAccessor.HttpContext.Session.GetString("roleName") == "Admin" || HttpContextAccessor.HttpContext.Session.GetString("roleName") == "CS") //SystemAdministrator
                {
                    <div class="row">

                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
                            <div class="tile-stats">
                                <div class="icon">

                                    <i class="fa fa-caret-square-o-right"></i>
                                </div>
                                <div class="count">179</div>

                                <h3>Data Sync</h3>
                                <p>Renewal Notice data sync via OP team</p>
                                <a href="#" class="form-control btn btn-info" style="margin-top:5px;"> Detail </a>
                            </div>
                        </div>
                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                            <div class="tile-stats">
                                <div class="icon">
                                    <i class="fa fa-caret-square-o-right"></i>
                                </div>
                                <div class="count">100</div>

                                <h3>Renewal Notice </h3>
                                <p>Monthly Renewal Notice</p>
                                <a href="#" class="form-control btn btn-info" style="margin-top:5px;"> Detail </a>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                        <div class="tile-stats">
                            <div class="icon">
                                <i class="fa fa-caret-square-o-right"></i>
                            </div>
                            <div class="count">100</div>

                            <h3>Renewal Notice </h3>
                            <p>Monthly Renewal Notice</p>
                            <a href="#" class="form-control btn btn-info" style="margin-top:5px;"> Detail </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

