﻿@model filterRenewalDataModel
@{
    ViewData["Title"] = "RenewalDataSync";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<script>
    
    $(function () {
        $(".monthpicker").datetimepicker({
            format: "MMM/YYYY"
        });
    });

</script>
<link href="~/css/loading.css" rel="stylesheet" />
<script src="~/js/smsjs.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Generate Monthly Renewal Notice</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <div class="row">

                    @if (TempData["Message"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                $('#divMsg').show();
                            };
                        </script>
                    }

                    <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">
                            &times;
                        </a>

                        <i class="fa fa-info-circle" style="font-size:16px;"></i>
                        <strong>@TempData["Message"]</strong>
                    </div>

                </div>


                @using (Html.BeginForm("RenewalDataSync", "SMS", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                <div class="form-horizontal form-label-left">
                    <div class="form-group row ">
                        <label class="control-label col-md-3 col-sm-3 ">Month</label>
                        <div class="col-md-9 col-sm-9 ">
                            @*<input type="date" class="date-picker form-control" asp-for="month" placeholder="Month">*@
                            <input class="form-control monthpicker" type="text" asp-for="month" id="month" placeholder="mmm/yyyy" required />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 ">Product</label>
                        <div class="col-md-9 col-sm-9 ">
                            @Html.DropDownListFor(model => model.classname, ViewBag.ProductClass as IEnumerable<SelectListItem>, "Select Product", new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9  offset-md-3">
                            <button type="button" class="btn btn-default btnayas-style" onclick="location.href='@Url.Action("RenewalDataSync", "SMS")'">
                                <i class="fa fa-refresh"></i>
                                Clear Form
                            </button>

                            <button type="submit" id="btnSync" class="btn btn-primary btnayas-style">
                                <i class="fa fa-retweet"></i>
                                Sync Data
                            </button>
                        </div>
                    </div>


                </div>
                }

            </div>

            <div class="card-box table-responsive">

                <section id="brand">

                    @if (TempData["SyncMessage"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                $('#divSyncMsg').show();
                            };
                        </script>
                    }


                    
                    <div class="alert alert-success" id="divSyncMsg" style="display:none;">
                        <h4><i class="fa fa-warning"></i> Save!</h4>
                        <strong style="font-size:16px;">@TempData["SyncMessage"]</strong>
                    </div>
                </section>
            </div>
        </div>
    </div>

</div>

<div id="mdlLoading" class="modal fade" role="dialog" data-backdrop="true" style="background:none !important;">
    <div class="modal-dialog modal-lg" style="background:none !important;">
        <!-- Modal content-->
        <div class="modal-body" style="min-height:400px;background-color:none !important;">
            <div class="container">
                <div class="row">
                    <div id="loader">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="lading"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>



