﻿@model filterRenewalFailCase
@{
    ViewData["Title"] = "RenewalFailCase";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<script>

    $(function () {
        $(".datepicker").datetimepicker({
            format: "DD/MMM/YYYY"
        });
    });

</script>
<link href="~/css/loading.css" rel="stylesheet" />
<script src="~/js/smsjs.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Renewal Fail Case</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <div class="row">

                    @if (TempData["Message"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                $('#divMsg').show();
                            };
                        </script>
                    }

                    <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">
                            &times;
                        </a>

                        <i class="fa fa-info-circle" style="font-size:16px;"></i>
                        <strong>@TempData["Message"]</strong>
                    </div>

                </div>

                @*<div class="row">

                    @if (TempData["Message"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                $('#divMsg').show();
                            };
                        </script>
                    }

                    <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">
                            &times;
                        </a>

                        <i class="fa fa-info-circle" style="font-size:16px;"></i>
                        <strong>@TempData["Message"]</strong>
                    </div>

                </div>*@


                @using (Html.BeginForm("GetRenewalFailCase", "SMS", FormMethod.Post, new { enctype = "multipart/form-data"}))
                {
                <div class="form-horizontal form-label-left">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4">From Created Date</label>
                                <div class="col-md-8 col-sm-8 ">
                                    <input class="form-control datepicker" type="text" asp-for="filterFromDate" id="fromdate" placeholder="From Date" required />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4">To Created Date</label>
                                <div class="col-md-8 col-sm-8 ">
                                    <input class="form-control datepicker" type="text" asp-for="filterToDate" id="todate" placeholder="To Date" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4">Product</label>
                                <div class="col-md-8 col-sm-8 ">
                                    @Html.DropDownListFor(model => model.classname, ViewBag.ProductClass as IEnumerable<SelectListItem>, "Select Product", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="clearfix"></div>
                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <div class="col-md-9 col-sm-9  offset-md-3">

                            <button type="submit" class="btn btn-primary btnayas-style">
                                <i class="fa fa-eye"></i>
                                Preview
                            </button>

                            <button type="button" id="btnReCreateFailCase" class="btn btn-default btnayas-style" onclick="location.href='@Url.Action("RecreateFailCase", "SMS")'">
                                <i class="fa fa-send"></i>
                                Recreate Fail Case
                            </button>

                        </div>
                    </div>
                </div>
                }

            </div>

            


            <div class="card-box table-responsive">
                <div>
                    <a href='@Url.Action("ExportRenewalFailCase", "SMS", null)'>
                        <img src="~/images/excel-file.png" style="float:right;margin-bottom:10px;margin-right:10px;" />
                    </a>
                </div>
                <table id="tblOP" class="table table-striped table-bordered dt-responsive datatable-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            @*<th>SMS ID</th>*@
                            <th>Phone Number</th>
                            <th>Customer Name</th>
                            <th>Invoice No</th>
                            <th>Risk Name</th>
                            <th>Expired Date</th>
                            <th>Renewal Premium</th>
                            <th>Product</th>
                            <th>From Date</th>
                            <th>To Date</th>
                            <th>Link</th>
                            <th>Customer Code</th>
                            <th>Month</th>
                            <th>PersonInCharge</th>
                            <th>Responsiable Party</th>
                            <th>Policy Number</th>
                            <th>Branch</th>
                            <th>Intermediary Type</th>
                            <th>Agent Code</th>
                            <th>Agent Name</th>
                            <th>Account Code</th>
                            <th>Authorized Code</th>
                            <th>Authorized Name</th>
                            <th style="display:none;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.lstSMSRenewalViewModels != null)
                        {
                            @foreach (var motor in (List<SMSRenewalViewModel>)ViewBag.lstSMSRenewalViewModels)
                            {
                                <tr>
                                    @*<td style="width:100px;">@motor.smsId</td>*@
                                    <td style="width:100px;">@motor.PhoneNumber</td>
                                    <td style="width:100px;">@motor.CustomerName</td>
                                    <td style="width:100px;">@motor.InvoiceNo</td>
                                    <td style="width:100px;">@motor.RiskName</td>
                                    <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @motor.ExpiryDate)</td>

                                    <td style="width:100px;">@motor.RenewalPremium</td>
                                    <td style="width:300px;">@motor.Class</td>
                                    <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @motor.FromDate)</td>
                                    <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @motor.ToDate)</td>
                                    <td style="width:300px;">@motor.Link</td>

                                    <td style="width:300px;">@motor.CusCode</td>
                                    <td style="width:300px;">@motor.Month</td>
                                    <td style="width:300px;">@motor.PersonInCharge</td>
                                    <td style="width:300px;">@motor.ResponsibleParty</td>
                                    <td style="width:300px;">@motor.PolicyNo</td>

                                    <td style="width:300px;">@motor.Branch</td>
                                    <td style="width:300px;">@motor.IntermediaryType</td>
                                    <td style="width:300px;">@motor.AgentCode</td>
                                    <td style="width:300px;">@motor.AgentName</td>
                                    <td style="width:300px;">@motor.AccountCode</td>

                                    <td style="width:300px;">@motor.AuthorizedCode</td>
                                    <td style="width:300px;">@motor.AuthorizedName</td>
                                    <td style="width:50px;display:none !important;">
                                        <input class="form-control hdfId" type="text" value="@motor.Id" readonly style="display:none !important;" />
                                    </td>
                                </tr>
                            }
                        }


                    </tbody>
                </table>


            </div>
        </div>
    </div>


</div>

<div id="mdlLoading" class="modal fade" role="dialog" data-backdrop="true" style="background:none !important;">
    <div class="modal-dialog modal-lg" style="background:none !important;">
        <!-- Modal content-->
        <div class="modal-body" style="min-height:400px;background-color:none !important;">
            <div class="container">
                <div class="row">
                    <div id="loader">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="lading"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


