﻿@model SentSms

@{
    ViewData["Title"] = "SendSMS";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

@*<script src="~/js/smsjs.js"></script>*@
<script src="~/js/sms_counter.js"></script>
<script>
    $(document).ready(function () {
        $("#Phone").keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            else
                return true;
        });

        var maxLength = 499;
        $('textarea').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;
            $('#chars').text(length);
        });

        $(function () {
            $('textarea').countSms('#sms-counter');
        });
    });
</script>
<style>
    .myStyle {
        background-color: coral;
        color: black;
    }
    .form-control{
        border-radius: 4px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Send SMS</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <br />
                <div class="row">

                    @if (TempData["Message"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                $('#divMsg').show();
                            };
                        </script>
                    }

                    <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">
                            &times;
                        </a>

                        <i class="fa fa-info-circle" style="font-size:16px;"></i>
                        <strong>@TempData["Message"]</strong>
                    </div>

                </div>


                @using (Html.BeginForm("", "SMS", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group col-md-12">
                        <div class="col-md-6">
                            <label class="col-md-5">Receiver's Name<span style="color:red;">*</span> :</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="UserName" id="txtUserName" asp-for="UserName" required />

                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-5">Phone No<span style="color:red;">*</span> :</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="PhoneNumber" id="Phone" asp-for="PhoneNumber" required />
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="col-md-6">
                            <label class="col-md-5">Template<span style="color:red;">*</span> :</label>
                            <div class="col-md-9">
                                @Html.DropDownListFor(model => model.CategoryId, ViewBag.CategoryList as IEnumerable<SelectListItem>, "Select Category", new { @class = "form-control", @id = "ddlCategory", @required = "required" })

                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-5">Cus Code</label>
                            <div id="divCusCodeMsg" style="display:none;">
                                <strong style="color:red;">* Please fill Cus Code!</strong>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="CusCode" id="txtCusCode" asp-for="CusCode" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-top:10px;">
                        <div class="col-md-12">
                            <label class="col-md-5">Message<span style="color:red;">*</span> :</label>
                            <div class="col-md-8">
                                <textarea class="form-control" name="Message" rows="5" required id="txtMsgTemplate" asp-for="Message"></textarea>
                                <span id="chars">499</span> characters remaining at 499 characters
                            </div>
                            <div class="col-md-4">
                                <ul id="sms-counter">
                                    <li>
                                        SMS Counts: <span class="messages"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-md-12" style="margin-top:30px;">
                            <label class="col-md-5">
                                <span style="color:red;">Note</span>: The message must be less than or equal to 499 characters.
                            </label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-sm-9  offset-md-4">
                                <button type="submit" class="btn btn-primary btnayas-style">
                                    <i class="fa fa-send"></i>
                                    Send
                                </button>
                                <button type="reset" class="btn btn-default btnayas-style" onclick="location.href='@Url.Action("SendSMS", "SMS")'">
                                    <i class="fa fa-refresh"></i>
                                    Clear Form
                                </button>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $('#ddlCategory').change(function () {
        var dCategory = $('#ddlCategory').val();

        if (dCategory !== null && dCategory !== '') {
            debugger;
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/SMS/GetSMSByCategoryId",
                data: { CategoryId: dCategory },
                dataType: "Json",
                success: function (data) {
                    if (data != null) {
                        $('#txtMsgTemplate').val(data.msgTemplate);
                        if (data.status == true) {
                            $('#divCusCodeMsg').show();
                        }
                        else {
                            $('#divCusCodeMsg').hide();
                        }
                    }
                },
                error: function ajaxError(response) {
                    alert("Error");
                }
            });
        }
        else {
            $('#txtMsgTemplate').val('');
        }
    });
</script>

