﻿@model SentSms

@{
    ViewData["Title"] = "SendBulkSms";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<script src="~/js/sms_counter.js"></script>
<script>
    $(document).ready(function () {
        var maxLength = 499;
        $('textarea').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;
            $('#chars').text(length);
        });

        $(function () {
            $('textarea').countSms('#sms-counter');
        });
    });
</script>
<style>
    .myStyle {
        background-color: coral;
        color: black;
    }

    .form-control {
        border-radius: 4px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Send BulkSms</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="row">

                    @if (TempData["Message"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                $('#divMsg').show();
                            };
                        </script>
                    }

                    <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">
                            &times;
                        </a>

                        <i class="fa fa-info-circle" style="font-size:16px;"></i>
                        <strong>@TempData["Message"]</strong>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-default btnayas-style" onclick="location.href='@Url.Action("Export", "SMS")'" style="font-size: 13px !important;">
                            <i class="fa fa-download" style="color:#fff;"></i>
                            Download Excel Format
                        </button>
                        <br /><br />
                    </div>
                </div>


                @using (Html.BeginForm("UploadExcelBulkSMS", "SMS", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-horizontal form-label-left">
                        <div class="col-md-10">
                            <div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4">Please Upload "Phone Number" List<span style="color: #CE123C">*</span></label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="file" id="reportfile" name="files" class="form-control" required />
                                </div>
                            </div>

                        </div>
                        <div class="col-md-10">
                            <div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4"> Template<span style="color: #CE123C">*</span></label>
                                <div class="col-md-6 col-sm-6 ">
                                    @Html.DropDownListFor(model => model.CategoryId, ViewBag.CategoryList as IEnumerable<SelectListItem>, "Select Category", new { @class = "form-control", @id = "ddlCategory", @required = "required" })
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <label class="col-md-5">Message<span style="color:red;">*</span> :</label>
                            <div class="col-md-9">
                                <textarea class="form-control" name="Message" rows="7" required id="txtMsgTemplate" asp-for="Message"></textarea>
                                <span id="chars">499</span> characters remaining at 499 characters
                            </div>
                            <div class="col-md-3">
                                <ul id="sms-counter">
                                    <li>
                                        SMS Counts: <span class="messages"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-top:10px;">
                            <label class="col-md-12">
                                <span style="color:red;">Note</span>: The message must be less than or equal to 499 characters.
                            </label>
                        </div>

                        <div class="clearfix"></div>
                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-9 col-sm-9  offset-md-4">
                                <button type="submit" class="btn btn-default btnayas-style">
                                    <i class="fa fa-upload"></i>
                                    Upload
                                </button>
                                <button type="button" class="btn btn-default btnayas-style" onclick="location.href='@Url.Action("SendBulkSms", "SMS")'">
                                    <i class="fa fa-refresh"></i>
                                    Clear Form
                                </button>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $('#ddlCategory').change(function () {
        var dCategory = $('#ddlCategory').val();

        if (dCategory !== null && dCategory !== '') {
            debugger;
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/SMS/GetSMSByCategoryId",
                data: { CategoryId: dCategory },
                dataType: "Json",
                success: function (data) {
                    if (data != null) {
                        $('#txtMsgTemplate').val(data.msgTemplate);
                        if (data.status == true) {
                            $('#divCusCodeMsg').show();
                        }
                        else {
                            $('#divCusCodeMsg').hide();
                        }
                    }
                },
                error: function ajaxError(response) {
                    alert("Error");
                }
            });
        }
        else {
            $('#txtMsgTemplate').val('');
        }
    });
</script>
