﻿@model filterRenewalSMSDataModel
@{
    ViewData["Title"] = "SendRenewalSMS";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<script>

    $(function () {
        $(".monthpicker").datetimepicker({
            format: "MMM/YYYY"
        });
    });

</script>

<style>
    .myStyle {
        background-color: coral;
        color: black;
    }
</style>

<link href="~/css/loading.css" rel="stylesheet" />
<script src="~/js/smsjs.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Prepare Monthly Renewal Notice</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <div class="row">

                    @if (TempData["Message"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                $('#divMsg').show();
                            };
                        </script>
                    }

                    <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">
                            &times;
                        </a>

                        <i class="fa fa-info-circle" style="font-size:16px;"></i>
                        <strong>@TempData["Message"]</strong>
                    </div>

                </div>


                @using (Html.BeginForm("GetSMSRenewalRegisterList", "SMS", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-horizontal form-label-left">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4">Expired Date</label>
                                <div class="col-md-8 col-sm-8 ">
                                    <input class="form-control monthpicker" type="text" asp-for="month" id="month" placeholder="Expired Date" required />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4">Product</label>
                                <div class="col-md-8 col-sm-8">
                                    @Html.DropDownListFor(model => model.classname, ViewBag.ProductClass as IEnumerable<SelectListItem>, "Select Product", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3">Renewal Notice Message</label>
                                <div class="col-md-9 col-sm-9">
                                    <textarea type="text" class="form-control" style="min-height:200px !important;" asp-for="message" readonly></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-9 col-sm-9  offset-md-3">
                                <button type="button" class="btn btn-default btnayas-style" onclick="location.href='@Url.Action("SendRenewalSMS", "SMS")'">
                                    <i class="fa fa-refresh"></i>
                                    Clear Form
                                </button>

                                <button type="submit" class="btn btn-primary btnayas-style">
                                    <i class="fa fa-eye"></i>
                                    Preview
                                </button>

                                <button type="button" class="btn btn-default btnayas-style" id="RenewalbtnCheckPhNo">
                                    <i class="fa fa-phone"></i>
                                    Check Ph No
                                </button>

                                <button type="button" class="btn btn-default btnayas-style" id="btnSentSMS" onclick="location.href='@Url.Action("SendCreateRenewalSMS", "SMS", new { @msg = Model.message })'">
                                    <i class="fa fa-send"></i>
                                    Send
                                </button>

                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="card-box table-responsive">
                <div>
                    <a href='@Url.Action("ExportSendRenewalSMS", "SMS", null)'>
                        <img src="~/images/excel-file.png" style="float:right;margin-bottom:10px;margin-right:10px;" />
                    </a>
                </div>
                <table id="tblSMS" class="table table-striped table-bordered dt-responsive datatable-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Phone Number</th>
                            <th>Customer Name</th>
                            <th>Invoice No</th>
                            <th>Risk Name</th>
                            <th>Expired Date</th>
                            <th>Renewal Premium</th>
                            <th>Product</th>
                            <th>From Date</th>
                            <th>To Date</th>
                            <th>Link</th>
                            <th>Customer Code</th>
                            <th>Month</th>
                            <th>PersonInCharge</th>
                            <th>Responsiable Party</th>
                            <th>Policy Number</th>
                            <th>Branch</th>
                            <th>Intermediary Type</th>
                            <th>Agent Code</th>
                            <th>Agent Name</th>
                            <th>Account Code</th>
                            <th>Authorized Code</th>
                            <th>Authorized Name</th>
                            <th style="display:none;"></th>
                            <th style="display:none;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.lstSMSRenewalViewModels != null)
                        {
                            @foreach (var motor in (List<SMSRenewalViewModel>)ViewBag.lstSMSRenewalViewModels)
                            {
                        <tr id="highlight">
                            <td style="width:100px;">@motor.PhoneNumber</td>
                            <td style="width:100px;">@motor.CustomerName</td>
                            <td style="width:100px;">@motor.InvoiceNo</td>
                            <td style="width:100px;">@motor.RiskName</td>
                            <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @motor.ExpiryDate)</td>

                            <td style="width:100px;">@motor.RenewalPremium</td>
                            <td style="width:300px;">@motor.Class</td>
                            <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @motor.FromDate)</td>
                            <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", @motor.ToDate)</td>
                            <td style="width:300px;">@motor.Link</td>

                            <td style="width:300px;">@motor.CusCode</td>
                            <td style="width:300px;">@motor.Month</td>
                            <td style="width:300px;">@motor.PersonInCharge</td>
                            <td style="width:300px;">@motor.ResponsibleParty</td>
                            <td style="width:300px;">@motor.PolicyNo</td>

                            <td style="width:300px;">@motor.Branch</td>
                            <td style="width:300px;">@motor.IntermediaryType</td>
                            <td style="width:300px;">@motor.AgentCode</td>
                            <td style="width:300px;">@motor.AgentName</td>
                            <td style="width:300px;">@motor.AccountCode</td>

                            <td style="width:300px;">@motor.AuthorizedCode</td>
                            <td style="width:300px;">@motor.AuthorizedName</td>
                            <td style="width:50px;display:none !important;">
                                <input class="form-control hdfId" type="text" value="@motor.Id" readonly style="display:none !important;" />
                            </td>
                            <td style="width:50px;display:none !important;">
                                <input class="form-control hdfPhno" type="text" value="@motor.PhoneNumber" readonly style="display:none !important;" />
                            </td>
                        </tr>
                            }
                        }


                    </tbody>
                </table>

            </div>
        </div>
    </div>


</div>

<div id="mdlMsg" class="modal fade" role="dialog" data-backdrop="true">
    <div class="modal-dialog modal-lg" style="background-color: #DFF0D8">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Remark Session</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-label-left">
                    <input type="hidden" id="hdfRenewalRemarkId" />
                    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 ">Remark</label>
                        <div class="col-md-9 col-sm-9 ">
                            <textarea class="resizable_textarea form-control" id="remark" placeholder="Please type the comment"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-9 col-sm-9  offset-md-3">
                            <button type="button" id="btnSaveRemark" class="btn btn-primary btnayas-style">
                                <i class="fa fa-send-o"></i>
                                Save Remark
                            </button>
                        </div>
                    </div>
                </form>

                <div class="clearfix"></div>
                <div class="ln_solid"></div>

                <div class="card-box table-responsive">
                    <table id="tblRemark" class="table table-striped table-bordered dt-responsive datatable-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Remark By</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>

<div id="mdlLoading" class="modal fade" role="dialog" data-backdrop="true" style="background:none !important;">
    <div class="modal-dialog modal-lg" style="background:none !important;">
        <!-- Modal content-->
        <div class="modal-body" style="min-height:400px;background-color:none !important;">
            <div class="container">
                <div class="row">
                    <div id="loader">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="lading"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
