﻿@model SurveySms;

@{
    ViewData["Title"] = "SendNewBussinessCSATSMS";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<script src="~/js/smsjs.js"></script>

<style>
    .myStyle {
        background-color: coral;
        color: black;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Prepare New Business CSAT SMS</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <br />
                <div class="row">

                    @if (TempData["Message"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                $('#divMsg').show();
                            };
                        </script>
                    }

                    <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">
                            &times;
                        </a>

                        <i class="fa fa-info-circle" style="font-size:16px;"></i>
                        <strong>@TempData["Message"]</strong>
                    </div>

                </div>


                @using (Html.BeginForm("UploadNewBussinessCSATSMS", "SMS", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-horizontal form-label-left">
                        <div class="col-md-10">
                            <div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4"> Upload "Phone Number" List<span style="color: #CE123C">*</span></label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="file" id="reportfile" name="reportfile" class="form-control" required />
                                </div>
                            </div>

                        </div>
                        <div class="col-md-10">
                            <div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4"> Template<span style="color: #CE123C">*</span></label>
                                <div class="col-md-6 col-sm-6 ">
                                    @Html.DropDownListFor(model => model.CategoryId, ViewBag.CategoryList as IEnumerable<SelectListItem>, "Select Category", new { @class = "form-control", @id = "ddlCategory" })
                                </div>
                            </div>

                        </div>
                        <div class="col-md-10">
                            <div class="form-group row">
                                <label class="control-label col-md-4 col-sm-4"> Message<span style="color: #CE123C">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <textarea type="text" class="form-control" id="ddlMsg" style="min-height:200px !important;" asp-for="Message" readonly></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-9 col-sm-9  offset-md-3">
                                <button type="button" class="btn btn-default btnayas-style" onclick="location.href='@Url.Action("SendNewBussinessCSATSMS", "SMS")'">
                                    <i class="fa fa-refresh"></i>
                                    Clear Form
                                </button>

                                <button type="submit" class="btn btn-default btnayas-style">
                                    <i class="fa fa-upload"></i>
                                    Upload
                                </button>
                                @if (ViewBag.SurveySMSList.Count != 0)
                                {
                                    <button type="button" class="btn btn-default btnayas-style" id="btnCheckPhNo">
                                        <i class="fa fa-phone"></i>
                                        Check Ph No
                                    </button>
                                }
                                @if (ViewBag.SurveySMSList.Count != 0)
                                {
                                    <button type="button" class="btn btn-default btnayas-style" id="btnConfirmCSAT" onclick="location.href='@Url.Action("ConfirmCSATSMS", "SMS")'">
                                        <i class="fa fa-check"></i>
                                        Confirm
                                    </button>
                                }

                            </div>
                        </div>
                    </div>
                }

            </div>

            @if (ViewBag.SurveySMSList.Count != 0)
            {
                <div class="card-box table-responsive">
                    <div>
                        <a href='@Url.Action("ExportCSATSurveySMS", "SMS", null)'>
                            <img src="~/images/excel-file.png" style="float:right;margin-bottom:10px;margin-right:10px;" />
                        </a>
                    </div>
                    <table id="tblSMS" class="table table-striped table-bordered dt-responsive tblSMS nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Uploaded Date</th>
                                <th>Phone Number</th>
                                <th>Customer Name</th>
                                <th>Invoice No</th>
                                <th>Risk Name</th>
                                <th>Expired Date</th>
                                <th>Renewal Premium</th>
                                <th>Product</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Link</th>
                                <th>Customer Code</th>
                                <th>Month</th>
                                <th>PersonInCharge</th>
                                <th>Responsiable Party</th>
                                <th>Policy Number</th>
                                <th>Branch</th>
                                <th>Intermediary Type</th>
                                <th>Agent Code</th>
                                <th>Agent Name</th>
                                <th>Account Code</th>
                                <th>Authorized Code</th>
                                <th>Authorized Name</th>
                                <th>Category</th>
                                <th>Message</th>
                                <th style="display:none;"></th>
                                <th style="display:none;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var survey in (List<SurveySMSViewModel>)ViewBag.SurveySMSList)
                            {
                            <tr>
                                <td></td>
                                <td style="text-align:center;">
                                    <a href='@Url.Action("DeleteSurveySMSById", "SMS", new { surveyId = survey.Id })'  onClick="return confirm('Are you sure to delete?')">
                                        <span class="fa fa-trash" style="color:#CE123C !important"></span>
                                    </a>
                                </td>
                                <td style="width:100px;">@String.Format("{0:MMM/dd/yy}", survey.UploadedDate)</td>
                                <td style="width:100px;">@survey.PhoneNumber</td>
                                <td style="width:100px;">@survey.CustomerName</td>
                                <td style="width:100px;">@survey.InvoiceNo</td>

                                <td style="width:100px;">@survey.RiskName</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", survey.ExpiryDate)</td>
                                <td style="width:100px;">@survey.RenewalPremiun</td>
                                <td style="width:300px;">@survey.Product</td>
                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", survey.FromDate)</td>

                                <td style="width:300px;">@String.Format("{0:MMM/dd/yy}", survey.ToDate)</td>
                                <td style="width:300px;">@survey.Link</td>
                                <td style="width:300px;">@survey.CusCode</td>
                                <td style="width:300px;">@survey.Month</td>
                                <td style="width:300px;">@survey.PersonInCharge</td>

                                <td style="width:300px;">@survey.ResponsibleParty</td>
                                <td style="width:300px;">@survey.PolicyNo</td>
                                <td style="width:300px;">@survey.Branch</td>
                                <td style="width:300px;">@survey.IntermediaryType</td>
                                <td style="width:300px;">@survey.AgentCode</td>

                                <td style="width:300px;">@survey.AgentName</td>
                                <td style="width:300px;">@survey.AccountCode</td>
                                <td style="width:300px;">@survey.AuthorizedCode</td>
                                <td style="width:300px;">@survey.AuthorizedName</td>
                                <td style="width:300px;">@survey.CategoryDescription</td>

                                <td style="width:300px;">@survey.Message</td>
                                <td style="width:50px;display:none !important;">
                                    <input class="form-control hdfPhno" type="text" value="@survey.PhoneNumber" readonly style="display:none !important;" />
                                </td>
                                <td style="width:50px;display:none !important;">
                                    <input class="form-control hdfId" type="text" value="@survey.Id" readonly style="display:none !important;" />
                                </td>
                            </tr>
                            }


                        </tbody>
                    </table>


                </div>
            }
        </div>
    </div>


</div>

