﻿@model BulkSMS

@{
    ViewData["Title"] = "UploadExcelBulkSMS";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<link href="~/css/loading.css" rel="stylesheet" />
<script src="~/js/smsjs.js"></script>
<script>
    $(document).ready(function () {
        var maxLength = 499;
        $('textarea').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;
            $('#chars').text(length);
        });

        $(function () {
            $('textarea').countSms('#sms-counter');
        });
    });
</script>
<style>
    .myStyle {
        background-color: coral;
        color: black;
    }

    .form-control {
        border-radius: 4px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Send BulkSms</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <br />
                <div class="row">

                    @if (TempData["Message"] != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                $('#divMsg').show();
                            };
                        </script>
                    }

                    <div id="divMsg" class="alert alert-info col-md-12" style="display:none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">
                            &times;
                        </a>

                        <i class="fa fa-info-circle" style="font-size:16px;"></i>
                        <strong>@TempData["Message"]</strong>
                    </div>

                </div>


                @using (Html.BeginForm("SendBulkSms", "SMS", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @for (int j = 0; j < Model.CusCodeList.Count; j++)
                    {
                        @Html.HiddenFor(model => Model.BulkSMSDetail[j])
                    }
                    @for (int i = 0; i < Model.PhoneNoList.Count; i++)
                    {
                        @Html.HiddenFor(model => Model.PhoneNoList[i])
                    }
                    @for (int j = 0; j < Model.UserList.Count; j++)
                    {
                        @Html.HiddenFor(model => Model.UserList[j])
                    }
                    @for (int j = 0; j < Model.InvoiceNoList.Count; j++)
                    {
                        @Html.HiddenFor(model => Model.InvoiceNoList[j])
                    }
                    @for (int j = 0; j < Model.VehicleNoList.Count; j++)
                    {
                        @Html.HiddenFor(model => Model.VehicleNoList[j])
                    }
                    @for (int j = 0; j < Model.ExpiryDateList.Count; j++)
                    {
                        @Html.HiddenFor(model => Model.ExpiryDateList[j])
                    }
                    @for (int j = 0; j < Model.RenewalPremiumList.Count; j++)
                    {
                        @Html.HiddenFor(model => Model.RenewalPremiumList[j])
                    }
                    @for (int j = 0; j < Model.ProductList.Count; j++)
                    {
                        @Html.HiddenFor(model => Model.ProductList[j])
                    }
                    @for (int j = 0; j < Model.FromDateList.Count; j++)
                    {
                        @Html.HiddenFor(model => Model.FromDateList[j])
                    }
                    @for (int j = 0; j < Model.ToDateList.Count; j++)
                    {
                        @Html.HiddenFor(model => Model.ToDateList[j])
                    }
                    @for (int j = 0; j < Model.LinkList.Count; j++)
                    {
                        @Html.HiddenFor(model => Model.LinkList[j])
                    }
                    @for (int j = 0; j < Model.CusCodeList.Count; j++)
                    {
                        @Html.HiddenFor(model => Model.CusCodeList[j])
                    }
                    @for (int j = 0; j < Model.MonthList.Count; j++)
                    {
                        @Html.HiddenFor(model => Model.MonthList[j])
                    }
                    @for (int j = 0; j < Model.PICList.Count; j++)
                    {
                        @Html.HiddenFor(model => Model.PICList[j])
                    }
                    @for (int j = 0; j < Model.ResponsiblePartyList.Count; j++)
                    {
                        @Html.HiddenFor(model => Model.ResponsiblePartyList[j])
                    }
                    @for (int j = 0; j < Model.PolicyNoList.Count; j++)
                    {
                        @Html.HiddenFor(model => Model.PolicyNoList[j])
                    }
                    @for (int j = 0; j < Model.AccountCodeList.Count; j++)
                    {
                        @Html.HiddenFor(model => Model.AccountCodeList[j])
                    }
                    @for (int j = 0; j < Model.BulkSMSDetail.Count; j++)
                    {
                        @Html.HiddenFor(model => Model.BulkSMSDetail[j])
                    }
                    @Html.HiddenFor(model => Model.CategoryId)

                    <div class="form-horizontal form-label-left">
                        <div class="col-md-12">
                            <label class="col-md-5">Message<span style="color:red;">*</span> :</label>
                            <div class="col-md-10">
                                <textarea class="form-control" name="Message" rows="7" required id="txtMsgTemplate" asp-for="Message"></textarea>
                                <span id="chars">499</span> characters remaining at 499 characters
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-top:10px;">
                            <label class="col-md-12">
                                <span style="color:red;">Note</span>: The message must be less than or equal to 499 characters.
                            </label>
                        </div>

                        <div class="clearfix"></div>
                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-9 col-sm-9  offset-md-4">
                                <button type="button" class="btn btn-default btnayas-style" onclick="location.href='@Url.Action("SendBulkSms", "SMS")'">
                                    <i class="fa fa-upload"></i>
                                    Upload Again
                                </button>
                                <button type="submit" class="btn btn-default btnayas-style" id="btnSentSMS">
                                    <i class="fa fa-send"></i>
                                    Send
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="card-box table-responsive">
                <table id="tblSMS" class="table table-striped table-bordered dt-responsive tblSMS nowrap" cellspacing="0" style="width:100%;">
                    <thead>
                        <tr>
                            <th></th>
                            @if (Model.PhoneNoList.Count > 0)
                            {
                                <th>Phone Number</th>
                            }
                            @if (Model.UserList.Count > 0)
                            {
                                <th>Receiver's Name</th>
                            }
                            @if (Model.InvoiceNoList.Count > 0)
                            {
                                <th>Invoice No</th>
                            }
                            @if (Model.VehicleNoList.Count > 0)
                            {
                                <th>Vehicle No</th>
                            }
                            @if (Model.ExpiryDateList.Count > 0)
                            {
                                <th>Expiry Date</th>
                            }
                            @if (Model.RenewalPremiumList.Count > 0)
                            {
                                <th>Renewal Premium</th>
                            }
                            @if (Model.ProductList.Count > 0)
                            {
                                <th>Product</th>
                            }
                            @if (Model.FromDateList.Count > 0)
                            {
                                <th>From Date</th>
                            }
                            @if (Model.ToDateList.Count > 0)
                            {
                                <th>To Date</th>
                            }
                            @if (Model.LinkList.Count > 0)
                            {
                                <th>Link</th>
                            }
                            @if (Model.CusCodeList.Count > 0)
                            {
                                <th>Cus Code</th>
                            }
                            @if (Model.MonthList.Count > 0)
                            {
                                <th>Month</th>
                            }
                            @if (Model.PICList.Count > 0)
                            {
                                <th>For Person in charge(PIC)</th>
                            }
                            @if (@Model.ResponsiblePartyList.Count > 0)
                            {
                                <th>Responsible Party</th>
                            }
                            @if (@Model.PolicyNoList.Count > 0)
                            {
                                <th>Policy No</th>
                            }
                            @if (@Model.AccountCodeList.Count > 0)
                            {
                                <th>Account Code</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.PhoneNoList.Count; i++)
                        {
                        <tr class="odd gradeX">
                            <td></td>
                            @if (Model.PhoneNoList.Count > 0)
                            {
                                <td>@Model.PhoneNoList[i]</td>
                            }
                            @if (Model.UserList.Count > 0)
                            {
                                <td>@Model.UserList[i]</td>
                            }
                            @if (@Model.InvoiceNoList.Count > 0)
                            {
                                <td>@Model.InvoiceNoList[i]</td>
                            }
                            @if (@Model.VehicleNoList.Count > 0)
                            {
                                <td>@Model.VehicleNoList[i]</td>
                            }
                            @if (@Model.ExpiryDateList.Count > 0)
                            {
                                <td>@Model.ExpiryDateList[i].ToString("MM/dd/yyyy")</td>
                            }
                            @if (@Model.RenewalPremiumList.Count > 0)
                            {
                                <td>@Convert.ToDecimal(Model.RenewalPremiumList[i]).ToString("#,##0")</td>
                            }
                            @if (@Model.ProductList.Count > 0)
                            {
                                <td>@Model.ProductList[i]</td>
                            }
                            @if (@Model.FromDateList.Count > 0)
                            {
                                <td>@Model.FromDateList[i].ToString("MM/dd/yyyy")</td>
                            }
                            @if (@Model.ToDateList.Count > 0)
                            {
                                <td>@Model.ToDateList[i].ToString("MM/dd/yyyy")</td>
                            }
                            @if (@Model.LinkList.Count > 0)
                            {
                                <td>@Model.LinkList[i]</td>
                            }
                            @if (@Model.CusCodeList.Count > 0)
                            {
                                <td>@Model.CusCodeList[i]</td>
                            }
                            @if (@Model.MonthList.Count > 0)
                            {
                                <td>@Model.MonthList[i]</td>
                            }
                            @if (@Model.PICList.Count > 0)
                            {
                                <td>@Model.PICList[i]</td>
                            }
                            @if (@Model.ResponsiblePartyList.Count > 0)
                            {
                                <td>@Model.ResponsiblePartyList[i]</td>
                            }
                            @if (@Model.PolicyNoList.Count > 0)
                            {
                                <td>@Model.PolicyNoList[i]</td>
                            }
                            @if (@Model.AccountCodeList.Count > 0)
                            {
                                <td>@Model.AccountCodeList[i]</td>
                            }
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="mdlLoading" class="modal hide" role="dialog" data-backdrop="true" style="background:none !important;">
    <div class="modal-dialog modal-lg" style="background:none !important;">
        <!-- Modal content-->
        <div class="modal-body" style="min-height:400px;background-color:none !important;">
            <div class="container">
                <div class="row">
                    <div id="loader">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="lading"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>